Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

Update broken link on Quick Start page
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Fix broken link on Quick Start page
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix(docs): fix broken link on Quick Start page (#280)
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  545e02111b180f546d0ac8f00879e7b2a3905eed
Due: none

chore: fix links
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/70.differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add redirects from old pages
  header-links.ts
  redirects.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  0ee9721c8d0daa045d55a5b93fab03da3b99422e
Due: none

fix: sso redirects
  redirects.ts
Due: prettier --list-different, eslint

fix: SSO Redirects (#281)
  redirects.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  0d4b6ad97569493824c44cdf44e241a28ee5333a
Due: none

fix: fix glob redirects for old structure
  redirects.ts
Due: prettier --list-different, eslint

Add section about EXTCODEHASH
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Fixes
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Add info about versionedCodeHash
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: Add section about EXTCODEHASH in differences from L1 (#283)
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  03ec55a494ca329914b39f9fc1dc94fc90bf4a97
Due: none

fix: fix glob redirects for old structure (#282)
  redirects.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  98106cb0a9ab6a3061c8d0ff7dde61d169898001
Due: none

chore: pin links in tx filtering doc to the commit
  content/10.zk-stack/40.extending/20.transaction-filtering.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: main sso redirect
  redirects.ts
Due: prettier --list-different, eslint

fix: use intro page
  redirects.ts
Due: prettier --list-different, eslint

fix: main sso redirect (#285)
  redirects.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  6e3bbb6a7856525cad46c1e295ee5775aed49c10
Due: none

fix: add missing redirect
  redirects.ts
Due: prettier --list-different, eslint

fix: add missing redirect (#286)
  redirects.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  aa32551385bf6dddb49a9918dbd639a08381cf2d
Due: none

chore: pin links in tx filtering doc to the commit (#284)
  content/10.zk-stack/40.extending/20.transaction-filtering.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add explorer and portal to zk chain quickstart
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: zkstack prover update plus a few misc things
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/20.running/_dir.yml
  cspell-config/cspell-dev.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: spelling mistake
  content/10.zk-stack/20.running/40.proving.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Create 110.user-onboarding.md
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: Add QuickNode to RaaS doc
  content/10.zk-stack/20.running/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: Add QuickNode to RaaS doc (#289)
  content/10.zk-stack/20.running/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e3cc9aa776f660e8396d5178a714523a357d44e0
Due: none

feat: add explorer + portal + prover to zk chain quickstart (#287)
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/20.running/_dir.yml
  cspell-config/cspell-dev.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0e4ec826b3a0c03241e986c8aaf249d51cd9ef38
Due: none

Update 110.user-onboarding.md to fix prettier
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 110.user-onboarding.md to fix spelling
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
