Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

Notes added by 'git notes add'
  41dddf56f4d56b4ea73aab08dbeeac56160d268a
Due: none

docs: spell
  content/20.zksync-protocol/15.zksyncos/01.double-accounting.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: spell (#414)
  content/20.zksync-protocol/15.zksyncos/01.double-accounting.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  2461b4969d92c51b7b0870d58891e95cf767796b
Due: none

fix: try fix
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: test
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: try fix
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix: try fix
  bun.lockb
  package.json
Due: prettier --list-different

fix: add more icons
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: try old icons package
  bun.lockb
  package.json
Due: prettier --list-different

chore: add more icons
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: add vscode icons
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: add icons
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: add icon
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: icons loading (#380)
  bun.lockb
  nuxt.config.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  6b18cd8bf6895a91ca879c8322be833e6c5e9615
Due: none

docs: add link for block status info
  content/20.zksync-protocol/10.api/10.conventions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add link for block status info (#415)
  content/20.zksync-protocol/10.api/10.conventions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  12c53f70db36ed30812ae92b0b7f52464904b8d2
Due: none

fix: remove trim
  tests/prividium.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint

chore: cleanup
  .github/workflows/playwright.yaml
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  tests/prividium.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove playwright packages
  bun.lockb
  package.json
Due: prettier --list-different

chore: remove logs
  examples/prividium/scripts/priv-interact.ts
Due: prettier --list-different, eslint

chore: test one more time
  .github/workflows/playwright.yaml
Due: none

chore: debug
  .github/workflows/playwright.yaml
  tests/prividium.ts
Due: prettier --list-different, eslint

feat: adds ai links
  components/layout/Toc.vue
Due: prettier --list-different, eslint

fix: ci error
  components/layout/Toc.vue
Due: prettier --list-different, eslint

feat: adds ai links (#417)
  components/layout/Toc.vue
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  775ad91308869136a8815c714480efc966b246e5
Due: none

Update faucet links and sort order in index.md
  content/00.zksync-era/60.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add Avail DA validator on GW mainnet
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add Avail DA validator on GW mainnet (#419)
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1848afb9344571cea771f892bb50cdc79e800d68
Due: none

docs: refactor sso docs, add new methods
  content/00.zksync-era/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/27.account-modules.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/27.accounts.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/60.supported-environments.md
  cspell-config/cspell-dev.txt
  examples/sso/.gitignore
  examples/sso/bun.lock
  examples/sso/index.html
  examples/sso/package.json
  examples/sso/src/deployModularAccount.ts
  examples/sso/src/ecdsa.ts
  examples/sso/src/main.ts
  examples/sso/src/registerPasskey.ts
  examples/sso/src/reownAppkit.ts
  examples/sso/src/vite-env.d.ts
  examples/sso/src/wagmi.ts
  examples/sso/tsconfig.json
  firebase.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files
