Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: predeploys, not era
  content/00.zksync-network/90.security-best-practices.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/30.zk-chain-addresses.md
  content/20.zksync-protocol/30.era-vm/75.evm-interpreter/06.pre-deployed-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: predeploys, not era (#465)
  content/00.zksync-network/90.security-best-practices.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/30.zk-chain-addresses.md
  content/20.zksync-protocol/30.era-vm/75.evm-interpreter/06.pre-deployed-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ba01e1f4f4ae8e45cb06e6d47325b8a3a44bacd3
Due: none

feat: use new og images
  bun.lockb
  package.json
Due: prettier --list-different

chore: add ZKsync OS verification url
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/65.zksync-os/_partials/_foundry.md
  content/_partials/_zksyncos/_run-script.md
  content/_partials/_zksyncos/_setup.md
  examples/zksync-os/bun.lock
  examples/zksync-os/hardhat.config.ts
  examples/zksync-os/package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: test fix
  bun.lockb
  package.json
Due: prettier --list-different

chore: test again
  bun.lockb
  package.json
Due: prettier --list-different

chore: add ZKsync OS verification url (#466)
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/65.zksync-os/_partials/_foundry.md
  content/_partials/_zksyncos/_run-script.md
  content/_partials/_zksyncos/_setup.md
  examples/zksync-os/bun.lock
  examples/zksync-os/hardhat.config.ts
  examples/zksync-os/package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: use latest template
  bun.lockb
  package.json
Due: prettier --list-different

feat: new og image (#464)
  bun.lockb
  content/00.zksync-network/10.guides/10.quick-start/1.index.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-network/65.zksync-os/00.index.md
  content/10.zk-stack/00.index.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/01.deepdive.md
  content/10.zk-stack/35.prividium/00.overview.md
  content/20.zksync-protocol/02.zksyncos/00.index.md
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/10.api/00.index.md
  content/20.zksync-protocol/30.era-vm/00.index.md
  package.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  f58ebfa0461e416fa0a5d36acf79833caea5fcda
Due: none

docs: adds unifra to RaaS providers list
  content/10.zk-stack/20.running/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: minor updates to ZKsync OS FAQ
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: minor update to ZKsync OS FAQ (#467)
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  562a7aa0725f4a5fa8be985925714769fe28177d
Due: none

feat: era ecosystem
  content/00.zksync-network/25.zksync-era/00.index.md
  content/00.zksync-network/25.zksync-era/02.unique-features.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/10.bridges.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/110.user-onboarding.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/120.paymasters.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/20.cross-chain.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/50.monitoring.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/60.network-faucets.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/80.oracles.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/_dir.yml
  content/00.zksync-network/40.tooling/50.external-node.md
  content/00.zksync-network/60.ecosystem/40.ide.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: redirects ecosystem
  content/00.zksync-network/50.sdk/30.python/30.guides/01.features.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links
  content/00.zksync-network/00.index.md
  content/00.zksync-network/10.guides/10.quick-start/1.index.md
  content/00.zksync-network/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-network/10.guides/10.quick-start/4.erc20-token.md
  content/00.zksync-network/25.zksync-era/00.index.md
  content/00.zksync-network/25.zksync-era/01.network-details.md
  content/00.zksync-network/25.zksync-era/02.unique-features.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-network/50.sdk/00.index.md
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/20.zksync-protocol/10.api/00.index.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: removes goldsky
  content/00.zksync-network/25.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: adds unifra to RaaS providers list (#451)
  content/10.zk-stack/20.running/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4b30c797659636c327c87e8508c012c8f7fd9030
Due: none

fix: removes dappradar links
  content/00.zksync-network/25.zksync-era/60.ecosystem/10.bridges.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/80.oracles.md
  content/00.zksync-network/25.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e86de73816c0ee308b3def6f312e5966d1508805
Due: none

feat: new audits
  content/20.zksync-protocol/25.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: new audits (#469)
  content/20.zksync-protocol/25.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  846688313b8a6965dd035b82bc9fc12ea77093dc
Due: none

Update 20.migrating-to-zksync.md
  content/00.zksync-network/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo
  content/10.zk-stack/10.zk-chains.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try new bun lock file
  bun.lock
  bun.lockb
Due: none

fix: try fix
  bun.lock
  package.json
Due: prettier --list-different

fix: try fix
  .github/workflows/deploy-preview.yml
Due: prettier --list-different

fix: try fix
  bunfig.toml
Due: none

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
