Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: replace links 10.node-framework.md (#395)
  content/10.zk-stack/40.extending/10.node-framework.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  544fd8979b8c29a67fde86bf991991759b8966e3
Due: none

fix: add bundle back
  nuxt.config.ts
Due: prettier --list-different, eslint

docs: remove consecutive duplicate words (#358)
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/50.sdk/20.go/40.api/20.accounts/04.walletl1.md
  content/20.zksync-protocol/20.contracts/40.handling-l1-l2-ops.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  a4333b4399b2015d7b9556f151e538eefe4cee03
Due: none

ci: Restrict workflow permissions (#337)
  .github/workflows/checks.yaml
  .github/workflows/secrets_scanner.yaml
Due: none

fix: Update 20.dockerized-l1-l2-nodes.md (#330)
  content/00.zksync-era/40.tooling/10.local-setup/20.dockerized-l1-l2-nodes.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  5aaa5d979fff8497e0f02764d095d4376c308066
Due: none

fix: Update 70.data-availability.md (#353)
  content/20.zksync-protocol/00.rollup/70.data-availability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  a73fb81ee18ce19e29ddca9c9dc8e1db85193122
Due: none

Update 90.node-providers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix from template
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix: fix
  nuxt.config.ts
Due: prettier --list-different, eslint

docs: add request batching example
  content/20.zksync-protocol/10.api/10.conventions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add request batching example (#404)
  content/20.zksync-protocol/10.api/10.conventions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  bb60fe1929ca8dac8a7dd6c92a3d84fbe8edece9
Due: none

fix: update 10.bridges.md
  content/00.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update 10.bridges.md (#405)
  content/00.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  14d50b4b3b3118677464ced26705785ccdea5f9b
Due: none

fix: ecosystem links
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
  content/00.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: update Validium doc
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: markdown
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: ecosystem links (#406)
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
  content/00.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  480ce61bf6a26bd1ffccab01a95ffb11b5a4e937
Due: none

fix: md
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove bridges without zksync support
  content/00.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: update Validium doc (#407)
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  81d122d4665996dbeb4fb2d540611e7af59abf9d
Due: none

chore: remove bridges without zksync support (#408)
  content/00.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: lint, spelling errors fixed
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add zk token address
  content/00.zksync-era/20.environment/10.l1-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add testnet ZK address
  content/00.zksync-era/20.environment/10.l1-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: address
  content/00.zksync-era/20.environment/10.l1-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add zk token address (#411)
  content/00.zksync-era/20.environment/10.l1-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  501e05a3c4f0ec5fcbef94fc6885996748a8f0ac
Due: none

chore: debug
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: zks_getBytecodeByHash doc
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: cleanup
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: zks_getBytecodeByHash doc (#413)
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
