Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: remove endpoint to be removed, add warning
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-bytecode-supplier-contract.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-bytecode-supplier-contract.md
  examples/hardhat-sol-template/test/eth-rpc.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update zksync-os rpc methods (#483)
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_send-raw-transaction-sync.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_web3_client-version.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_web3_sha3.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-block-metadata-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_send-raw-transaction-sync.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_web3_client-version.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_web3_sha3.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-block-metadata-by-number.md
  content/20.zksync-protocol/10.api/_partials/_txn-receipt.md
  examples/hardhat-sol-template/test/eth-rpc.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c43e1268ea4155a62ecb5a1b42d24e98d380ee4c
Due: none

docs: draft outline for interop docs
  content/00.zksync-network/30.unique-features/50.zksync-connect/00.index.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/20.transaction-bundles.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/30.crosschain-asset-transfers.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add links for zksync os server setup
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: clarify local setup instructions
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: cleanup
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add links for zksync os server setup (#486)
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b862ea9e2c896832454b7b5f2c27818646fd37e5
Due: none

feat: doc updates for SSO 7579
  content/00.zksync-network/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/27.accounts.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/28.account-recovery.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/5.getting-started.md
  cspell-config/cspell-misc.txt
  examples/sso/package.json
  examples/sso/src/deployModularAccount.ts
  examples/sso/src/ecdsa.ts
  examples/sso/src/registerPasskey.ts
  examples/sso/src/reownAppkit.ts
  examples/sso/src/wagmi.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: removed method, wording
  content/10.zk-stack/35.prividium/60.developer-considerations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove user docs
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: permission api
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: general user management doc
  content/10.zk-stack/35.prividium/25.administration-user-management.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: okta to oidc
  content/10.zk-stack/35.prividium/25.administration-user-management.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: trademark
  content/10.zk-stack/35.prividium/70.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: adjust titles
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: redirect config section
  firebase.json
Due: prettier --list-different

fix: prividium updates and fixes (#488)
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/25.administration-user-management.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
  content/10.zk-stack/35.prividium/60.developer-considerations.md
  content/10.zk-stack/35.prividium/70.license.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1f8aac46d8e21f19b0594484399b481a63044a16
Due: none

Update 00.index.md
  content/10.zk-stack/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Add Stork oracle to oracles documentation
  content/00.zksync-network/25.zksync-era/60.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 30.data-indexers.md, added Zerion API
  content/00.zksync-network/25.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add Codex to data indexers page
  content/00.zksync-network/25.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update warning about private keys in .env (closes #187)
  content/00.zksync-network/10.guides/20.zksync-101/_hello/_era-vm.md
  content/00.zksync-network/10.guides/20.zksync-101/_hello/_evm.md
  content/00.zksync-network/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-network/40.tooling/20.hardhat/20.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: structure for agent automation
  .github/ISSUE_TEMPLATE/docs_request.yml
  AGENTS.md
  CLAUDE.md
  ISSUE_TRIAGE.md
  agent/GLOSSARY.md
  agent/IA.md
  agent/PLAYBOOKS/fix_bug.md
  agent/PLAYBOOKS/new_page.md
  agent/PLAYBOOKS/update_page.md
  agent/POLICY.md
  agent/PROMPTS/pr_description.md
  agent/PROMPTS/task_spec.md
  agent/RUBRICS/reviewer_correctness.md
  agent/RUBRICS/reviewer_ia.md
  agent/RUBRICS/reviewer_style.md
  agent/RUBRICS/reviewer_ux.md
  agent/SOURCES.md
  agent/STYLE_GUIDE.md
  internal/automation/definition-of-done.md
  internal/automation/labels.md
  internal/automation/overview.md
  internal/automation/triage.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: structure for agent automation (#495)
  .github/ISSUE_TEMPLATE/docs_request.yml
  AGENTS.md
  CLAUDE.md
  ISSUE_TRIAGE.md
  agent/GLOSSARY.md
  agent/IA.md
  agent/PLAYBOOKS/fix_bug.md
  agent/PLAYBOOKS/new_page.md
  agent/PLAYBOOKS/update_page.md
  agent/POLICY.md
  agent/PROMPTS/pr_description.md
  agent/PROMPTS/task_spec.md
  agent/RUBRICS/reviewer_correctness.md
  agent/RUBRICS/reviewer_ia.md
  agent/RUBRICS/reviewer_style.md
  agent/RUBRICS/reviewer_ux.md
  agent/SOURCES.md
  agent/STYLE_GUIDE.md
  internal/automation/definition-of-done.md
  internal/automation/labels.md
  internal/automation/overview.md
  internal/automation/triage.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  9aa6d6a8b1608e3ae94704a6f1d9f18fb0ed14fd
Due: none

chore: start adding examples
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/30.messaging.md
  content/00.zksync-network/45.zksync-connect/_dir.yml
  examples/local-zksync-os/.gitignore
  examples/local-zksync-os/bun.lock
  examples/local-zksync-os/contracts/Counter.sol
  examples/local-zksync-os/contracts/CounterAdapter.sol
  examples/local-zksync-os/contracts/InteropCounter.sol
  examples/local-zksync-os/hardhat.config.ts
  examples/local-zksync-os/package.json
  examples/local-zksync-os/scripts/interop-adapter.ts
  examples/local-zksync-os/scripts/interop-counter.ts
  examples/local-zksync-os/tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add solidity bundle example
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  examples/local-zksync-os/contracts/InteropBundleSolidityDemo.sol
  examples/local-zksync-os/package.json
  examples/local-zksync-os/scripts/interop-solidity-demo.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: spacing
  examples/local-zksync-os/scripts/interop-solidity-demo.ts
Due: prettier --list-different, eslint

chore: remove old prividium example
  examples/prividium/.env.example
  examples/prividium/.gitignore
  examples/prividium/.npmrc
  examples/prividium/bun.lockb
  examples/prividium/contracts/erc20/MyERC20Token.sol
  examples/prividium/example-permissions.yaml
  examples/prividium/hardhat.config.ts
  examples/prividium/package.json
  examples/prividium/permissions.yaml
  examples/prividium/scripts/check-balance.ts
  examples/prividium/scripts/deploy-erc20.ts
  examples/prividium/scripts/print-format.ts
  examples/prividium/scripts/priv-interact.ts
  examples/prividium/tsconfig.json
Due: prettier --list-different, eslint

docs: add context for agents
  agent/POLICY.md
  agent/STYLE_GUIDE.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add context for agents (#497)
  agent/POLICY.md
  agent/STYLE_GUIDE.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  3c24e53a741847777ed1229916ee665589e2a71a
Due: none

fix: link, instructions
  content/00.zksync-network/10.quick-start/_partials/_local-funds.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-local.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-testnet.md
  content/00.zksync-network/10.quick-start/_partials/react/_react-frontend-local.md
  content/00.zksync-network/10.quick-start/_partials/vue/_vue-frontend-local.md
  content/00.zksync-network/25.zksync-era/01.network-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add draft test for local foundry contract
  components/TestAction.vue
  content/00.zksync-network/10.quick-start/1.index.md
  content/00.zksync-network/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-network/10.quick-start/4.interact-with-your-contract.md
  content/00.zksync-network/10.quick-start/_partials/_contract.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-interact-local.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-local.md
  tests/configs/quickstart-foundry.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files
