Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

feat: raas and validium fixes
  content/10.zk-stack/00.index.md
  content/10.zk-stack/20.running/70.raas.md
  content/10.zk-stack/30.customizations/20.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: mention atlas and other components
  content/00.zksync-network/65.zksync-os/00.index.md
  content/00.zksync-network/65.zksync-os/05.network-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: devnet reference
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  data/chains.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: devnet mention
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: non reverse cbt
  content/10.zk-stack/30.customizations/10.custom-base-tokens.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: mention atlas and other components (#449)
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/65.zksync-os/00.index.md
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  data/chains.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  fa4d2c7c2b86ca5488b8dcc2700c2cc08307c086
Due: none

chore: bump deps
  bun.lockb
  package.json
Due: prettier --list-different

chore: bump deps (#450)
  bun.lockb
  package.json
Due: prettier --list-different

docs: adds unifra to RaaS providers list
  content/10.zk-stack/20.running/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update eth endpoints
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/30.debug-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_block-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-header-by-hash.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-header-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-raw-transaction-by-block-hash-and-index.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-raw-transaction-by-block-number-and-index.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-raw-transaction-by-hash.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-transaction-by-block-number-and-index.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_get-transaction-by-sender-and-nonce.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_max-priority-fee-per-gas.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_syncing.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_net-version.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_block-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-header-by-hash.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-header-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-raw-transaction-by-block-hash-and-index.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-raw-transaction-by-block-number-and-index.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-raw-transaction-by-hash.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-transaction-by-block-number-and-index.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_get-transaction-by-sender-and-nonce.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_max-priority-fee-per-gas.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_syncing.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_net-version.md
  content/20.zksync-protocol/10.api/_partials/_block-id.md
  content/20.zksync-protocol/10.api/_partials/_header.md
  content/20.zksync-protocol/10.api/_partials/_raw-txn.md
  content/20.zksync-protocol/10.api/_partials/_txn-hash-info.md
  content/20.zksync-protocol/10.api/_partials/_txn-hash.md
  content/20.zksync-protocol/10.api/_partials/_txn-object-send.md
  content/20.zksync-protocol/10.api/_partials/_txn-object.md
  content/20.zksync-protocol/10.api/_partials/_txn.md
  examples/hardhat-sol-template/test/eth-rpc.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: move contracts back out
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/_partials/_header.md
  content/20.zksync-protocol/10.api/_partials/_raw-txn.md
  content/20.zksync-protocol/10.api/_partials/_txn.md
  content/20.zksync-protocol/20.contracts/00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/10.l1-ecosystem-contracts.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/_dir.yml
  content/20.zksync-protocol/20.contracts/20.bootloader.md
  content/20.zksync-protocol/20.contracts/30.system-contracts.md
  content/20.zksync-protocol/20.contracts/40.handling-l1-l2-ops.md
  content/20.zksync-protocol/20.contracts/50.handling-pubdata.md
  content/20.zksync-protocol/20.contracts/60.pubdata-post-4844.md
  content/20.zksync-protocol/20.contracts/_dir.yml
  content/20.zksync-protocol/25.security/10.audits.md
  content/20.zksync-protocol/25.security/20.bug-bounty.md
  content/20.zksync-protocol/25.security/30.withdrawal-delay.md
  content/20.zksync-protocol/25.security/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update rpc docs
  content/20.zksync-protocol/10.api/30.debug-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_debug_trace-block-by-hash.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_debug_trace-block-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_debug_trace-call.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_debug_trace-transaction.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-bridgehub-contract.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-genesis.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-l2-to-l1-log-proof.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_debug_trace-block-by-hash.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_debug_trace-block-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_debug_trace-call.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_debug_trace-transaction.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-bridgehub-contract.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-genesis.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-l2-to-l1-log-proof.md
  content/20.zksync-protocol/10.api/_partials/_trace-result.md
  examples/hardhat-sol-template/test/eth-rpc.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: new links
  content/00.zksync-network/00.index.md
  content/00.zksync-network/10.guides/20.zksync-101/50.paymaster.md
  content/00.zksync-network/30.unique-features/10.account-abstraction.md
  content/00.zksync-network/30.unique-features/20.paymaster.md
  content/00.zksync-network/30.unique-features/40.evm-interpreter/01.evm-interpreter.md
  content/00.zksync-network/30.unique-features/40.evm-interpreter/02.faq.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.zksync-network/50.sdk/10.js/00.viem/00.index.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/01.features.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/05.api/10.v5/10.providers/01.provider.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/05.api/10.v5/50.utilities/01.paymaster-utils.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/05.api/20.v6/10.providers/01.provider.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/05.api/20.v6/50.utilities/01.paymaster-utils.md
  content/00.zksync-network/50.sdk/10.js/02.web3js/06.paymasters.md
  content/00.zksync-network/50.sdk/10.js/02.web3js/07.contracts.md
  content/00.zksync-network/50.sdk/10.js/02.web3js/08.smart-accounts.md
  content/00.zksync-network/50.sdk/20.go/30.guides/01.features.md
  content/00.zksync-network/50.sdk/40.java/20.guides/01.features.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/00.zksync-network/90.security-best-practices.md
  content/10.zk-stack/20.running/35.validium.md
  content/20.zksync-protocol/00.index.md
  content/20.zksync-protocol/00.rollup/30.l1_l2_communication.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/00.index.md
  content/20.zksync-protocol/20.contracts/20.bootloader.md
  content/20.zksync-protocol/20.contracts/30.system-contracts.md
  content/20.zksync-protocol/20.contracts/40.handling-l1-l2-ops.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/10.transaction-lifecycle.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/50.fee-model/10.how-l2-gas-price-works.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/50.fee-model/30.fee-structure.md
  content/20.zksync-protocol/30.zksync-era/30.vm/00.index.md
  content/20.zksync-protocol/30.zksync-era/40.circuits/20.circuits/10.index.md
  content/20.zksync-protocol/30.zksync-era/40.circuits/20.circuits/120.sorting/10.index.md
  content/20.zksync-protocol/30.zksync-era/70.differences/60.contract-deployment.md
  content/20.zksync-protocol/30.zksync-era/80.account-abstraction/50.signature-validation.md
  content/_partials/_eravm_vs_evm.md
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: minor title adjustments
  content/10.zk-stack/15.components/_dir.yml
  content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/20.running/_dir.yml
  content/10.zk-stack/30.customizations/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: redirects
  content/10.zk-stack/15.components/15.server.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: redirect, fix links
  content/00.zksync-network/65.zksync-os/00.index.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  5e31d53de5f3ae7b3a6f19f40da41334bca40b00
Due: none

docs: fix links
  content/00.zksync-network/00.index.md
  content/00.zksync-network/10.guides/10.quick-start/_deploy_first/_eravm_remix_deploy_contract.md
  content/00.zksync-network/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-network/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.zksync-network/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/01.features.md
  content/00.zksync-network/50.sdk/20.go/30.guides/01.features.md
  content/00.zksync-network/50.sdk/40.java/20.guides/01.features.md
  content/00.zksync-network/90.security-best-practices.md
  content/20.zksync-protocol/10.api/_partials/_call-request-params.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/10.transaction-lifecycle.md
  content/20.zksync-protocol/30.zksync-era/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/30.zksync-era/70.differences/60.contract-deployment.md
  content/20.zksync-protocol/30.zksync-era/80.account-abstraction/50.signature-validation.md
  content/_partials/remix/deploy/_status.md
  content/_partials/remix/erc20/_deploy_eravm.md
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix links
  content/00.zksync-network/30.unique-features/50.zksync-connect/00.index.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/20.zksync-protocol/00.index.md
  content/20.zksync-protocol/00.rollup/30.l1_l2_communication.md
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/20.contracts/20.bootloader.md
  content/20.zksync-protocol/20.contracts/30.system-contracts.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/50.fee-model/30.fee-structure.md
  content/20.zksync-protocol/30.zksync-era/75.evm-interpreter/00.overview.md
  content/20.zksync-protocol/30.zksync-era/75.evm-interpreter/01.deployment-execution.md
  firebase.json
  nuxt.config.ts
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix link
  content/10.zk-stack/35.prividium/20.proxy.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add Prividium new features (#444)
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissioning.md
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/50.explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  dda131283279b58e1060edb02694ee90066cb6db
Due: none

docs: fix links
  content/20.zksync-protocol/00.rollup/60.finality.md
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/50.fee-model/10.how-l2-gas-price-works.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/_dir.yml
  content/20.zksync-protocol/30.zksync-era/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: added permission system
  content/10.zk-stack/00.index.md
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: lint issues
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/05.architecture.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: removed index page by mistake
  content/10.zk-stack/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: new upgrades, overview links
  content/20.zksync-protocol/00.rollup/00.index.md
  content/20.zksync-protocol/90.upgrades-and-migrations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: added permission system configuration docs (#452)
  content/10.zk-stack/00.index.md
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0d2085762fdc97614da890bc46851d4cf9810172
Due: none

docs: fix link
  content/20.zksync-protocol/00.rollup/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix link
  content/10.zk-stack/35.prividium/05.architecture.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update chains list, alphabetize
  data/chains.json
Due: prettier --list-different

docs: reorg chains list columns
  components/ChainsList.vue
Due: prettier --list-different, eslint

fix: headers
  app.vue
  header-links.ts
Due: prettier --list-different, eslint

fix: try fix
  app.vue
Due: prettier --list-different, eslint

docs: update chains list, alphabetize (#453)
  components/ChainsList.vue
  data/chains.json
Due: prettier --list-different, eslint
