Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: recovers tags
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken link
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links restructure
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: last broken links
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: algolia search docs links
  bun.lockb
  package.json
Due: prettier --list-different

feat: migration guide (#163)
  content/00.build/40.tooling/20.hardhat/20.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  9389619d6afefcd141c8a53a429cbe4ccb82f0b3
Due: none

chore: wip
  bun.lockb
  package.json
Due: prettier --list-different

fix: wip
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix: update version
  bun.lockb
  package.json
Due: prettier --list-different

fix: edits
  bun.lockb
  package.json
Due: prettier --list-different

fix: rich wallets content and format
  content/00.build/60.test-and-debug/10.dockerized-l1-l2-nodes.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/_partials/_rich-wallets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: rich wallets content and format (#223)
  content/00.build/60.test-and-debug/10.dockerized-l1-l2-nodes.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/_partials/_rich-wallets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1812e8712c782dc147a92fb63d7fbe11ffbb5b3d
Due: none

chore: make requested changes
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/05.overview.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
  content/00.build/60.test-and-debug/50.foundry.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: make requested changes
  content/00.build/40.tooling/30.foundry/10.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/60.test-and-debug/50.foundry.md
  content/00.build/60.test-and-debug/50.foundry.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Apply suggestions from code review
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/10.compilation.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: make requested changes
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update version
  package.json
Due: prettier --list-different

chore: fix
  bun.lockb
  package.json
Due: prettier --list-different

fix: docs template update
  bun.lockb
  package.json
Due: prettier --list-different

Apply suggestions from code review
  content/00.build/40.tooling/30.foundry/10.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add new line
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update docs-nuxt-template version
  .husky/pre-commit
  bun.lockb
  package.json
Due: prettier --list-different

fix: hardhat redirect links
  firebase.json
Due: prettier --list-different

feat: Migration guide for Foundry projects (#204)
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/05.overview.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/10.compilation.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
  content/00.build/40.tooling/30.foundry/_dir.yml
  content/00.build/60.test-and-debug/50.foundry.md
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1b43f038204623087cf988d2cba5b84657f8ad8a
Due: none

fix: algolia search docs links (#222)
  .husky/pre-commit
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  a552869f0dad8ed534eba2187421385564077a37
Due: none

fix: fix typo in migration guide for hh
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fix typo in migration guide for hh (#225)
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  922f45b30656ee272df512a72089cba02cce972e
Due: none

fix: redirect for old hardhat links
  firebase.json
Due: prettier --list-different

fix: duplicated guide, info hh-network
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: info remove withdraw delay
  content/00.build/95.resources/80.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
