Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell check

Notes added by 'git notes add'
  2a808978e6ffd33a962e6b9f1c04aa3aa128ef58
Due: none

chore: add pr title check workflow
  .github/workflows/check-pr-title.yaml
Due: none

chore: add pr title check workflow (#123)
  .github/workflows/check-pr-title.yaml
Due: none

docs: update developer reference docs
  .gitignore
  content/00.build/65.developer-reference/10.intro-rollups.md
  content/00.build/65.developer-reference/10.protocol.md
  content/00.build/65.developer-reference/15.migrate-era-to-chain.md
  content/00.build/65.developer-reference/20.zksync-overview.md
  content/00.build/65.developer-reference/21.batches-and-l2-blocks.md
  content/00.build/65.developer-reference/22.era-vm/00.index.md
  content/00.build/65.developer-reference/22.era-vm/_dir.yml
  content/00.build/65.developer-reference/50.era-contracts/10.l1-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/20.system-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/30.pubdata-post-4844.md
  content/00.build/65.developer-reference/50.era-contracts/40.handling-l1-l2-ops.md
  content/00.build/65.developer-reference/50.era-contracts/50.handling-pubdata.md
  content/00.build/65.developer-reference/50.era-contracts/60.elliptic-curve-precompiles.md
  content/00.build/65.developer-reference/60.fee-model/00.index.md
  content/00.build/65.developer-reference/60.fee-model/10.how-l2-gas-price-works.md
  content/00.build/65.developer-reference/60.fee-model/20.how-we-charge-for-pubdata.md
  content/00.build/65.developer-reference/60.fee-model/_dir.yml
  content/00.build/65.developer-reference/70.fee-model.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/00.index.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/10.l2-l1-communication-before-boojum.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/_dir.yml
  cspell-config/cspell-misc.txt
  firebase.json
  public/images/developer-reference/era-vm/arch-overview.png
  public/images/developer-reference/era-vm/arithmetic_opcode.png
  public/images/developer-reference/l1-smart-contracts/Diamond-scheme.png
  public/images/developer-reference/l1-smart-contracts/Governance-scheme.jpg
  public/images/developer-reference/l1-smart-contracts/Hyperchain-scheme.png
  public/images/developer-reference/l1-smart-contracts/L1-L2_tx_processing_on_L2.png
  public/images/developer-reference/l1-smart-contracts/newChain.png
  public/images/developer-reference/l1-smart-contracts/requestL2TransactionDirect-ETH.png
  public/images/developer-reference/l1-smart-contracts/requestL2TransactionDirect.png
  public/images/developer-reference/l1-smart-contracts/requestL2TransactionTwoBridges-depositEthToUSDC.png
  public/images/developer-reference/zksync-components.png
Due: prettier --list-different, markdownlint-cli2, cspell check

chore: modify pr title check
  .github/workflows/check-pr-title.yaml
Due: none

chore: modify pr title check (#124)
  .github/workflows/check-pr-title.yaml
Due: none

chore: testing pr title check
  README.md
Due: markdownlint-cli2, cspell check

chore: add additional permissions to pr title check
  .github/workflows/check-pr-title.yaml
Due: none

chore: add additional permissions to pr title check (#128)
  .github/workflows/check-pr-title.yaml
Due: none

feat: add Transaction filtering info
  content/10.zk-stack/05.concepts/00.transaction-lifecycle.md
Due: markdownlint-cli2, cspell check

feat: add PWA to site
  app.vue
  bun.lockb
  firebase.json
  nuxt.config.ts
  package.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/zksync-icon_180.png
  public/zksync-icon_192.png
  public/zksync-icon_48.png
  public/zksync-icon_48.svg
  public/zksync-icon_512.png
  public/zksync-icon_64.png
Due: prettier --list-different, eslint

chore: edit pwa config
  app.vue
  firebase.json
  nuxt.config.ts
  public/zksync-maskable.png
Due: prettier --list-different, eslint

chore: edit pwa config
  app.vue
  nuxt.config.ts
  public/zksync-icon_150.svg
Due: prettier --list-different, eslint

chore: update browser icons
  public/zksync-icon_150.svg
  public/zksync-icon_180.png
  public/zksync-icon_192.png
  public/zksync-icon_48.png
  public/zksync-icon_48.svg
  public/zksync-icon_512.png
  public/zksync-icon_64.png
Due: none

Update 60.elliptic-curve-precompiles.md
  content/00.build/65.developer-reference/50.era-contracts/60.elliptic-curve-precompiles.md
Due: markdownlint-cli2, cspell check

docs: document compiler output
  content/10.zk-stack/10.components/70.compiler/20.specification/10.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
  cspell-config/cspell-dev.txt
  cspell-config/cspell-zasm.txt
  cspell.json
Due: prettier --list-different, markdownlint-cli2, cspell check

chore: edit pwa settings
  app.vue
  firebase.json
Due: prettier --list-different, eslint

New Changes
  content/00.build/65.developer-reference/15.migrate-era-to-chain.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/30.pubdata-post-4844.md
Due: markdownlint-cli2, cspell check

chore: add ability to run deploy prod manually
  .github/workflows/deploy-prod.yml
Due: prettier --list-different

feat: add PWA to site (#129)
  app.vue
  bun.lockb
  firebase.json
  nuxt.config.ts
  package.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/zksync-icon_150.svg
  public/zksync-icon_180.png
  public/zksync-icon_192.png
  public/zksync-icon_48.png
  public/zksync-icon_48.svg
  public/zksync-icon_512.png
  public/zksync-icon_64.png
  public/zksync-maskable.png
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  d713520543dc0d3da4a44f4e8eaaceab8e5f4a6b
Due: none

fix: move particles on landing page behind content on page
  pages/index.vue
Due: prettier --list-different, eslint

fix: move particles on landing page behind content on page (#133)
  pages/index.vue
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  97273625636651fcb73bfe918275a5832f40bc86
Due: none

fix: lint issues
  content/10.zk-stack/05.concepts/00.transaction-lifecycle.md
Due: markdownlint-cli2, cspell check

Update 90.node-providers.md
  content/30.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell check

chore: move to components
  content/10.zk-stack/05.concepts/00.transaction-lifecycle.md
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell check

fix: add 'filter'
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell check

fix: add title
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell check

chore: h3 -> h2
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell check

feat: add Transaction filtering info (#134)
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  f395ed3e71c94edb7e5f201ca89a68f72fe1a27c
Due: none

l1 ecosystem contracts update
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
Due: markdownlint-cli2, cspell check

chore: add config for stackblitz
  package.json
Due: prettier --list-different

docs: Add Blast API in Provider's list - Update 90.node-providers.md (#136)
  content/30.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  bbc7d6cacd35f11eef6b155559c44db5427ed7d9
Due: none

docs: Updates as per the v24 release (#130)
  content/00.build/65.developer-reference/15.migrate-era-to-chain.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/30.pubdata-post-4844.md
  content/00.build/65.developer-reference/50.era-contracts/60.elliptic-curve-precompiles.md
Due: markdownlint-cli2, cspell check

docs: cleanup
  content/00.build/65.developer-reference/21.batches-and-l2-blocks.md
  content/00.build/65.developer-reference/50.era-contracts/10.l1-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/30.pubdata-post-4844.md
  content/00.build/65.developer-reference/50.era-contracts/50.handling-pubdata.md
  content/00.build/65.developer-reference/50.era-contracts/60.elliptic-curve-precompiles.md
  content/00.build/65.developer-reference/60.fee-model/10.how-l2-gas-price-works.md
  content/00.build/65.developer-reference/60.fee-model/20.how-we-charge-for-pubdata.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/00.index.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/10.l2-l1-communication-before-boojum.md
Due: markdownlint-cli2, cspell check

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell check: any of: *.md
