Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

feat: adds hh-etherscan plugin
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: info about import zksync last
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: adds unsupported
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: hardhat-network-helpers and withdraw delay info (#226)
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.build/95.resources/80.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  88ea12df483141bc13535da0c52fc00759e13945
Due: none

fix: fix wording for returndatacopy behavior
  content/00.build/65.developer-reference/30.ethereum-differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fix wording for returndatacopy behavior (#229)
  content/00.build/65.developer-reference/30.ethereum-differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0ecb3a20c94bd01677b50d6f9e2dc456009b6d62
Due: none

fix: updates for remix
  content/00.build/05.start-coding/05.quick-start/4.erc20-token.md
  content/00.build/05.start-coding/05.quick-start/_deploy_first/_remix_deploy_contract.md
  content/00.build/05.start-coding/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.build/05.start-coding/05.quick-start/_erc20_tutorial/_remix_erc20_tutorial.md
  content/00.build/05.start-coding/05.quick-start/_paymaster_intro/_remix_paymaster_intro.md
  public/images/remix-connect-wallet.gif
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: updates for remix quickstart (#230)
  content/00.build/05.start-coding/05.quick-start/4.erc20-token.md
  content/00.build/05.start-coding/05.quick-start/_deploy_first/_remix_deploy_contract.md
  content/00.build/05.start-coding/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.build/05.start-coding/05.quick-start/_erc20_tutorial/_remix_erc20_tutorial.md
  content/00.build/05.start-coding/05.quick-start/_paymaster_intro/_remix_paymaster_intro.md
  public/images/remix-connect-wallet.gif
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b2c2cae2c8952102231b81310772121ea9ba80ed
Due: none

docs: add docs for zk_toolbox
  content/00.build/25.zk-toolbox/00.index.md
  content/00.build/25.zk-toolbox/10.zk-inspection.md
  content/00.build/25.zk-toolbox/20.zk-supervisor.md
  content/00.build/25.zk-toolbox/_dir.yaml
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: corrected typo error zk_inspection to zk_inception
  content/00.build/25.zk-toolbox/00.index.md
  content/00.build/25.zk-toolbox/10.zk-inception.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update upgradable and solc docs with new released plugin changes details
  content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  cspell-config/cspell-dev.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Test PR
  README.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Test
  README.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add new parameter to the command list
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: line length fix
  content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update upgradable and solc docs with new released plugin chang… (#232)
  content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  cspell-config/cspell-dev.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore(ci): update renovate config
  bun.lockb
  package.json
  renovate.json
Due: prettier --list-different

chore: update dependencies
  .github/workflows/check-pr-title.yaml
  .github/workflows/checks.yaml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  .husky/pre-commit
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix: markdown lint errors
  .markdownlint.json
  bun.lockb
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
  package.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update stackblitz config
  package.json
Due: prettier --list-different

Clarify MetaMask button label
  content/00.build/01.connect-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: test fixing icons
  nuxt.config.ts
Due: prettier --list-different, eslint

feat: update renovate (#235)
  .github/workflows/check-pr-title.yaml
  .github/workflows/checks.yaml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .markdownlint.json
  bun.lockb
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
  nuxt.config.ts
  package.json
  renovate.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  7d132c653e04d1cc530364144aa2d40794032bbd
Due: none

fix: hardhat redirect links (#224)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  e27c863069666c93f946d5d958625e4da36b012f
Due: none

docs: refactor and update AA reference
  content/00.build/65.developer-reference/40.account-abstraction/30.paymasters.md
  content/00.build/65.developer-reference/40.account-abstraction/40.building-smart-accounts.md
  content/00.build/65.developer-reference/40.account-abstraction/50.signature-validation.md
  content/00.build/65.developer-reference/40.account-abstraction/60.extending-4337.md
  content/00.build/65.developer-reference/40.account-abstraction/60.signature-validation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: clarify getMainContract
  content/00.build/70.api-reference/20.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: warnings ethers and oz
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

refactor: apply zk_toolbox commands redesign
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
  content/10.zk-stack/20.running-a-zk-chain/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
  content/10.zk-stack/20.running-a-zk-chain/40.proving.md
  content/10.zk-stack/20.running-a-zk-chain/50.configurations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add zkstack to spellchecker's dictionary
  cspell-config/cspell-zksync.txt
Due: none

feat: adds system contract addresses
  content/00.build/65.developer-reference/50.era-contracts/20.system-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update to include system context
  content/00.build/65.developer-reference/50.era-contracts/20.system-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update structure of address display
  content/00.build/65.developer-reference/50.era-contracts/20.system-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
