Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link in _call-request-params.md
  content/00.build/70.api-reference/_partials/_call-request-params.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update dependencies
  bun.lockb
  content/00.build/70.api-reference/00.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
  content/index.yml
  cspell-config/cspell-misc.txt
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update husky for v10
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: link in _call-request-params.md (#185)
  content/00.build/70.api-reference/_partials/_call-request-params.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  df13339eddf436322cd18de5e1c910e702e53def
Due: none

fix: ci errors
  .lintstagedrc.yml
  content/10.zk-stack/10.components/50.zksync-evm/10.bootloader.md
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update bun
  bun.lockb
Due: none

chore: update deps
  bun.lockb
  package.json
Due: prettier --list-different

docs: add txfusion bridge
  content/30.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update 10.bridges.md
  content/30.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update deps (#186)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  bun.lockb
  content/00.build/70.api-reference/00.index.md
  content/10.zk-stack/10.components/50.zksync-evm/10.bootloader.md
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
  content/index.yml
  cspell-config/cspell-misc.txt
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add txfusion bridge (#188)
  content/30.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e44be1373f1d10549a6c35858dc37117620cd3d0
Due: none

Update content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
  content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update installation
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: minor update
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: build error
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: edits to zksync-101
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
  content/00.build/05.start-coding/10.zksync-101/20.contract-factory.md
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/50.paymaster.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups_contract_upgradability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sdk redirect urls
  firebase.json
Due: prettier --list-different

fix: redirects
  firebase.json
Due: prettier --list-different

fix: sdk redirects (#198)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  109e959fe0a1ae52f7d2ddfe6b5048e918f64390
Due: none

fix: resolve trailing slash
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: resolve trailing slash (#199)
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  674691eed1949f281b26b1417517f68f11e7bcc7
Due: none

fix: search params
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

add note about binary overrides
  content/00.build/40.tooling/30.foundry/20.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: search params (#200)
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  86f913aa2568e8b4ed912bf64f20fd6e6df2bff2
Due: none

fix: edits for zksync-101
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: edit zksync-101 (#181)
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
  content/00.build/05.start-coding/10.zksync-101/20.contract-factory.md
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/50.paymaster.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_hardhat_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_foundry_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_hardhat_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_partials/_setup-wallet.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_foundry_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_hardhat_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon/_foundry_beacon_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent/_foundry_transparent_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups/_foundry_uups_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups_contract_upgradability.md
  cspell-config/cspell-zksync.txt
  public/images/quickstart-paymasters/crown-mint.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  365c5eac5587b48e61fbdf748f5b153d2d2669f0
Due: none

fix: restructure hardhat
  content/00.build/40.tooling/20.hardhat/02.plugins/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/02.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/02.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/02.plugins/35.hardhat-zksync.md
  content/00.build/40.tooling/20.hardhat/02.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/02.plugins/50.hardhat-zksync-vyper.md
  content/00.build/40.tooling/20.hardhat/02.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/02.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/40.tooling/20.hardhat/02.plugins/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/02.plugins/90.hardhat-zksync-verify-vyper.md
  content/00.build/40.tooling/20.hardhat/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
