Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: refactor hardhat documentation (#332)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/35.hardhat-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/50.hardhat-zksync-vyper.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/80.hardhat-zksync-verify.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/90.hardhat-zksync-verify-vyper.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update compiler versions
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/50.hardhat-zksync-vyper.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update compiler versions (#354)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/50.hardhat-zksync-vyper.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  277fab21e329ecf6c749a4c6e3dae37b49448352
Due: none

docs: update zksync-onramp-sdk docs
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/00.index.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/15.sdk-config-settings.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/30.request-quotes.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/40.execute-quotes.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/45.util-helpers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update zksync-onramp-sdk docs (#355)
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/00.index.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/15.sdk-config-settings.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/30.request-quotes.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/40.execute-quotes.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/45.util-helpers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  27ea6a35220425e6d44e852e5a08c88396dc4252
Due: none

chore: fix sentence in zksync-sso sessions docs (#323)
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add account recovery with guardian section (#347)
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
  public/images/zksync-sso/account-recovery/guardianrecovery.svg
  public/images/zksync-sso/account-recovery/guardiansetup.svg
  public/images/zksync-sso/account-recovery/maliciousguardian.svg
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  88b970edcda2c32541f566e8ec9d2a3985bab387
Due: none

chore: updated text
  content/00.zksync-era/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/60.supported-environments.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 00.index.md
  content/00.zksync-era/60.ecosystem/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Create 120.paymasters.md
  content/00.zksync-era/60.ecosystem/120.paymasters.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: spell check & shorter description
  content/00.zksync-era/60.ecosystem/120.paymasters.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-era/60.ecosystem/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 04.walletl1.md
  content/00.zksync-era/50.sdk/20.go/40.api/20.accounts/04.walletl1.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 40.handling-l1-l2-ops.md
  content/20.zksync-protocol/20.contracts/40.handling-l1-l2-ops.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fixes
  content/00.zksync-era/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-era/10.guides/20.zksync-101/_factory/_era-vm.md
  content/00.zksync-era/10.guides/20.zksync-101/_factory/_evm.md
  content/00.zksync-era/10.guides/20.zksync-101/_hello/_era-vm.md
  content/00.zksync-era/10.guides/20.zksync-101/_hello/_evm.md
  content/00.zksync-era/10.guides/20.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.zksync-era/10.guides/20.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.zksync-era/10.guides/20.zksync-101/_testing/_era-vm.md
  content/00.zksync-era/10.guides/20.zksync-101/_testing/_evm.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_uups_contract_upgradability.md
  content/_partials/101/factory/_deploy.md
  content/_partials/101/factory/_setup.md
  content/_partials/101/factory/_setup2.md
  content/_partials/101/hello/_campaign.md
  content/_partials/101/hello/_deploy.md
  content/_partials/101/testing/_part2.md
  content/_partials/101/testing/_run_test.md
  content/_partials/101/testing/_setup.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add latest upgrades
  content/20.zksync-protocol/90.upgrades-and-migrations/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add latest protocol upgrades (#360)
  content/20.zksync-protocol/90.upgrades-and-migrations/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  90a92f057131ea6b2f611c378b327df7fb862902
Due: none

docs: Add info about ZyFi (#357)
  content/00.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-era/60.ecosystem/120.paymasters.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  7f774412e99f4f354f9d192e45f5d5d3ac82c574
Due: none

docs: rename emulator to interpeter
  content/00.zksync-era/00.index.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/_dir.yml
  content/00.zksync-era/30.unique-features/40.evm-interpreter/01.evm-interpreter.md
  content/00.zksync-era/30.unique-features/40.evm-interpreter/02.faq.md
  content/00.zksync-era/30.unique-features/40.evm-interpreter/_dir.yml
  content/20.zksync-protocol/30.vm/00.index.md
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
  content/20.zksync-protocol/75.evm-emulator/05.evm-gas-emulation.md
  content/20.zksync-protocol/75.evm-emulator/_dir.yml
  content/20.zksync-protocol/75.evm-interpreter/00.overview.md
  content/20.zksync-protocol/75.evm-interpreter/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-interpreter/02.era-evm-interactions.md
  content/20.zksync-protocol/75.evm-interpreter/03.evm-differences.md
  content/20.zksync-protocol/75.evm-interpreter/04.technical-details.md
  content/20.zksync-protocol/75.evm-interpreter/05.evm-gas-interpretation.md
  content/20.zksync-protocol/75.evm-interpreter/06.pre-deployed-contracts.md
  content/20.zksync-protocol/75.evm-interpreter/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: feedback
  content/20.zksync-protocol/75.evm-interpreter/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Apply suggestions from code review
  content/00.zksync-era/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/_partials/_eravm_vs_evm.md
  content/_partials/remix/deploy/_enable-remix-zksync-plugin.md
  content/_partials/remix/erc20/_deploy_eravm.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: feedback
  content/00.zksync-era/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-era/10.guides/10.quick-start/_deploy_first/_eravm_remix_deploy_contract.md
  content/00.zksync-era/10.guides/10.quick-start/_deploy_first/_evm_remix_deploy_contract.md
  content/_partials/remix/deploy/_remix-evm-wallet.md
  content/_partials/remix/deploy/_status.md
  content/_partials/remix/deploy/_verification.md
  public/images/101-quickstart/remix-connect-evm.gif
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: rename emulator to interpeter (#361)
  content/00.zksync-era/00.index.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/_dir.yml
  content/00.zksync-era/30.unique-features/40.evm-interpreter/01.evm-interpreter.md
  content/00.zksync-era/30.unique-features/40.evm-interpreter/02.faq.md
  content/00.zksync-era/30.unique-features/40.evm-interpreter/_dir.yml
  content/20.zksync-protocol/30.vm/00.index.md
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
  content/20.zksync-protocol/75.evm-emulator/05.evm-gas-emulation.md
  content/20.zksync-protocol/75.evm-emulator/_dir.yml
  content/20.zksync-protocol/75.evm-interpreter/00.overview.md
  content/20.zksync-protocol/75.evm-interpreter/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-interpreter/02.era-evm-interactions.md
  content/20.zksync-protocol/75.evm-interpreter/03.evm-differences.md
  content/20.zksync-protocol/75.evm-interpreter/04.technical-details.md
  content/20.zksync-protocol/75.evm-interpreter/05.evm-gas-interpretation.md
  content/20.zksync-protocol/75.evm-interpreter/06.pre-deployed-contracts.md
  content/20.zksync-protocol/75.evm-interpreter/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  5d924e76f1991518891297ddcc88ecdd9ff2b081
Due: none

fix: link
  content/_partials/_eravm_vs_evm.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 100.wallets.md
  content/00.zksync-era/60.ecosystem/100.wallets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 110.user-onboarding.md
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.zksync-era/10.guides/20.zksync-101/_hello/_era-vm.md
  content/00.zksync-era/10.guides/20.zksync-101/_hello/_era-vm.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/_partials/remix/erc20/_ethers.md
  content/_partials/remix/erc20/_ethers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: spacing
  content/00.zksync-era/10.guides/20.zksync-101/30.testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
