Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell check

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell check
'*.{json,yml}':
  - prettier --list-different

docs: fix broken links
  content/00.build/65.developer-reference/00.index.md
  content/00.build/65.developer-reference/21.batches-and-l2-blocks.md
  content/00.build/65.developer-reference/22.era-vm/00.index.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/40.handling-l1-l2-ops.md
  public/favicon-32x32.png
Due: markdownlint-cli2, cspell check

fix(build,api-reference): fix errors in RPC API
  content/00.build/70.api-reference/20.zks-rpc.md
  content/00.build/70.api-reference/35.ethereum-rpc.md
Due: markdownlint-cli2, cspell check

fix(build,api-reference): fix errors in RPC API (#137)
  content/00.build/70.api-reference/20.zks-rpc.md
  content/00.build/70.api-reference/35.ethereum-rpc.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  1bc9c8868688362c1f70ec747bc5df073ca78830
Due: none

chore: add config for stackblitz (#138)
  package.json
Due: prettier --list-different

docs: document compiler output (#139)
  content/10.zk-stack/10.components/70.compiler/20.specification/10.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
  cspell-config/cspell-dev.txt
  cspell-config/cspell-zasm.txt
  cspell.json
Due: prettier --list-different, markdownlint-cli2, cspell check

Notes added by 'git notes add'
  4c706f7dedd357824ac5fe77425d0ab18cb75741
Due: none

Fixes related to Verbiage, typos, and formatting
  content/00.build/65.developer-reference/10.protocol.md
  content/00.build/65.developer-reference/15.migrate-era-to-chain.md
  content/00.build/65.developer-reference/50.era-contracts/10.l1-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/30.pubdata-post-4844.md
  content/00.build/65.developer-reference/50.era-contracts/40.handling-l1-l2-ops.md
  content/00.build/65.developer-reference/50.era-contracts/60.elliptic-curve-precompiles.md
  content/00.build/65.developer-reference/60.fee-model/10.how-l2-gas-price-works.md
  content/10.zk-stack/10.components/20.smart-contracts/10.index.md
  content/10.zk-stack/10.components/50.zksync-evm/00.index.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell check

fix code4rena links to point to internal docs
  content/00.build/65.developer-reference/21.batches-and-l2-blocks.md
  content/00.build/65.developer-reference/22.era-vm/00.index.md
  content/00.build/65.developer-reference/50.era-contracts/10.l1-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/40.handling-l1-l2-ops.md
  content/00.build/65.developer-reference/50.era-contracts/50.handling-pubdata.md
  content/00.build/65.developer-reference/60.fee-model/10.how-l2-gas-price-works.md
  content/00.build/65.developer-reference/60.fee-model/20.how-we-charge-for-pubdata.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/10.l2-l1-communication-before-boojum.md
Due: markdownlint-cli2, cspell check

fix spelling and linting errors
  content/00.build/65.developer-reference/22.era-vm/00.index.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  content/00.build/65.developer-reference/50.era-contracts/60.elliptic-curve-precompiles.md
  content/00.build/65.developer-reference/60.fee-model/10.how-l2-gas-price-works.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell check

chore: switch-to-default-codegen-with-zksolc
  content/00.build/40.tooling/20.hardhat/40.hardhat-zksync-solc.md
Due: markdownlint-cli2, cspell check

docs: fix contract verification url
  content/00.build/40.tooling/20.hardhat/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/90.hardhat-zksync-verify-vyper.md
Due: markdownlint-cli2, cspell check

fix(build,api-refernce): fix erros in RPC API for the `zks` namespace
  content/00.build/70.api-reference/20.zks-rpc.md
Due: markdownlint-cli2, cspell check

fix(build,api-refernce): fix erros in RPC API for the `zks` namespace (#143)
  content/00.build/70.api-reference/20.zks-rpc.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  8128c747d996cc766e2723cb8dee8b7484f2d1ec
Due: none

docs: updates
  content/00.build/65.developer-reference/60.fee-model/10.how-l2-gas-price-works.md
  cspell-config/cspell-zksync.txt
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell check

fix: typos in binary layout document
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell check

fix: remove outdated zkstack pages
  content/10.zk-stack/20.running-a-zk-chain/99.dependencies.md
  content/10.zk-stack/20.running-a-zk-chain/99.enabling-prover.md
  content/10.zk-stack/20.running-a-zk-chain/99.using-zk-chain.md
Due: markdownlint-cli2, cspell check

chore: add caldera as RaaS
  content/10.zk-stack/20.running-a-zk-chain/30.raas.md
Due: markdownlint-cli2, cspell check

New ZK Chain Scheme replacing hyperchain verbiage
  public/images/developer-reference/l1-smart-contracts/Hyperchain-scheme.png
  public/images/developer-reference/l1-smart-contracts/Hyperchain-scheme.png.bak
Due: none

docs: more docs updates for protocol
  .lintstagedrc.yml
  content/00.build/65.developer-reference/22.era-vm/00.index.md
  content/00.build/65.developer-reference/50.era-contracts/20.system-contracts.md
  content/00.build/65.developer-reference/70.handling-pubdata-in-boojum/10.l2-l1-communication-before-boojum.md
  content/10.zk-stack/05.concepts/10.blocks.md
  content/10.zk-stack/05.concepts/20.fee-mechanism.md
  content/10.zk-stack/05.concepts/99.l1_l2_communication.md
  content/10.zk-stack/10.components/20.smart-contracts/10.index.md
  content/10.zk-stack/10.components/20.smart-contracts/20.system-contracts.md
  content/10.zk-stack/10.components/50.zksync-evm/10.bootloader.md
  content/10.zk-stack/10.components/60.prover/10.index.md
  content/10.zk-stack/10.components/60.prover/40.circuits/10.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/10.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/_dir.yml
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/call.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/events.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/sha3.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/storage.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/21.extensions/00.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/21.extensions/10.call.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/21.extensions/20.verbatim.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/21.extensions/_dir.yml
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/_dir.yml
  content/10.zk-stack/10.components/70.compiler/20.specification/_dir.yml
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell check

chore: remove file
  public/images/developer-reference/l1-smart-contracts/Hyperchain-scheme.png.bak
Due: none

docs: change L2EthToken to L2BaseToken
  content/00.build/65.developer-reference/50.era-contracts/20.system-contracts.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/environment.md
Due: markdownlint-cli2, cspell check

docs: fix broken links
  content/00.build/65.developer-reference/50.era-contracts/40.handling-l1-l2-ops.md
  content/10.zk-stack/05.concepts/99.l1_l2_communication.md
  content/10.zk-stack/10.components/60.prover/40.circuits/10.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/30.system-contracts.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/10.index.md
  content/10.zk-stack/10.components/70.compiler/20.specification/60.instructions/20.evm/logging.md
Due: markdownlint-cli2, cspell check

fix: remove outdated zkstack pages (#146)
  content/10.zk-stack/20.running-a-zk-chain/30.raas.md
  content/10.zk-stack/20.running-a-zk-chain/99.dependencies.md
  content/10.zk-stack/20.running-a-zk-chain/99.enabling-prover.md
  content/10.zk-stack/20.running-a-zk-chain/99.using-zk-chain.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  adc67c783bad9bcae7841ad767b70db8f4ab5854
Due: none

docs: fix contract verification url (#142)
  content/00.build/40.tooling/20.hardhat/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/90.hardhat-zksync-verify-vyper.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  2ae8367aff43eea0f68763ab37bc54a876126f11
Due: none

fix: typos in binary layout document (#144)
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell check

Notes added by 'git notes add'
  8fb623b78a6d40803c253a7a14a87117a05bd550
Due: none

Update FAQ
  content/00.build/95.resources/60.faq.md
Due: markdownlint-cli2, cspell check

feat: switch to using npm pkg for nuxt layer
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix check errors
  content/00.build/95.resources/60.faq.md
Due: markdownlint-cli2, cspell check

chore: update to latest docs-nuxt-template
  bun.lockb
  package.json
Due: prettier --list-different

feat: switch to using npm pkg for nuxt layer (#149)
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  dee59a21501fb072b0ecf65fc85b40cdf65c560f
Due: none

chore: edit vscode settings
  .vscode/settings.json
Due: prettier --list-different

docs: update atlas links + inline scripts
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
Due: markdownlint-cli2, cspell check
