Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  12518a93f4d171d098e296e687a9343b3d3e6f42
Due: none

fix: update withdrawal delay
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update withdrawal delay docs
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Fix typo
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Remove punctuation
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: Withdrawal delay (#325)
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  47d1f68ff9674ce71b2bbc1ea836d637f76d652c
Due: none

fix: additional time to withdrawal delay
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: additional time to withdrawal delay (#326)
  content/20.zksync-protocol/60.security/30.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c625521ec459a4a14915148fe5a06a8a53e8eeb2
Due: none

fix: fix links in zksync protocol
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/00.rollup/70.data-availability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fix links in zksync protocol (#327)
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/00.rollup/70.data-availability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  37d9a2e42d698afc2f947eab2b09255049b44104
Due: none

chore: update docs regarding new hardhat-zksync-node properties
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add descripton before hardhat config propery
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update docs regarding new hardhat-zksync-node properties (#328)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 20.dockerized-l1-l2-nodes.md
  content/00.zksync-era/40.tooling/10.local-setup/20.dockerized-l1-l2-nodes.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links to the explorers and bridges pages
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/40.block-explorers.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: refactor hardhat documentation
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/35.hardhat-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/50.hardhat-zksync-vyper.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/80.hardhat-zksync-verify.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/90.hardhat-zksync-verify-vyper.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links to the explorers and bridges pages (#331)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/40.block-explorers.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  018195e002c05c576be5baa6edfb01e66a937b26
Due: none

feat: base emulator docs
  content/00.zksync-era/10.guides/20.zksync-101/00.index.md
  content/00.zksync-era/30.unique-features/30.evm-emulator.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/00.index.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/01.how-it-works.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/02.differences-evm.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/03.pre-deployed-contracts.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/04.faq.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/_dir.yml
  cspell-config/cspell-blockchain.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: emulator protocol docs
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/_dir.yml
  content/20.zksync-protocol/20.contracts/31.evm-emulator/00.index.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/00.overview.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/01.how-it-works.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/02.differences-evm.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/02.era-evm-interactions.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/04.technical-details.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/05.limitations.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/06.pre-deployed-contracts.md
  cspell-config/cspell-misc.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: hardcoded staging link
  content/00.zksync-era/30.unique-features/10.account-abstraction.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links
  content/20.zksync-protocol/20.contracts/31.evm-emulator/00.overview.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/02.era-evm-interactions.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/04.technical-details.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/05.limitations.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/06.pre-deployed-contracts.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links again
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/00.overview.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/03.evm-differences.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: more broken links
  content/20.zksync-protocol/20.contracts/31.evm-emulator/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add ownership model doc
  content/10.zk-stack/20.running/55.ownership-model.md
  content/10.zk-stack/20.running/70.raas.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add zksync-easy-onramp docs
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/00.index.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/10.configure-sdk.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/20.configure-sdk-provider.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/30.request-quotes.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/40.execute-quotes.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/50.testing-integration.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/60.sample-flow.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/_dir.yml
  cspell-config/cspell-misc.txt
  public/images/zksync-easy-onramp/execution_dark.png
  public/images/zksync-easy-onramp/execution_dark.svg
  public/images/zksync-easy-onramp/execution_light.png
  public/images/zksync-easy-onramp/execution_light.svg
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update eigenDA config example
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add eigenda to cspell
  cspell-config/cspell-misc.txt
Due: none

fix: update EigenDA config example (#336)
  content/10.zk-stack/20.running/35.validium.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  91b58b14bda98640a57179092f77a962a0c28bf2
Due: none

fix: review
  content/10.zk-stack/20.running/55.ownership-model.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update commit
  content/10.zk-stack/20.running/55.ownership-model.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Apply suggestions from code review
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds more internal links
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/00.overview.md
  content/20.zksync-protocol/20.contracts/31.evm-emulator/03.evm-differences.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds identity precompile
  content/20.zksync-protocol/70.differences/40.pre-compiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: pr comments
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/20.zksync-protocol/75.evm-emulator/00.overview.md
  content/20.zksync-protocol/75.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-emulator/02.era-evm-interactions.md
  content/20.zksync-protocol/75.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
  content/20.zksync-protocol/75.evm-emulator/05.limitations.md
  content/20.zksync-protocol/75.evm-emulator/06.pre-deployed-contracts.md
  content/20.zksync-protocol/75.evm-emulator/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
