Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

feat: add zksync os dev preview section
  content/00.zksync-era/65.zksync-os/00.index.md
  content/00.zksync-era/65.zksync-os/10.faqs.md
  content/00.zksync-era/65.zksync-os/_dir.yml
  cspell-config/cspell-blockchain.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add overview
  content/00.zksync-era/65.zksync-os/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: clarify EEs
  content/00.zksync-era/65.zksync-os/00.index.md
  content/00.zksync-era/65.zksync-os/10.faqs.md
  content/20.zksync-protocol/15.zksyncos/03.execution-environment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links
  content/00.zksync-network/00.index.md
  content/00.zksync-network/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-network/10.guides/10.quick-start/4.erc20-token.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/index.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links and cards
  content/00.zksync-network/10.guides/10.quick-start/1.index.md
  content/index.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update running locally instructions
  content/00.zksync-era/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: chain info links
  data/chains.json
Due: prettier --list-different

feat: add get help button
  components/layout/Toc.vue
  nuxt.config.ts
Due: prettier --list-different, eslint

docs: update chain IDs
  data/chains.json
Due: prettier --list-different

chore: use nuxt ui toggle
  components/ChainsList.vue
Due: prettier --list-different, eslint

chore: use nuxt UI table
  components/ChainsList.vue
Due: prettier --list-different, eslint

fix: chains list
  data/chains.json
Due: prettier --list-different

fix: naming
  data/chains.json
Due: prettier --list-different

fix: redirect
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  b2955591511fcffba606575cf7649dc5d52bd900
Due: none

chore: use rich-account command for zkstack
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: use rich-account command for zkstack (#434)
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: copyable urls
  components/CopyableUrl.vue
  components/GatewayNetworkDetails.vue
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/20.environment/03.zksync-era.md
  content/20.zksync-protocol/05.gateway/00.overview.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: move to zksync-network
  content/00.zksync-network/65.zksync-os/00.index.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/00.zksync-network/65.zksync-os/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: copyable urls (#435)
  components/CopyableUrl.vue
  components/GatewayNetworkDetails.vue
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/20.environment/03.zksync-era.md
  content/20.zksync-protocol/05.gateway/00.overview.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0c57f2a9239d5e765026089b819dacd80036f4c5
Due: none

chore: remove old step
  tests/prividium.ts
Due: prettier --list-different, eslint

Update content/00.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Alphabetic order, added line breaks
  content/00.zksync-network/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Alphabetic Order
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: external node link
  content/00.zksync-network/40.tooling/50.external-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: external node link (#438)
  content/00.zksync-network/40.tooling/50.external-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  3f4cf5eaf95d450c31126f39778286edd59e5d92
Due: none

fix: links
  content/10.zk-stack/20.running/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links (#439)
  content/10.zk-stack/20.running/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add tx filterer setup
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add tx filterer setup (#441)
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 00.index.md
  content/00.zksync-network/65.zksync-os/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add interop messaging guide
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  examples/hardhat-sol/bun.lockb
  examples/hardhat-sol/contracts/Interface.sol
  examples/hardhat-sol/contracts/InteropSendMessage.sol
  examples/hardhat-sol/contracts/InteropVerification.sol
  examples/hardhat-sol/package.json
  examples/hardhat-sol/scripts/interop/check-interop-root.ts
  examples/hardhat-sol/scripts/interop/check-status.ts
  examples/hardhat-sol/scripts/interop/get-verification-args-local.ts
  examples/hardhat-sol/scripts/interop/get-verification-args.ts
  examples/hardhat-sol/scripts/interop/send-message.ts
  examples/hardhat-sol/scripts/interop/test-local.ts
  examples/hardhat-sol/scripts/interop/test-onchain-verification.ts
  examples/hardhat-sol/scripts/interop/test-testnet.ts
  examples/hardhat-sol/scripts/interop/verify-message.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add note about availability
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
