Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: icons loading
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix: try fix
  nuxt.config.ts
Due: prettier --list-different, eslint

feat: add product info
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/30.explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: correction
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/06.deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: small fix
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: feedback addressed
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add Prividium product info (#381)
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  49c943bcfa845e35317f8cf7d991b36450fd570b
Due: none

fix: test
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

fix: test
  nuxt.config.ts
Due: prettier --list-different, eslint

test: add playwright test for prividium guide
  .github/workflows/playwright.yaml
  bun.lockb
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
  package.json
  tests/erc20-paymaster.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: workflow
  .github/workflows/playwright.yaml
Due: none

fix: wait longer for setup, add verifier steps
  .github/workflows/playwright.yaml
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  tests/erc20-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: md lint
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
  content/20.zksync-protocol/05.gateway/_dir.yml
  cspell-config/cspell-dev.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: structure
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/20.architecture.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add zksync sso documentation for react native
  content/00.zksync-era/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/30.transaction-flow.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/60.supported-environments.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add zksync sso documentation for react native (#345)
  content/00.zksync-era/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/30.transaction-flow.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/60.supported-environments.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1b61b997adba3eb984d0a41e126dd67ab50fbef0
Due: none

fix: fixes
  .github/workflows/playwright.yaml
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: add test-action component
  components/TestAction.vue
Due: prettier --list-different, eslint

fix: deps
  .github/workflows/playwright.yaml
Due: none

fix: format
  .github/workflows/playwright.yaml
Due: none

fix: config
  .github/workflows/playwright.yaml
Due: none

fix: setup order
  .github/workflows/playwright.yaml
Due: none

fix: wait longer
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: ci
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/20.architecture.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken link
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: pr review
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  cspell-config/cspell-dev.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: zk chains page
  content/10.zk-stack/50.zk-chain-addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: renamed rpc method
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/10.v5/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/10.providers/01.provider.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: step by step migration
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: explorer urls
  content/20.zksync-protocol/05.gateway/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add ZKsync OS docs
  content/20.zksync-protocol/73.zksyncos/00.overview.md
  content/20.zksync-protocol/73.zksyncos/01.bootloader.md
  content/20.zksync-protocol/73.zksyncos/02.ee.md
  content/20.zksync-protocol/73.zksyncos/03.system.md
  content/20.zksync-protocol/73.zksyncos/04.tx-processing.md
  content/20.zksync-protocol/73.zksyncos/05.hooks-flows.md
  content/20.zksync-protocol/73.zksyncos/_dir.yml
  cspell-config/cspell-dev.txt
  public/images/zksyncos-airbender/bootloader_bheader.png
  public/images/zksyncos-airbender/tx_lifecycle.svg
  public/images/zksyncos-airbender/zksyncOS.png
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fix timeouts
  .github/workflows/playwright.yaml
  tests/prividium.ts
Due: prettier --list-different, eslint

docs: renamed files and updated hyperlinks
  content/20.zksync-protocol/15.zksyncos/00.overview.md
  content/20.zksync-protocol/15.zksyncos/01.bootloader.md
  content/20.zksync-protocol/15.zksyncos/02.execution-environment.md
  content/20.zksync-protocol/15.zksyncos/03.system.md
  content/20.zksync-protocol/15.zksyncos/04.tx-processing.md
  content/20.zksync-protocol/15.zksyncos/05.hooks-and-flows.md
  content/20.zksync-protocol/15.zksyncos/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: gateway docs (#383)
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/10.v5/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/10.providers/01.provider.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/10.zk-stack/50.zk-chain-addresses.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
  content/20.zksync-protocol/05.gateway/_dir.yml
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  cspell-config/cspell-dev.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4425d7808fbc91f646069eb91cd91de06e8c78bf
Due: none

fix: todo gw config
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
