Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

feat: add algolia search (#207)
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  bun.lockb
  package.json
  renovate.json
Due: prettier --list-different

Notes added by 'git notes add'
  72134069ea6184a9dd1e49fbf68979df26f8ec09
Due: none

fix: header links
  app.vue
  bun.lockb
  error.vue
  nuxt.config.ts
  package.json
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

fix: update nuxt template version
  bun.lockb
  package.json
Due: prettier --list-different

Update some foundry configuration values
  content/00.build/40.tooling/30.foundry/20.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove path configs from zksync settings
  content/00.build/40.tooling/30.foundry/20.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: header links (#209)
  app.vue
  bun.lockb
  error.vue
  nuxt.config.ts
  package.json
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  75cfa38a6c0a881992dd23b04b951a0f1f5e2679
Due: none

fix: fix env var for deploy prod
  .github/workflows/deploy-prod.yml
Due: prettier --list-different

docs: add upgrades and migrations page
  content/00.build/95.resources/20.faq.md
  content/00.build/95.resources/30.glossary.md
  content/00.build/95.resources/40.upgrades-and-migrations.md
  content/00.build/95.resources/50.audit-bug-bounty.md
  content/00.build/95.resources/60.contribution-track.md
  content/00.build/95.resources/70.community-channels.md
  content/00.build/95.resources/80.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add env examples
  .env.example
  README.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update nuxt template
  bun.lockb
  package.json
Due: prettier --list-different

fix: fix env var for deploy prod (#211)
  .env.example
  .github/workflows/deploy-prod.yml
  README.md
  bun.lockb
  package.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  786a070d1775643d518b341f07f0777598143d8b
Due: none

docs: add reference links
  content/00.build/95.resources/40.upgrades-and-migrations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add upgrades and migrations page (#212)
  content/00.build/95.resources/20.faq.md
  content/00.build/95.resources/30.glossary.md
  content/00.build/95.resources/40.upgrades-and-migrations.md
  content/00.build/95.resources/50.audit-bug-bounty.md
  content/00.build/95.resources/60.contribution-track.md
  content/00.build/95.resources/70.community-channels.md
  content/00.build/95.resources/80.withdrawal-delay.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  2a723e4bee50172b809d2b750633e85b454ccd28
Due: none

Apply suggestions from code review
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: pr review comments
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add debug-mode to in-memory-node
  content/00.build/60.test-and-debug/20.in-memory-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

remove unnecessary lines
  content/00.build/60.test-and-debug/20.in-memory-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add debug-mode to in-memory-node (#217)
  content/00.build/60.test-and-debug/20.in-memory-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e475df2089cebd8ae75995f60ecde76489fa3f77
Due: none

fix: use latest zksync-contracts version
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
  content/00.build/65.developer-reference/80.l1-l2-interoperability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: update migration docs for foundry
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/30.discrepancies.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/20.compilation.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.deployment.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/40.testing.md
  content/00.build/40.tooling/30.foundry/40.migration-to-zksync.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: file paths
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/10.compilation.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: file paths
  content/00.build/40.tooling/30.foundry/10.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: small typos and reording
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/10.compilation.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/30.testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 60.contract-deployment.md
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

format
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: Description of the deployment process on Ethereum (#219)
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  6ffca867c6b528b25056f9b7ababdb76636cdf40
Due: none

fix: small zksync typo and re-org
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/15.installation.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/40.migration-guide/.05.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: file paths
  content/00.build/40.tooling/30.foundry/40.migration-guide/05.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds uups, example repo
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: recover new guide
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: removes old guide
  content/00.build/40.tooling/20.hardhat/20.guides/30.migrating-to-zksync_old.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken links reorg
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: deletes old save guide
  content/00.build/40.tooling/20.hardhat/99.migrating-to-zksync_old.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
