Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: typo
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove optional tag
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: address faq feedback
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add network details page
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/20.environment/03.zksync-era.md
  content/00.zksync-network/65.zksync-os/05.network-details.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add to chains list
  data/chains.json
Due: prettier --list-different

docs: add dev quickstart, fix bridge example
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/_partials/_ethers.md
  content/00.zksync-network/65.zksync-os/_partials/_viem.md
  content/_partials/_zksyncos/_run-script.md
  content/_partials/_zksyncos/_setup-folder.md
  content/_partials/_zksyncos/_setup.md
  examples/zksync-os/.gitignore
  examples/zksync-os/bun.lock
  examples/zksync-os/contracts/Counter.sol
  examples/zksync-os/contracts/Counter.t.sol
  examples/zksync-os/hardhat.config.ts
  examples/zksync-os/ignition/modules/Counter.ts
  examples/zksync-os/package.json
  examples/zksync-os/scripts/increment-ethers.ts
  examples/zksync-os/scripts/increment-viem.ts
  examples/zksync-os/tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: rename to devnet, separate quickstart
  bun.lockb
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  data/chains.json
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update index.md title
  content/00.zksync-network/65.zksync-os/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add zksync os dev preview section (#433)
  bun.lockb
  components/ZksyncEraNetworkDetails.vue
  content/00.zksync-network/20.environment/03.zksync-era.md
  content/00.zksync-network/65.zksync-os/00.index.md
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/00.zksync-network/65.zksync-os/_dir.yml
  content/00.zksync-network/65.zksync-os/_partials/_ethers.md
  content/00.zksync-network/65.zksync-os/_partials/_viem.md
  content/20.zksync-protocol/15.zksyncos/03.execution-environment.md
  content/_partials/_zksyncos/_run-script.md
  content/_partials/_zksyncos/_setup-folder.md
  content/_partials/_zksyncos/_setup.md
  cspell-config/cspell-blockchain.txt
  data/chains.json
  examples/zksync-os/.gitignore
  examples/zksync-os/bun.lock
  examples/zksync-os/contracts/Counter.sol
  examples/zksync-os/contracts/Counter.t.sol
  examples/zksync-os/hardhat.config.ts
  examples/zksync-os/ignition/modules/Counter.ts
  examples/zksync-os/package.json
  examples/zksync-os/scripts/increment-ethers.ts
  examples/zksync-os/scripts/increment-viem.ts
  examples/zksync-os/tsconfig.json
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add multichain setup, update contracts sdk
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  examples/hardhat-sol/bun.lockb
  examples/hardhat-sol/contracts/Interface.sol
  examples/hardhat-sol/contracts/InteropVerification.sol
  examples/hardhat-sol/package.json
  examples/hardhat-sol/scripts/interop/get-verification-args-local.ts
  examples/hardhat-sol/scripts/interop/send-message.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add gateway status to chains list
  components/ChainsList.vue
  data/chains.json
Due: prettier --list-different, eslint

docs: add note
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove note about v6
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update interop protocol docs
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add zksync connect section
  content/00.zksync-network/30.unique-features/50.zksync-connect/00.index.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/10.messaging.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/_dir.yml
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
  content/10.zk-stack/10.zk-chains.md
  content/20.zksync-protocol/05.gateway/10.features.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add links to gateway docs and status
  content/00.zksync-network/30.unique-features/50.zksync-connect/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add interop messaging guide (#442)
  components/ChainsList.vue
  content/00.zksync-network/30.unique-features/50.zksync-connect/00.index.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/10.messaging.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/_dir.yml
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/04.interop-messages.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
  data/chains.json
  examples/hardhat-sol/bun.lockb
  examples/hardhat-sol/contracts/InteropSendMessage.sol
  examples/hardhat-sol/contracts/InteropVerification.sol
  examples/hardhat-sol/package.json
  examples/hardhat-sol/scripts/interop/check-interop-root.ts
  examples/hardhat-sol/scripts/interop/check-status.ts
  examples/hardhat-sol/scripts/interop/get-verification-args-local.ts
  examples/hardhat-sol/scripts/interop/get-verification-args.ts
  examples/hardhat-sol/scripts/interop/send-message.ts
  examples/hardhat-sol/scripts/interop/test-local.ts
  examples/hardhat-sol/scripts/interop/test-onchain-verification.ts
  examples/hardhat-sol/scripts/interop/test-testnet.ts
  examples/hardhat-sol/scripts/interop/verify-message.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  389f34359f5333b25bfd0fb685dd1b1849a71d29
Due: none

feat: add foundry to zksync os quickstart
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  content/00.zksync-network/65.zksync-os/_partials/_foundry.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add portal, predeployed contracts, link
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add note about priority fee
  content/00.zksync-network/65.zksync-os/10.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add Prividium new features
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissioning.md
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/50.explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: updates to zksync os dev preview (#443)
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/65.zksync-os/07.quickstart.md
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/00.zksync-network/65.zksync-os/_partials/_foundry.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  9ca484177e100bdd0bdd5c238b83bcbd905bb951
Due: none

chore: rename to zk stack
  README.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/00.index.md
  content/00.zksync-network/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-network/65.zksync-os/00.index.md
  content/10.zk-stack/00.index.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/10.zk-stack/20.running/30.custom-base-tokens.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/20.running/55.ownership-model.md
  content/10.zk-stack/20.running/70.raas.md
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/40.extending/00.index.md
  content/10.zk-stack/50.zk-chain-addresses.md
  content/10.zk-stack/_dir.yml
  content/20.zksync-protocol/00.rollup/00.index.md
  content/20.zksync-protocol/00.rollup/10.transaction-lifecycle.md
  content/20.zksync-protocol/00.rollup/50.fee-model/10.how-l2-gas-price-works.md
  content/20.zksync-protocol/05.gateway/00.overview.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/10.l1-ecosystem-contracts.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
  content/20.zksync-protocol/80.account-abstraction/20.design.md
  content/index.yml
  error.vue
  header-links.ts
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: reorg zkstack docs
  content/10.zk-stack/00.index.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/10.server.md
  content/10.zk-stack/15.components/20.prover.md
  content/10.zk-stack/15.components/30.block-explorer.md
  content/10.zk-stack/15.components/40.portal-wallet-bridge.md
  content/10.zk-stack/15.components/50.fee-withdrawer.md
  content/10.zk-stack/15.components/_dir.yml
  content/10.zk-stack/20.running/60.production.md
  content/10.zk-stack/30.components/_dir.yml
  content/10.zk-stack/30.customizations/10.custom-base-tokens.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/30.customizations/30.configurations.md
  content/10.zk-stack/30.customizations/40.transaction-filtering.md
  content/10.zk-stack/30.customizations/50.node-framework.md
  content/10.zk-stack/30.customizations/_dir.yml
  content/10.zk-stack/40.extending/00.index.md
  content/10.zk-stack/40.extending/_dir.yml
  content/20.zksync-protocol/20.contracts/10.l1-contracts/30.zk-chain-addresses.md
  content/index.yml
  pages/index.vue
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link
  content/10.zk-stack/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link to zkstack quickstart (#445)
  content/10.zk-stack/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b0373cf6ca69203f8d2aea15aa5608c1bf7186ff
Due: none

docs: update chain components
  content/10.zk-stack/00.index.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/10.server.md
  content/10.zk-stack/15.components/10.zksync-os.md
  content/10.zk-stack/15.components/15.server.md
  content/10.zk-stack/15.components/20.prover.md
  content/10.zk-stack/15.components/20.zksync-airbender/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/01.deepdive.md
  content/10.zk-stack/15.components/20.zksync-airbender/_dir.yml
  content/10.zk-stack/15.components/30.block-explorer.md
  content/10.zk-stack/15.components/40.portal.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/30.customizations/10.custom-base-tokens.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/30.customizations/50.node-framework.md
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
  content/20.zksync-protocol/15.zksyncos/00.index.md
  content/20.zksync-protocol/15.zksyncos/00.overview.md
  content/20.zksync-protocol/15.zksyncos/01.double-accounting.md
  content/20.zksync-protocol/15.zksyncos/05.tx-processing.md
  content/_partials/_zksyncos/_overview.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/00.index.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/20.zksync-protocol/00.index.md
  content/20.zksync-protocol/15.zksyncos/04.system.md
  content/_partials/_zksyncos/_overview.md
  error.vue
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: cleanup
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/15.server.md
  content/10.zk-stack/15.components/20.zksync-airbender/00.index.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/20.running/40.proving.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: airbender repo links
  content/10.zk-stack/15.components/20.zksync-airbender/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/01.deepdive.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: protocol cards, txn filtering note
  content/10.zk-stack/30.customizations/40.transaction-filtering.md
  content/20.zksync-protocol/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: protocol links, icon
  content/20.zksync-protocol/00.index.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: icon
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: icon
  content/20.zksync-protocol/00.index.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: protocol links, icon (#447)
  content/20.zksync-protocol/00.index.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  cfc0a750a0b90ecd82ce5539342d03c5484c5373
Due: none
