Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

add redirects
  redirects.ts
Due: prettier --list-different, eslint

fix: format
  redirects.ts
Due: prettier --list-different, eslint

feat: move all compiler docs to their repos (#297)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/20.zksync-protocol/50.compiler/20.specification/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/20.code-separation.md
  content/20.zksync-protocol/50.compiler/20.specification/30.system-contracts.md
  content/20.zksync-protocol/50.compiler/20.specification/40.exception-handling.md
  content/20.zksync-protocol/50.compiler/20.specification/50.evmla-translator.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/100.memory.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/110.return.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/120.sha3.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/130.stack.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/20.arithmetic.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/30.bitwise.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/40.block.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/50.call.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/60.create.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/70.environment.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/80.logging.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/90.logical.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/_dir.yml
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/30.evmla.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/40.yul.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/_dir.yml
  content/20.zksync-protocol/50.compiler/20.specification/70.binary-layout.md
  content/20.zksync-protocol/50.compiler/20.specification/_dir.yml
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  d901f05988e5442a8e7d8996b70b2df85ac4cc3b
Due: none

fix: in memory node redirect
  redirects.ts
Due: prettier --list-different, eslint

Update 10.bridges.md
  content/30.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: in memory node redirect (#303)
  redirects.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  1138afa56c3613d5f9579bdb2080d9db834f471c
Due: none

chore: add default chain configurations
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/80.hardhat-zksync-verify.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add etherscan support for verify plugin (#252)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/80.hardhat-zksync-verify.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/30.ecosystem/10.bridges.md
  content/30.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 10.bridges.md
  content/00.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add Layerswap to the list of bridges (#304)
  content/00.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  8305058b1ac17d1d9850d54801c4a9cb6731f151
Due: none

fix: update CREATE assembly restrictions
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 90.node-providers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update command to include fork-url for anvil-zksync
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 40.proving.md
  content/10.zk-stack/20.running/40.proving.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

include the info on warning
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update CREATE assembly restrictions (#305)
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  5373fade6fe63074c0f72e845d811036c2a569e1
Due: none

Update content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/20.running/40.proving.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken link 40.proving.md (#308)
  content/10.zk-stack/20.running/40.proving.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  dbd4d873350e76c3bf06ea6ba1fc27bb7664f586
Due: none

fix: update command to include fork-url for anvil-zksync (#307)
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  a8181b4cba4972fa900d381d40c06f58e1dc62e3
Due: none

docs: Fix QuickNode provider language (#306)
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  69ae6ea0518d20d96cbdf5b9bd1e2d15908687d8
Due: none

Update 20.contribution-guidelines.md
  content/00.zksync-era/70.contributing/10.documentation/20.contribution-guidelines.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: unused files
  examples/hardhat-sol-template/deploy/deploy-greeter.ts
  examples/hardhat-sol-template/deploy/deploy.ts
  examples/hardhat-sol-template/deploy/interact.ts
  examples/hardhat-sol-template/deploy/utils.ts
  examples/hardhat-vyper-template/deploy/deploy.ts
  examples/hardhat-vyper-template/deploy/interact.ts
  examples/hardhat-vyper-template/deploy/utils.ts
Due: prettier --list-different, eslint

fix: new cli templates
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/10.getting-started.md
  examples/hardhat-sol-template/hardhat.config.ts
  examples/hardhat-sol-template/package.json
  examples/hardhat-sol-template/scripts/deploy.ts
  examples/hardhat-sol-template/scripts/interact.ts
  examples/hardhat-sol-template/test/erc20/myerc20token.test.ts
  examples/hardhat-sol-template/test/greeter.test.ts
  examples/hardhat-sol-template/test/nft/mynft.test.ts
  examples/hardhat-vyper-template/hardhat.config.ts
  examples/hardhat-vyper-template/package.json
  examples/hardhat-vyper-template/scripts/deploy.ts
  examples/hardhat-vyper-template/scripts/interact.ts
  examples/hardhat-vyper-template/test/greeter.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: redirects eco and sdks
  firebase.json
Due: prettier --list-different

fix: redirects validium
  firebase.json
Due: prettier --list-different

fix: more redirects validium
  firebase.json
Due: prettier --list-different

fix: redirects eco and sdks (#313)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  20868e2937aaaad068ece25db7ab745875f7f91b
Due: none
