Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

docs: Adding zkSync Sepolia Faucet (#173)
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ce50e83a6d90821d7eead028fc5d2125586a036c
Due: none

Update 60.network-faucets.md
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

network-faucets table
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

GetBlock and Sepolia faucet changes
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: refactor local zk stack docs
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
  content/10.zk-stack/20.running-a-zk-chain/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
  content/10.zk-stack/20.running-a-zk-chain/40.proving.md
  content/10.zk-stack/20.running-a-zk-chain/50.configurations.md
  content/10.zk-stack/20.running-a-zk-chain/60.production.md
  content/10.zk-stack/20.running-a-zk-chain/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

updates faucets list format
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typos
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: mispelling on zk chains page (#174)
  content/10.zk-stack/05.concepts/50.zk-chains.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  9303b35c2fff7365302f131ecd0fc237e311548e
Due: none

chore: Add-faucet (#175)
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Fix Web3.js Link
  content/00.build/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix(web3js): link (#178)
  content/00.build/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  2f5579b85f68f37ad75c2afd606737863adb750a
Due: none

docs: cleanup draft
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add configs page intro
  content/10.zk-stack/20.running-a-zk-chain/50.configurations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: clarify inception CLI options
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Apply suggestions from code review
  content/10.zk-stack/20.running-a-zk-chain/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
  content/10.zk-stack/20.running-a-zk-chain/40.proving.md
  content/10.zk-stack/20.running-a-zk-chain/50.configurations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: address feedback for zkstack docs
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
  content/10.zk-stack/20.running-a-zk-chain/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
  content/10.zk-stack/20.running-a-zk-chain/50.configurations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix typo, use allowlist
  content/10.zk-stack/20.running-a-zk-chain/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: refactor local ZK stack docs (#176)
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/10.zk-stack/20.running-a-zk-chain/10.quickstart.md
  content/10.zk-stack/20.running-a-zk-chain/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
  content/10.zk-stack/20.running-a-zk-chain/40.proving.md
  content/10.zk-stack/20.running-a-zk-chain/50.configurations.md
  content/10.zk-stack/20.running-a-zk-chain/60.production.md
  content/10.zk-stack/20.running-a-zk-chain/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  be61951d791e17d84b9abb1e6bc5c0627d79d418
Due: none

chore: clarify usage of createAccount / create2Account for deploying smart contract accounts
  content/00.build/65.developer-reference/40.account-abstraction/40.building-smart-accounts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: clarify usage of createAccount / create2Account for deploying (#179)
  content/00.build/65.developer-reference/40.account-abstraction/40.building-smart-accounts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: Cookbook Onboard integration
  app.vue
Due: prettier --list-different, eslint

feat: refactor zksync-hardhat documentation
  content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
  content/00.build/40.tooling/20.hardhat/00.introduction/01.why-zksync-hardhat.md
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/01.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/01.guides/30.compiling-libraries.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: edit zksync-101
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
  content/00.build/05.start-coding/10.zksync-101/20.contract-factory.md
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/50.paymaster.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_hardhat_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_foundry_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_hardhat_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_partials/_setup-wallet.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_foundry_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_hardhat_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon/_foundry_beacon_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent/_foundry_transparent_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups/_foundry_uups_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups_contract_upgradability.md
  cspell-config/cspell-zksync.txt
  public/images/quickstart-paymasters/crown-mint.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: edit few pages
  content/00.build/40.tooling/20.hardhat/00.introduction/01.why-zksync-hardhat.md
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: remove sdk from docs build
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint

docs: update sdk links
  content/00.build/40.tooling/20.hardhat/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/10.zk-stack/05.concepts/10.blocks.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: update sdk (#183)
  bun.lockb
  content/00.build/40.tooling/20.hardhat/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/10.zk-stack/05.concepts/10.blocks.md
  firebase.json
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  f889ab792cd4fa9c93aacb8be00a69f58fc042c0
Due: none

feat: adds multichain basic info
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: replaces with customData
  content/00.build/70.api-reference/_partials/_call-request-params.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: replaces with customData (#184)
  content/00.build/70.api-reference/_partials/_call-request-params.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e2bf4d5f8a2e456559762d41d98cb6eb3b749092
Due: none
