Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

docs: update header
  content/10.zk-stack/20.running/10.quickstart.md
  header-links.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update docs
  README.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove the irrelevant evm verification faq (#371)
  content/00.zksync-era/30.unique-features/40.evm-interpreter/02.faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  955e337386f33c68bf6bcf0b9568499d5c676a6d
Due: none

fix: report url
  content/20.zksync-protocol/60.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  24b88914c51e7ec006180186a920f625b5c8fce6
Due: none

Update README.md
  README.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add logs for debug
  .github/workflows/playwright.yaml
  examples/prividium/scripts/priv-interact.ts
  tests/prividium.ts
Due: prettier --list-different, eslint

Update 00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 90.node-providers.md - Add Grove
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/10.zk-stack/00.index.md
  content/10.zk-stack/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/10.zk-chains.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/20.running/10.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/10.zk-stack/30.components/00.index.md
  content/10.zk-stack/30.components/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update docs
  content/10.zk-stack/10.zk-chains.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b052ecc2e986a4af91600b5dd4f3fc470a9a2554
Due: none

chore: debug
  .github/workflows/playwright.yaml
Due: none

docs: add link to sso contract addresses
  content/00.zksync-era/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/100.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add link to SSO contract addresses (#401)
  content/00.zksync-era/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/100.faqs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  6046caaf61ac52a33cb94791a857addaaf9ae734
Due: none

docs: new rpc methods
  content/20.zksync-protocol/10.api/30.debug-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: method return
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: new rpc methods (#402)
  content/20.zksync-protocol/10.api/30.debug-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c3ad5c5d58c7ce479e9f06fc9d95be167a79b160
Due: none

feat: testnet paymaster, no ML
  content/00.zksync-era/30.unique-features/10.account-abstraction.md
  content/00.zksync-era/30.unique-features/20.paymaster.md
  content/00.zksync-era/50.sdk/20.go/30.guides/01.features.md
  content/00.zksync-era/50.sdk/30.python/30.guides/01.features.md
  content/00.zksync-era/50.sdk/40.java/20.guides/01.features.md
  content/20.zksync-protocol/80.account-abstraction/30.paymasters.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: adds explorer link
  content/00.zksync-era/30.unique-features/20.paymaster.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: testnet paymaster, no ML (#403)
  content/00.zksync-era/30.unique-features/10.account-abstraction.md
  content/00.zksync-era/30.unique-features/20.paymaster.md
  content/00.zksync-era/50.sdk/20.go/30.guides/01.features.md
  content/00.zksync-era/50.sdk/30.python/30.guides/01.features.md
  content/00.zksync-era/50.sdk/40.java/20.guides/01.features.md
  content/20.zksync-protocol/80.account-abstraction/30.paymasters.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  af94ecad7a2b6f405acbe25e211f97ff2db91794
Due: none

fix: try fix
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --list-different, eslint
