Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add viem interact test
  content/00.zksync-network/10.quick-start/_partials/_local-contract.md
  content/00.zksync-network/10.quick-start/_partials/_local-interact.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/_hardhat-deploy-local.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/viem/_hardhat-interact-local.md
  examples/zksync-os/scripts/interact-local-ethers.ts
  examples/zksync-os/scripts/interact-local-viem.ts
  tests/configs/quickstart-hardhat-viem.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add ethers test
  content/00.zksync-network/10.quick-start/_partials/_local-interact.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/ethers/_hardhat-interact-local.md
  tests/configs/quickstart-hardhat-ethers.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add react frontend test
  content/00.zksync-network/10.quick-start/5.build-a-frontend.md
  content/00.zksync-network/10.quick-start/_partials/_local-frontend.md
  content/00.zksync-network/10.quick-start/_partials/react/_react-frontend-local.md
  content/00.zksync-network/10.quick-start/_partials/react/_shared-setup-2.md
  content/00.zksync-network/10.quick-start/_partials/react/_shared-setup.md
  content/00.zksync-network/10.quick-start/_partials/vue/_shared-setup.md
  tests/configs/quickstart-react-frontend.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add vue frontend test
  content/00.zksync-network/10.quick-start/_partials/vue/_shared-setup-2.md
  content/00.zksync-network/10.quick-start/_partials/vue/_shared-setup.md
  content/00.zksync-network/10.quick-start/_partials/vue/_vue-frontend-local.md
  tests/configs/quickstart-vue-frontend.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add playwright test
  .github/workflows/playwright.yaml
  tests/configs/quickstart-hardhat-viem.ts
  tests/configs/quickstart-vue-frontend.ts
Due: prettier --list-different, eslint

fix: tests
  .github/workflows/playwright.yaml
  tests/configs/quickstart-foundry.ts
  tests/configs/quickstart-hardhat-ethers.ts
  tests/configs/quickstart-hardhat-viem.ts
Due: prettier --list-different, eslint

fix: frontend tests
  .github/workflows/playwright.yaml
Due: none

chore: update redirects
  firebase.json
Due: prettier --list-different

docs: cleanup text
  content/00.zksync-network/10.quick-start/1.index.md
  content/00.zksync-network/10.quick-start/_partials/_local-setup.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: local tests
  examples/zksync-os/scripts/interact-local-ethers-quickstart-token.ts
  examples/zksync-os/scripts/interact-local-viem-quickstart-token.ts
Due: prettier --list-different, eslint

fix: tests
  examples/zksync-os-foundry/script/InteractQuickstartToken.s.sol
  examples/zksync-os/scripts/interact-local-ethers-quickstart-token.ts
  examples/zksync-os/scripts/interact-local-viem-quickstart-token.ts
  tests/configs/quickstart-foundry.ts
  tests/configs/quickstart-hardhat-ethers.ts
  tests/configs/quickstart-hardhat-viem.ts
Due: prettier --list-different, eslint

fix: viem test
  tests/configs/quickstart-hardhat-viem.ts
Due: prettier --list-different, eslint

fix: cleanup instructions
  content/00.zksync-network/10.quick-start/1.index.md
  content/00.zksync-network/10.quick-start/2.setup.md
  content/00.zksync-network/10.quick-start/4.interact-with-your-contract.md
  content/00.zksync-network/10.quick-start/5.build-a-frontend.md
  content/00.zksync-network/10.quick-start/_partials/_contract.md
  content/00.zksync-network/10.quick-start/_partials/_local-funds.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-interact-local.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-interact-testnet.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-local.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-testnet.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/_hardhat-deploy-local.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/_hardhat-deploy-testnet.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/ethers/_hardhat-interact-local.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/ethers/_hardhat-interact-testnet.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/viem/_hardhat-interact-local.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/viem/_hardhat-interact-testnet.md
  content/00.zksync-network/10.quick-start/_partials/react/_react-frontend-local.md
  content/00.zksync-network/10.quick-start/_partials/react/_react-frontend-testnet.md
  content/00.zksync-network/10.quick-start/_partials/vue/_vue-frontend-local.md
  content/00.zksync-network/10.quick-start/_partials/vue/_vue-frontend-testnet.md
  examples/zksync-os-foundry/script/InteractQuickstartToken.s.sol
  examples/zksync-os/scripts/interact-local-ethers-quickstart-token.ts
  examples/zksync-os/scripts/interact-local-viem-quickstart-token.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: contributions and era rearrange
  README.md
  SUPPORT.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/20.interop-messages.md
  content/00.zksync-network/68.zksync-era/00.index.md
  content/00.zksync-network/68.zksync-era/01.network-details.md
  content/00.zksync-network/68.zksync-era/02.unique-features.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/10.bridges.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/110.user-onboarding.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/120.paymasters.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/20.cross-chain.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/50.monitoring.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/60.network-faucets.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/80.oracles.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/_dir.yml
  content/00.zksync-network/68.zksync-era/90.security-best-practices.md
  content/00.zksync-network/68.zksync-era/_dir.yml
  content/00.zksync-network/70.contributing/00.code.md
  content/00.zksync-network/70.contributing/10.documentation/10.index.md
  content/00.zksync-network/70.contributing/10.documentation/20.contribution-guidelines.md
  content/00.zksync-network/70.contributing/10.documentation/30.documentation-styleguide.md
  content/00.zksync-network/70.contributing/10.documentation/_dir.yml
  content/00.zksync-network/70.contributing/10.index.md
  content/00.zksync-network/70.contributing/20.protocol-contributions.md
  content/00.zksync-network/70.contributing/_dir.yml
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: interop guide links
  content/00.zksync-network/30.unique-features/50.zksync-connect/10.messaging.md
  content/00.zksync-network/30.unique-features/50.zksync-connect/20.interop-messages.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken link, redirect
  content/20.zksync-protocol/30.era-vm/70.differences/60.contract-deployment.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: og image description
  pages/index.vue
Due: prettier --list-different, eslint

chore: add legal callout for erc20 contract
  content/00.zksync-network/10.quick-start/_partials/_contract.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: Apply suggestions from code review
  content/00.zksync-network/10.quick-start/2.setup.md
  content/00.zksync-network/10.quick-start/5.build-a-frontend.md
  content/00.zksync-network/10.quick-start/_partials/_local-setup.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: apply feedback
  content/00.zksync-network/10.quick-start/1.index.md
  content/00.zksync-network/10.quick-start/2.deploy-your-first-contract.md
  content/00.zksync-network/10.quick-start/2.setup.md
  content/00.zksync-network/10.quick-start/3.interact-with-your-contract.md
  content/00.zksync-network/10.quick-start/4.build-a-frontend.md
  content/00.zksync-network/10.quick-start/_partials/_local-setup.md
  content/00.zksync-network/10.quick-start/_partials/_testnet-setup.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-local.md
  content/00.zksync-network/10.quick-start/_partials/foundry/_foundry-testnet.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/_hardhat-deploy-local.md
  content/00.zksync-network/10.quick-start/_partials/hardhat/_hardhat-deploy-testnet.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links
  content/00.zksync-network/70.contributing/10.documentation/30.documentation-styleguide.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: partial route
  content/00.zksync-network/10.quick-start/1.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  294a32b4cc0e55fa3bfc3791f592e53523003d29
Due: none

chore: removes zksync cli, adds general tooling
  content/00.zksync-network/40.tooling/35.zksync-cli/00.index.md
  content/00.zksync-network/40.tooling/35.zksync-cli/05.reading-transaction-data.md
  content/00.zksync-network/40.tooling/35.zksync-cli/10.wallet-actions.md
  content/00.zksync-network/40.tooling/35.zksync-cli/20.bridging.md
  content/00.zksync-network/40.tooling/35.zksync-cli/30.interact-with-contracts.md
  content/00.zksync-network/40.tooling/35.zksync-cli/35.creating-projects.md
  content/00.zksync-network/40.tooling/35.zksync-cli/40.running-a-node.md
  content/00.zksync-network/40.tooling/35.zksync-cli/50.configuring-chains.md
  content/00.zksync-network/40.tooling/35.zksync-cli/60.troubleshooting.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/00.index.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/05.zksync-cli-bridge.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/15.zksync-cli-config-chains.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/19.zksync-cli-contract.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/20.zksync-cli-create.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/25.zksync-cli-dev.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/40.zksync-cli-transaction.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/50.zksync-cli-wallet.md
  content/00.zksync-network/40.tooling/35.zksync-cli/90.reference/_dir.yml
  content/00.zksync-network/40.tooling/35.zksync-cli/_dir.yml
  content/00.zksync-network/68.zksync-era/30.custom-tooling.md
  content/00.zksync-network/68.zksync-era/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: replace tally links, update upgrades doc
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/90.upgrades-and-migrations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: replace tally links, update upgrades doc (#503)
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/90.upgrades-and-migrations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  a2610750e39ec1fe8a75e10dd43bff5e6234fa95
Due: none

feat: adds era vs os page
  content/00.zksync-network/30.unique-features/50.zksync-connect/20.interop-messages.md
  content/00.zksync-network/68.zksync-era/00.index.md
  content/10.zk-stack/12.eravm-and-zksync-os.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: no era os page
  content/00.zksync-network/68.zksync-era/00.index.md
  content/10.zk-stack/12.eravm-and-zksync-os.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  6530e1b5220329b3b50ca5cb4ad820b3afb6b0bf
Due: none

docs: add LearnAI interactive learning resource to ecosystem
  content/00.zksync-network/68.zksync-era/60.ecosystem/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: outline draft interop docs
  content/00.zksync-network/45.zksync-connect/05.guides/05.local-setup.md
  content/00.zksync-network/45.zksync-connect/05.guides/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/05.guides/15.asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/20.interop-messages.md
  content/00.zksync-network/45.zksync-connect/05.guides/_dir.yml
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/_partials/_ethers.md
  content/00.zksync-network/45.zksync-connect/_partials/_foundry.md
  content/00.zksync-network/45.zksync-connect/_partials/_viem.md
  content/_partials/_zksyncos/_run-script-interop.md
  content/_partials/_zksyncos/_setup-hh-interop.md
  examples/.gitignore
  examples/local-interop-foundry/.gitignore
  examples/local-interop-foundry/README.md
  examples/local-interop-foundry/contracts/InteropCounter.sol
  examples/local-interop-foundry/foundry.toml
  examples/local-interop-foundry/script/InteropCounterDeploy.s.sol
  examples/local-interop-foundry/script/InteropCounterFinalizeBundle.s.sol
  examples/local-interop-foundry/script/InteropCounterSendBundle.s.sol
  examples/local-interop-foundry/script/get-proof-encoded.sh
  examples/local-zksync-os/hardhat.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Refine DIA description in oracles.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update DIA oracle descp
  content/00.zksync-network/68.zksync-era/60.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: remove trailing spaces in oracles.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update audit list
  content/20.zksync-protocol/25.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
