Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: todo gw config (#385)
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  d0811cd79c4f540e33019fb744e3f8abe82f1db3
Due: none

chore: try debug
  .github/workflows/playwright.yaml
Due: none

fix: try waiting longer
  .github/workflows/playwright.yaml
Due: none

fix: try waiting longer
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: wait longer
  .github/workflows/playwright.yaml
  tests/prividium.ts
Due: prettier --list-different, eslint

docs: add limitations details
  content/10.zk-stack/35.prividium/20.proxy.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  .github/workflows/playwright.yaml
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: typo
  content/10.zk-stack/35.prividium/20.proxy.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add prividium limitations details (#386)
  content/10.zk-stack/35.prividium/20.proxy.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  fe861f84bc9d720d84fc9ebf082b87b937647722
Due: none

fix: try fix
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  tests/prividium.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fix test
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: test
  examples/prividium/scripts/priv-interact.ts
  tests/prividium.ts
Due: prettier --list-different, eslint

fix: fix test
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  tests/prividium.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: formatting
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: formatting (#387)
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c25dde7369b9f1b8c2dca4ce04127b9b98d31dc6
Due: none

fix: fixes, remove explorer steps
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  tests/prividium.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add Deployed L1 DA Validators
  content/10.zk-stack/20.running/35.validium.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: updates zksync OS docs and added docs for Airbender
  content/20.zksync-protocol/15.zksyncos/00.overview.md
  content/20.zksync-protocol/15.zksyncos/01.bootloader.md
  content/20.zksync-protocol/15.zksyncos/02.execution-environment.md
  content/20.zksync-protocol/15.zksyncos/03.system.md
  content/20.zksync-protocol/15.zksyncos/04.tx-processing.md
  content/20.zksync-protocol/15.zksyncos/05.hooks-flows.md
  content/20.zksync-protocol/15.zksyncos/_dir.yml
  content/20.zksync-protocol/17.zksync-airbender/00.overview.md
  content/20.zksync-protocol/17.zksync-airbender/01.deepdive.md
  content/20.zksync-protocol/17.zksync-airbender/_dir.yml
  cspell-config/cspell-dev.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: updated hyperlinks
  content/20.zksync-protocol/15.zksyncos/02.execution-environment.md
  content/20.zksync-protocol/15.zksyncos/05.hooks-flows.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: updated path
  content/20.zksync-protocol/15.zksyncos/01.bootloader.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: split into 2 tables
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add separate headings for ethereum and gateway
  content/10.zk-stack/20.running/35.validium.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/20.running/35.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/20.zksync-protocol/05.gateway/20.da-considerations.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add Deployed L1 DA Validators (#388)
  content/10.zk-stack/20.running/35.validium.md
  content/20.zksync-protocol/05.gateway/20.da-considerations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  81ddc3836289fb87ad1eed4c29a3851b171d0408
Due: none

docs: updated graphics
  content/20.zksync-protocol/15.zksyncos/04.tx-processing.md
  content/20.zksync-protocol/15.zksyncos/05.hooks-flows.md
  public/images/zksyncos-airbender/bootloader_bheader.png
  public/images/zksyncos-airbender/tx_lifecycle.png
  public/images/zksyncos-airbender/tx_lifecycle.svg
  public/images/zksyncos-airbender/zksyncOS.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/20.zksync-protocol/15.zksyncos/00.overview.md
  content/20.zksync-protocol/15.zksyncos/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/20.zksync-protocol/15.zksyncos/05.hooks-flows.md
  content/20.zksync-protocol/15.zksyncos/05.hooks-flows.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/20.zksync-protocol/17.zksync-airbender/00.overview.md
  content/20.zksync-protocol/17.zksync-airbender/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
