Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: site name formatting (#156)
  app.config.ts
  bun.lockb
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  b486606627d6821aed0c07ea618e4936bda75d14
Due: none

fix: docs
  content/00.build/60.test-and-debug/20.in-memory-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix forge build command: without use solc there is an error Unknown version provided
  content/00.build/40.tooling/30.foundry/20.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 00.transaction-lifecycle.md
  content/10.zk-stack/05.concepts/00.transaction-lifecycle.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

lint corrections
  content/30.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 60.network-faucets.md
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typos in binary layout document
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update alchemy faucets link (#159)
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  51c99f0615f92e2b1403b2e1172f36b5126ade59
Due: none

fix: typos in binary layout document (#160)
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4597f3834971bcdc67abea00c81dbf336a67c5bc
Due: none

docs: add chronicle to oracles list (#154)
  content/30.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  8b5ad1cf76511f1e57287ef7f488da4dcca671d3
Due: none

fix: formatting in transaction-lifecycle.md (#158)
  content/10.zk-stack/05.concepts/00.transaction-lifecycle.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  02426ee5e011f6ad987afe8c887b01647679f164
Due: none

docs: update cli location in nav
  content/00.build/10.zksync-101/00.index.md
  content/00.build/20.zksync-cli/00.index.md
  content/00.build/20.zksync-cli/01.troubleshooting.md
  content/00.build/20.zksync-cli/10.zksync-cli-dev.md
  content/00.build/20.zksync-cli/20.zksync-cli-create.md
  content/00.build/20.zksync-cli/30.zksync-cli-contract.md
  content/00.build/20.zksync-cli/40.zksync-cli-transaction.md
  content/00.build/20.zksync-cli/50.zksync-cli-wallet.md
  content/00.build/20.zksync-cli/60.zksync-cli-bridge.md
  content/00.build/20.zksync-cli/70.zksync-cli-config-chains.md
  content/00.build/20.zksync-cli/_dir.yml
  content/00.build/40.tooling/20.hardhat/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/60.hardhat-zksync-deploy.md
  content/00.build/60.test-and-debug/00.index.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/00.build/60.test-and-debug/40.hardhat.md
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/index.yml
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update cli location in nav (#161)
  content/00.build/10.zksync-101/00.index.md
  content/00.build/20.zksync-cli/00.index.md
  content/00.build/20.zksync-cli/01.troubleshooting.md
  content/00.build/20.zksync-cli/10.zksync-cli-dev.md
  content/00.build/20.zksync-cli/20.zksync-cli-create.md
  content/00.build/20.zksync-cli/30.zksync-cli-contract.md
  content/00.build/20.zksync-cli/40.zksync-cli-transaction.md
  content/00.build/20.zksync-cli/50.zksync-cli-wallet.md
  content/00.build/20.zksync-cli/60.zksync-cli-bridge.md
  content/00.build/20.zksync-cli/70.zksync-cli-config-chains.md
  content/00.build/20.zksync-cli/_dir.yml
  content/00.build/40.tooling/20.hardhat/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/60.hardhat-zksync-deploy.md
  content/00.build/60.test-and-debug/00.index.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/00.build/60.test-and-debug/40.hardhat.md
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/index.yml
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  8f8de9e7210a78ab8e401951fbb5835b00c4bf8a
Due: none

fix: update redirect
  firebase.json
Due: prettier --list-different

fix: update redirect (#162)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  baf3b992e213d14693dd7bbeee872c4a5989ecd5
Due: none

fix linting checks
  content/30.ecosystem/30.data-indexers.md
  cspell-config/cspell-blockchain.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: migration guide
  content/00.build/40.tooling/20.hardhat/21.migrating-to-zksync.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Adding contract addresses
  content/00.build/95.resources/80.addresses.md
  content/00.build/95.resources/graph.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

remove link
  content/00.build/95.resources/80.addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fixed table
  content/00.build/95.resources/80.addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

more table fixes
  content/00.build/95.resources/80.addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

another table fix
  content/00.build/95.resources/80.addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

another one
  content/00.build/95.resources/80.addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix image
  content/00.build/95.resources/80.addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: edit zk chain addresses page
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
  content/00.build/95.resources/80.addresses.md
  cspell-config/cspell-blockchain.txt
  public/images/build/zk-chain.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update image reference for zk chain addresses
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
  public/images/build/zk-chain.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: edit zksync-cli section
  content/00.build/20.zksync-cli/00.index.md
  content/00.build/20.zksync-cli/00.reference/00.overview.md
  content/00.build/20.zksync-cli/00.reference/10.zksync-cli-dev.md
  content/00.build/20.zksync-cli/00.reference/20.zksync-cli-create.md
  content/00.build/20.zksync-cli/00.reference/30.zksync-cli-contract.md
  content/00.build/20.zksync-cli/00.reference/40.zksync-cli-transaction.md
  content/00.build/20.zksync-cli/00.reference/50.zksync-cli-wallet.md
  content/00.build/20.zksync-cli/00.reference/60.zksync-cli-bridge.md
  content/00.build/20.zksync-cli/00.reference/70.zksync-cli-config-chains.md
  content/00.build/20.zksync-cli/00.reference/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: simplify tables for zk chain addresses
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: removes solc version
  content/00.build/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
  content/00.build/10.zksync-101/_hello-zksync/_foundry_deploy_contract.md
  content/00.build/10.zksync-101/_testing/_foundry_contract_testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: urls for zksync-cli reference
  content/00.build/20.zksync-cli/90.reference/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: removes solc version (#166)
  content/00.build/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
  content/00.build/10.zksync-101/_hello-zksync/_foundry_deploy_contract.md
  content/00.build/10.zksync-101/_testing/_foundry_contract_testing.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
