Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --file

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --file
'*.{json,yml}':
  - prettier --list-different

fix: update template link to new paymaster template
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
Due: markdownlint-cli2, cspell lint --file

fix: update ZeekMessages in template
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
Due: markdownlint-cli2, cspell lint --file

fix: update atlas template links
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
Due: markdownlint-cli2, cspell lint --file

fix: update template link
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
Due: markdownlint-cli2, cspell lint --file

fix: update template link
  content/00.build/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
Due: markdownlint-cli2, cspell lint --file

docs: update atlas links + inline scripts (#132)
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
Due: markdownlint-cli2, cspell lint --file

Notes added by 'git notes add'
  a7ce7d6a17fb6579342a3d46d8a55e5fb2a4b42e
Due: none

Update 10.blocks.md
  content/10.zk-stack/05.concepts/10.blocks.md
Due: markdownlint-cli2, cspell lint --file

Notes added by 'git notes add'
  1947388124792a6b3f516b3436058f34dab271a1
Due: none

fix: update 10.protocol.md
  content/00.build/65.developer-reference/10.protocol.md
Due: markdownlint-cli2, cspell lint --file

fix: update wording
  content/00.build/65.developer-reference/10.protocol.md
Due: markdownlint-cli2, cspell lint --file

Fix line spacing
  content/00.build/95.resources/60.faq.md
Due: markdownlint-cli2, cspell lint --file

fix: update 10.protocol.md (#151)
  content/00.build/65.developer-reference/10.protocol.md
Due: markdownlint-cli2, cspell lint --file

Notes added by 'git notes add'
  789c9ba43a9b28cc2334209c9cb2236acf3c1d50
Due: none

chore: edits to copy
  content/00.build/95.resources/60.faq.md
Due: markdownlint-cli2, cspell lint --file

fix: Update FAQ (#147)
  content/00.build/95.resources/60.faq.md
Due: markdownlint-cli2, cspell lint --file

Notes added by 'git notes add'
  9fdab01dcc5f8eb5fc5b8ad39a7d288adc06e448
Due: none

chore: update tutorial with video
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
Due: markdownlint-cli2, cspell lint --file

chore: update content/00.build/05.quick-start/3.deploy-your-first-contract.md
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
Due: markdownlint-cli2, cspell lint --file

doc: update tutorial with video (#152)
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
Due: markdownlint-cli2, cspell lint --file

docs: switch-to-default-codegen-with-zksolc (#141)
  content/00.build/40.tooling/20.hardhat/40.hardhat-zksync-solc.md
Due: markdownlint-cli2, cspell lint --file

Notes added by 'git notes add'
  dff3eb43c3e34c50c31bdab352c519b08d8d06a3
Due: none

chore: edit vscode settings (#150)
  .vscode/settings.json
Due: prettier --list-different

Update 3.deploy-your-first-contract.md
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
Due: markdownlint-cli2, cspell lint --file

fix: add aspect-ratio scale to video
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
Due: markdownlint-cli2, cspell lint --file

chore: Update 3.deploy-your-first-contract.md (#153)
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
Due: markdownlint-cli2, cspell lint --file

feat: add chronicle to oracles page
  content/30.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --file

feat: v1 update of quickstart to new zk cli
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

fix: update markdown issues
  bun.lockb
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

fix: update structure a bit
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

fix: make foundry less prominent in quickstart
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

fix: make more clear your chain is not era
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

fix: update some old zk stack commands
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/10.zk-stack/20.running-a-zk-chain/20.production.md
Due: markdownlint-cli2, cspell lint --file

fix: markdown error
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

fix: update geth to reth
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  cspell-config/cspell-blockchain.txt
Due: markdownlint-cli2, cspell lint --file

fix: resolve suggestion
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: markdownlint-cli2, cspell lint --file

feat: remake zk stack quickstart to use new zk cli (#155)
  bun.lockb
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/10.zk-stack/20.running-a-zk-chain/20.production.md
  cspell-config/cspell-blockchain.txt
Due: markdownlint-cli2, cspell lint --file

fix: site name formatting
  app.config.ts
Due: prettier --list-different, eslint

chore: update bun lockfile
  bun.lockb
Due: none
