Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/20.zksync-protocol/25.security/10.audits.md
  content/20.zksync-protocol/25.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: Add ZKsync OS and Airbender audit reports (#510)
  content/20.zksync-protocol/25.security/10.audits.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typos
  content/00.zksync-network/45.zksync-connect/05.guides/05.local-setup.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_asset-transfers-shared.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_foundry-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/_partials/_zksyncos/_setup-hh-interop.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: apply suggestions
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: lint
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_asset-transfers-shared.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_hardhat-shared.md
  content/_partials/_zksyncos/_setup-hh-interop.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: simplified era ecosystem
  content/00.zksync-network/68.zksync-era/60.ecosystem.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/10.bridges.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/110.user-onboarding.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/120.paymasters.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/20.cross-chain.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/50.monitoring.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/60.network-faucets.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/80.oracles.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: custom era tools
  content/00.zksync-network/68.zksync-era/30.custom-tooling.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: redirects and link updates ecosystem
  content/00.zksync-network/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-network/10.guides/10.quick-start/4.erc20-token.md
  content/00.zksync-network/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-network/65.zksync-os/05.network-details.md
  content/00.zksync-network/68.zksync-era/01.network-details.md
  content/00.zksync-network/68.zksync-era/02.unique-features.md
  content/20.zksync-protocol/10.api/00.index.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0e2835e3ce70b5e0e535e520f0048607527ac319
Due: none

fix: resolve failing link checks
  .lycheeignore
  content/00.zksync-network/68.zksync-era/60.ecosystem.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.zksync-network/68.zksync-era/30.custom-tooling.md
  content/00.zksync-network/68.zksync-era/30.custom-tooling.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: adds rich wallets
  content/00.zksync-network/68.zksync-era/30.custom-tooling.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  67b5e8809abf2058910cdd70ee17dece253875fb
Due: none

fix: disable extracted payloads for static docs routes
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: flatten outdated ecosystem redirects
  firebase.json
Due: prettier --list-different

fix: point remaining tooling redirects to custom tooling
  firebase.json
Due: prettier --list-different

fix: disable extracted payloads for static docs routes (#513)
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: remove zksync sso
  content/00.zksync-network/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/21.auth-server.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/27.accounts.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/28.account-recovery.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/30.transaction-flow.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/_dir.yml
  content/00.zksync-network/30.unique-features/_dir.yml
  content/00.zksync-network/65.zksync-os/10.faqs.md
  examples/sso/.gitignore
  examples/sso/bun.lock
  examples/sso/index.html
  examples/sso/package.json
  examples/sso/src/deployModularAccount.ts
  examples/sso/src/ecdsa.ts
  examples/sso/src/main.ts
  examples/sso/src/registerPasskey.ts
  examples/sso/src/reownAppkit.ts
  examples/sso/src/vite-env.d.ts
  examples/sso/src/wagmi.ts
  examples/sso/tsconfig.json
  firebase.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: ignore gnu link
  .lycheeignore
Due: none

chore: remove zksync sso (#514)
  .lycheeignore
  content/00.zksync-network/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/21.auth-server.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/27.accounts.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/28.account-recovery.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/30.transaction-flow.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/_dir.yml
  content/00.zksync-network/30.unique-features/_dir.yml
  content/00.zksync-network/65.zksync-os/10.faqs.md
  examples/sso/.gitignore
  examples/sso/bun.lock
  examples/sso/index.html
  examples/sso/package.json
  examples/sso/src/deployModularAccount.ts
  examples/sso/src/ecdsa.ts
  examples/sso/src/main.ts
  examples/sso/src/registerPasskey.ts
  examples/sso/src/reownAppkit.ts
  examples/sso/src/vite-env.d.ts
  examples/sso/src/wagmi.ts
  examples/sso/tsconfig.json
  firebase.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e92997da1458616531e2ab6a973fac34ee39ea1e
Due: none

chore: test nuxt template change to hide tutorials
  README.md
  bun.lockb
  error.vue
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: test latest nuxt template
  bun.lockb
  package.json
Due: prettier --list-different

chore: update nuxt template package
  bun.lockb
  package.json
Due: prettier --list-different

chore: hide tutorials (#515)
  README.md
  bun.lockb
  error.vue
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add BattleChain Mainnet (chainId 626) to ecosystem chains
  data/chains.json
Due: prettier --list-different

chore(audits): add veridise audit
  content/20.zksync-protocol/25.security/10.audits.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore(audits): add veridise audit for airbender v2 and v31 OZ (#517)
  content/20.zksync-protocol/25.security/10.audits.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs(ecosystem): reference OpenChainBench for live public RPC latency
  content/00.zksync-network/68.zksync-era/60.ecosystem.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove prividium licensing and explorer pages
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/70.license.md
  content/10.zk-stack/35.prividium/_partials/_license-callout.md
  content/10.zk-stack/90.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove prividium licensing and explorer pages (#519)
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/70.license.md
  content/10.zk-stack/35.prividium/_partials/_license-callout.md
  content/10.zk-stack/90.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove outdated zk stack docs
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/30.block-explorer.md
  content/10.zk-stack/15.components/40.portal.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/30.customizations/10.custom-base-tokens.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/30.customizations/30.configurations.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/90.license.md
  content/20.zksync-protocol/05.gateway/00.index.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: remove old links
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: cleanup outdated zkstack docs (#520)
  content/00.zksync-network/65.zksync-os/10.faqs.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/30.block-explorer.md
  content/10.zk-stack/15.components/40.portal.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/30.customizations/10.custom-base-tokens.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/30.customizations/30.configurations.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/90.license.md
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/05.gateway/10.features.md
  content/20.zksync-protocol/05.gateway/50.gateway-faq.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove gateway and old v31 guides from connect section
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/05.guides/05.local-setup.md
  content/00.zksync-network/45.zksync-connect/05.guides/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/05.guides/15.asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/20.interop-messages.md
  content/00.zksync-network/45.zksync-connect/05.guides/_dir.yml
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/30.messaging.md
  content/00.zksync-network/45.zksync-connect/40.interop-fees.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove gateway and old v31 guides from connect section (#521)
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/05.guides/05.local-setup.md
  content/00.zksync-network/45.zksync-connect/05.guides/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/05.guides/15.asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/20.interop-messages.md
  content/00.zksync-network/45.zksync-connect/05.guides/_dir.yml
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/30.messaging.md
  content/00.zksync-network/45.zksync-connect/40.interop-fees.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
