Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1ae64bee17ad920d341304072d9753278340818b
Due: none

Update content/00.zksync-era/60.ecosystem/110.user-onboarding.md
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: erc7579 phrasing & linking
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sentence flow
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sentence flow 2
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix lint
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: Update 110.user-onboarding.md (#363)
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  2b39d754d91e57f0f05077a286d9bab7ec53d7a8
Due: none

fix: deprecated api methods
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: deprecated api methods (#375)
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  52fe915740e237a7e0175eaa781a7524f8cdf7ca
Due: none

feat: initial prividium docs
  content/10.zk-stack/35.prividiums/00.index.md
  content/10.zk-stack/35.prividiums/10.quickstart.md
  content/10.zk-stack/35.prividiums/20.components.md
  content/10.zk-stack/35.prividiums/_dir.yml
  content/10.zk-stack/35.prividiums/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_wallet.md
  content/_partials/commands/_compile-deploy-erc20.md
  cspell-config/cspell-zksync.txt
  examples/prividium/.env.example
  examples/prividium/.gitignore
  examples/prividium/.npmrc
  examples/prividium/bun.lockb
  examples/prividium/contracts/erc20/MyERC20Token.sol
  examples/prividium/hardhat.config.ts
  examples/prividium/package.json
  examples/prividium/permissions.yaml
  examples/prividium/scripts/check-balance.ts
  examples/prividium/scripts/deploy-erc20.ts
  examples/prividium/scripts/priv-interact.ts
  examples/prividium/tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: cleanup
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/35.prividiums/10.quickstart.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_restart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: cleanup
  content/10.zk-stack/35.prividiums/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_interact.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link
  content/10.zk-stack/35.prividiums/_partials/quickstart/_access.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: draft intro & components pages, feedback
  components/CenteredContainer.vue
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/10.getting-started.md
  content/10.zk-stack/35.prividium/20.components.md
  content/10.zk-stack/35.prividium/_dir.yml
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
  content/10.zk-stack/35.prividiums/00.index.md
  content/10.zk-stack/35.prividiums/10.quickstart.md
  content/10.zk-stack/35.prividiums/20.components.md
  content/10.zk-stack/35.prividiums/_dir.yml
  cspell-config/cspell-zksync.txt
  nuxt.config.ts
  public/images/zk-stack/how-prividium-works.png
  public/images/zk-stack/prividium-architecture.png
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: typo
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: minor fixes
  content/10.zk-stack/35.prividium/20.components.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  public/images/zk-stack/prividium-architecture.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: clarify fn format
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  examples/prividium/bun.lockb
  examples/prividium/package.json
  examples/prividium/permissions.yaml
  examples/prividium/scripts/print-format.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: small fix in checking balances
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: small fix in checking balances (#377)
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: change to the correct compiler version
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: change to the correct compiler version (#378)
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: small fixes
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/20.components.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  examples/prividium/scripts/check-balance.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: feedback
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: upgrade instructions
  content/10.zk-stack/35.prividium/20.components.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update sso documentation
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: minor fixes
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/10.getting-started.md
  content/10.zk-stack/35.prividium/20.components.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update sso documentation (#379)
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1d96598bc44aabc8a82eb75f706bbc409e94ffee
Due: none

docs: block explorer instructions, cleanup
  content/10.zk-stack/35.prividium/10.getting-started.md
  content/10.zk-stack/35.prividium/20.components.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  examples/prividium/example-permissions.yaml
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add detail
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: refactor
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.components.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: initial prividium docs (#376)
  components/CenteredContainer.vue
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/35.prividium/00.index.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.explorer.md
  content/10.zk-stack/35.prividium/_dir.yml
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
  content/_partials/commands/_compile-deploy-erc20.md
  cspell-config/cspell-zksync.txt
  examples/prividium/.env.example
  examples/prividium/.gitignore
  examples/prividium/.npmrc
  examples/prividium/bun.lockb
  examples/prividium/contracts/erc20/MyERC20Token.sol
  examples/prividium/example-permissions.yaml
  examples/prividium/hardhat.config.ts
  examples/prividium/package.json
  examples/prividium/permissions.yaml
  examples/prividium/scripts/check-balance.ts
  examples/prividium/scripts/deploy-erc20.ts
  examples/prividium/scripts/print-format.ts
  examples/prividium/scripts/priv-interact.ts
  examples/prividium/tsconfig.json
  nuxt.config.ts
  public/images/zk-stack/how-prividium-works.png
  public/images/zk-stack/prividium-architecture.png
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  82db9bdfead26736e71816c0525e81853d7ba6f6
Due: none

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
