Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

Notes added by 'git notes add'
  d2d3e8ee492ae459cf3bbe86948c70b0336120d0
Due: none

fix: zksync-cli content
  content/00.build/05.start-coding/_dir.yml
  content/00.build/20.zksync-cli/35.creating-projects.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: missing page for zksync-cli
  content/00.build/20.zksync-cli/90.reference/05.zksync-cli-bridge.md
  content/00.build/20.zksync-cli/90.reference/50.zksync-cli-wallet.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: references to zk chain
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  public/images/developer-reference/l1-smart-contracts/zkchain-scheme.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  7ec94417a1e678df8700a47142ecd685c1242679
Due: none

feat: adds envio to zksync supported data indexers (#119)
  content/30.ecosystem/30.data-indexers.md
  cspell-config/cspell-blockchain.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  3a8a364125a7ffdea415149c4f2940853a56ae3b
Due: none

feat: Adding contract addresses (#164)
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
  content/00.build/65.developer-reference/50.era-contracts/25.l1-ecosystem-contracts.md
  cspell-config/cspell-blockchain.txt
  public/images/developer-reference/l1-smart-contracts/zkchain-scheme.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  7849a9bf239f68d7067d739c98f2c66d11933035
Due: none

Update _foundry_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

FIX adds infura to the docs
  content/30.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 90.node-providers.md
  content/30.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: Update _foundry_deploy_contract_factory.md (#168)
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  d0f0d1a631975f66ae46d46e25bb1cac34a44b22
Due: none

feat: updated with new API
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/21.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: wip
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
  content/00.build/05.start-coding/10.zksync-101/20.contract-factory.md
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/50.paymaster.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_hardhat_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_foundry_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_hardhat_deploy_contract.md
  package.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: titles
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/99.migrating-to-zksync_old.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds code tabs, reorg
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update zksync-101
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_foundry_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_hardhat_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
  cspell-config/cspell-dev.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: zksync-101 content
  content/00.build/05.start-coding/10.zksync-101/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update package
  bun.lockb
Due: none

docs: update paymaster docs for zksync101
  content/00.build/05.start-coding/10.zksync-101/50.paymaster.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_general_paymaster_flow.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: cleanup contract addresses
  README.md
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: cleanup contract addresses (#171)
  README.md
  content/00.build/65.developer-reference/12.addresses/80.zk-chain-addresses.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ebbe26b20a1497c15dafe800f1e53c655e05abe4
Due: none

docs: Zksync 101 refactor (#170)
  bun.lockb
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
  content/00.build/05.start-coding/10.zksync-101/20.contract-factory.md
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/50.paymaster.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_foundry_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_deploy_factory/_hardhat_deploy_contract_factory.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_foundry_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_hello-zksync/_hardhat_deploy_contract.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_foundry_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_testing/_hardhat_contract_testing.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
  cspell-config/cspell-dev.txt
  package.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4c4c03c4290b56f717fddb3310f43641f02f1360
Due: none

Update 60.network-faucets.md
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds ignition
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: Update 60.network-faucets.md (#167)
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  55b070fda23ec41c4ef62be5e59f085c796ebdd0
Due: none

docs: adds infura to the docs (#169)
  content/30.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4a17f8ba4b2b51333db11259c53d024fbc0829ef
Due: none

Update content/30.ecosystem/60.network-faucets.md
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Lint fixes
  content/30.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: mispelling on zk chains page
  content/10.zk-stack/05.concepts/50.zk-chains.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
