Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: gateway instructions
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: numbers
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add usdc bridge docs
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/10.v5/20.accounts/01.wallet.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/10.v5/20.accounts/03.l1signer.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/20.accounts/01.wallet.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/20.accounts/03.l1signer.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/00.index.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/01.usdc-bridge.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add usdc bridge docs
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/00.index.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/01.abstract-bridge.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/01.usdc-bridge.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/02.usdc-bridge.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/03.types.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: gateway instructions (#421)
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  7f0c6a4befaabe86396d6aa07acae216415e0e13
Due: none

chore: import usdc bridge examples
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/02.usdc-bridge.md
  examples/hardhat-sol/.env.example
  examples/hardhat-sol/bun.lockb
  examples/hardhat-sol/hardhat.config.ts
  examples/hardhat-sol/package.json
  examples/hardhat-sol/scripts/usdc-bridge.ts
  examples/hardhat-sol/scripts/usdc-deposit.ts
  examples/hardhat-sol/scripts/usdc-finalize-withdrawal.ts
  examples/hardhat-sol/scripts/usdc-withdraw.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: prividium guide
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  examples/prividium/example-permissions.yaml
  examples/prividium/permissions.yaml
  examples/prividium/scripts/check-balance.ts
  examples/prividium/scripts/priv-interact.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add wallets access section
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: prividium guide (#423)
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  examples/prividium/example-permissions.yaml
  examples/prividium/permissions.yaml
  examples/prividium/scripts/check-balance.ts
  examples/prividium/scripts/priv-interact.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  9340416629cba7954d69b2d5e0b6484a66ffccaa
Due: none

feat: add usdc bridge docs (#422)
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/10.v5/20.accounts/01.wallet.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/10.v5/20.accounts/03.l1signer.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/20.accounts/01.wallet.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/20.accounts/03.l1signer.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/00.index.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/01.abstract-bridge.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/02.usdc-bridge.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/03.types.md
  content/00.zksync-era/50.sdk/10.js/01.ethers/05.api/20.v6/60.bridges/_dir.yml
  examples/hardhat-sol/.env.example
  examples/hardhat-sol/bun.lockb
  examples/hardhat-sol/hardhat.config.ts
  examples/hardhat-sol/package.json
  examples/hardhat-sol/scripts/usdc-bridge.ts
  examples/hardhat-sol/scripts/usdc-deposit.ts
  examples/hardhat-sol/scripts/usdc-finalize-withdrawal.ts
  examples/hardhat-sol/scripts/usdc-withdraw.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b7f181726c90e45213d05cb078e79780f6184b8f
Due: none

chore: use drop panel component
  content/00.zksync-era/40.tooling/30.foundry/20.getting-started.md
  content/10.zk-stack/20.running/55.ownership-model.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: hh testing guide, minor cleanup
  content/00.zksync-era/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/10.getting-started.md
  content/00.zksync-era/40.tooling/30.foundry/20.getting-started.md
  content/_partials/commands/_test-greeter.md
  examples/hardhat-sol-template/bun.lockb
  examples/hardhat-sol-template/contracts/Factory.sol
  examples/hardhat-sol-template/hardhat.config.ts
  examples/hardhat-sol-template/package.json
  examples/hardhat-sol-template/scripts/deploy.ts
  examples/hardhat-sol-template/scripts/interact.ts
  examples/hardhat-sol-template/test/erc20/myerc20token.test.ts
  examples/hardhat-sol-template/test/greeter-expanded.test.ts
  examples/hardhat-sol-template/test/nft/mynft.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: use compile partial
  content/00.zksync-era/40.tooling/20.hardhat/10.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update migration guide
  content/00.zksync-era/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  examples/101/.env.example
  examples/101/.gitignore
  examples/101/.npmrc
  examples/101/bun.lock
  examples/101/contracts/3-proxy-contracts/beacon/BeaconCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/beacon/V2_BeaconCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/transparent/ProxyableCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/transparent/V2_ProxyableCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/uups/UUPSCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/uups/V2_UUPSCrowdfundingCampaign.sol
  examples/101/deploy/3-proxy-contracts/beacon/deploy.ts
  examples/101/deploy/3-proxy-contracts/beacon/upgrade.ts
  examples/101/deploy/3-proxy-contracts/transparent/deploy.ts
  examples/101/deploy/3-proxy-contracts/transparent/upgrade.ts
  examples/101/deploy/3-proxy-contracts/uups/deploy.ts
  examples/101/deploy/3-proxy-contracts/uups/upgrade.ts
  examples/101/hardhat.config.ts
  examples/101/package.json
  examples/101/test/3-proxy-contracts/BeaconProxy.test.ts
  examples/101/tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: example imports
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  examples/101/deploy/3-proxy-contracts/beacon/deploy.ts
  examples/101/deploy/3-proxy-contracts/beacon/upgrade.ts
  examples/101/deploy/3-proxy-contracts/transparent/upgrade.ts
  examples/101/deploy/3-proxy-contracts/uups/deploy.ts
  examples/101/deploy/3-proxy-contracts/uups/upgrade.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: uups examples
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: hh testing guide, docs cleanup (#424)
  content/00.zksync-era/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/10.getting-started.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/30.foundry/20.getting-started.md
  content/10.zk-stack/20.running/55.ownership-model.md
  content/_partials/commands/_test-greeter.md
  examples/101/.env.example
  examples/101/.gitignore
  examples/101/.npmrc
  examples/101/bun.lock
  examples/101/contracts/3-proxy-contracts/beacon/BeaconCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/beacon/V2_BeaconCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/transparent/ProxyableCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/transparent/V2_ProxyableCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/uups/UUPSCrowdfundingCampaign.sol
  examples/101/contracts/3-proxy-contracts/uups/V2_UUPSCrowdfundingCampaign.sol
  examples/101/deploy/3-proxy-contracts/beacon/deploy.ts
  examples/101/deploy/3-proxy-contracts/beacon/upgrade.ts
  examples/101/deploy/3-proxy-contracts/transparent/deploy.ts
  examples/101/deploy/3-proxy-contracts/transparent/upgrade.ts
  examples/101/deploy/3-proxy-contracts/uups/deploy.ts
  examples/101/deploy/3-proxy-contracts/uups/upgrade.ts
  examples/101/hardhat.config.ts
  examples/101/package.json
  examples/101/test/3-proxy-contracts/BeaconProxy.test.ts
  examples/101/tsconfig.json
  examples/hardhat-sol-template/bun.lockb
  examples/hardhat-sol-template/contracts/Factory.sol
  examples/hardhat-sol-template/package.json
  examples/hardhat-sol-template/scripts/deploy.ts
  examples/hardhat-sol-template/scripts/interact.ts
  examples/hardhat-sol-template/test/erc20/myerc20token.test.ts
  examples/hardhat-sol-template/test/greeter-expanded.test.ts
  examples/hardhat-sol-template/test/nft/mynft.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b7ac91166e64c02dcd4070e0838342708470352e
Due: none

fix: remove onSessionStateChange
  examples/sso/src/wagmi.ts
Due: prettier --list-different, eslint

Update 90.node-providers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update 30.data-indexers.md
  content/00.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: refactor sso docs, add new methods (#420)
  content/00.zksync-era/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/27.account-modules.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/27.accounts.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/60.supported-environments.md
  cspell-config/cspell-dev.txt
  examples/sso/.gitignore
  examples/sso/bun.lock
  examples/sso/index.html
  examples/sso/package.json
  examples/sso/src/deployModularAccount.ts
  examples/sso/src/ecdsa.ts
  examples/sso/src/main.ts
  examples/sso/src/registerPasskey.ts
  examples/sso/src/reownAppkit.ts
  examples/sso/src/vite-env.d.ts
  examples/sso/src/wagmi.ts
  examples/sso/tsconfig.json
  firebase.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  d45992abceed1b73eb6e38cc432750ad0e4ca69c
Due: none

fix: nice card component
  components/NiceCard.vue
  components/NiceCardGroup.vue
  error.vue
Due: prettier --list-different, eslint

feat: add links to 404 page
  error.vue
  nuxt.config.ts
Due: prettier --list-different, eslint

add dreamspace as user onboarding tool
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update cards, add home button
  error.vue
Due: prettier --list-different, eslint

fix: home link
  error.vue
Due: prettier --list-different, eslint

feat: add links to 404 page (#430)
  error.vue
  nuxt.config.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  9f84db40e1a38a0662a581da28c7c130e2721812
Due: none

docs: update onboarding doc per reviewer feedback
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add dreamspace as user onboarding tool (#431)
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c990417c7543df7d7d95afa8cc26e4a49a7eb2e9
Due: none

fix: move dreamspace to its own section
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: cleanup text
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: cleanup onboarding ecosystem page (#432)
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  257086982bf70c2859082128bfb1a4f2daea7c2c
Due: none

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
