Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell check

chore: add redirects for sdk paths
  firebase.json
Due: prettier --list-different

chore: update links for prod release
  components/layout/Toc.vue
  content/00.build/65.developer-reference/40.account-abstraction/50.paymasters.md
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell check

docs: small improvements (#106)
  bun.lockb
  components/layout/Toc.vue
  content/00.build/00.index.md
  content/00.build/01.connect-to-zksync.md
  firebase.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell check

docs: add dappradar links to ecosystem pages (#103)
  content/30.ecosystem/00.index.md
  content/30.ecosystem/10.bridges.md
  content/30.ecosystem/100.wallets.md
  content/30.ecosystem/30.data-indexers.md
  content/30.ecosystem/70.nft-marketplaces.md
  content/30.ecosystem/80.oracles.md
  content/30.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell check

chore: remove target from prod deploy workflow
  .github/workflows/deploy-prod.yml
Due: prettier --list-different

chore: update links for prod release (#107)
  .github/workflows/deploy-prod.yml
  components/layout/Toc.vue
  content/00.build/65.developer-reference/40.account-abstraction/50.paymasters.md
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell check

chore: edit secret scanner name
  .github/workflows/secrets_scanner.yaml
Due: none

chore: edit secret scanner name (#109)
  .github/workflows/secrets_scanner.yaml
Due: none

chore: rename trufflehog job
  .github/workflows/secrets_scanner.yaml
Due: none

Edit secret scanner (#110)
  .github/workflows/secrets_scanner.yaml
Due: none

chore: use existing labels in github for issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --list-different

fix: remix script and contract names
  content/00.build/05.quick-start/5.paymasters-introduction.md
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_deploy_first/_remix_deploy_contract.md
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
  content/00.build/05.quick-start/_paymaster_intro/_remix_paymaster_intro.md
Due: markdownlint-cli2, cspell check

feat: discord channel and new image
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
  content/00.build/05.quick-start/4.erc20-token.md
  content/00.build/05.quick-start/5.paymasters-introduction.md
  content/00.build/05.quick-start/_paymaster_intro/_remix_paymaster_intro.md
  public/images/101-paymasters/remix-paymaster-tx.png
Due: markdownlint-cli2, cspell check

Quickstart discord channel and remix script (#112)
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
  content/00.build/05.quick-start/4.erc20-token.md
  content/00.build/05.quick-start/5.paymasters-introduction.md
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_deploy_first/_remix_deploy_contract.md
  content/00.build/05.quick-start/_paymaster_intro/_atlas_paymaster_intro.md
  content/00.build/05.quick-start/_paymaster_intro/_remix_paymaster_intro.md
  public/images/101-paymasters/remix-paymaster-tx.png
Due: markdownlint-cli2, cspell check

chore: use existing labels in github for issue template (#111)
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --list-different

docs: rename generalPaymaster contract to gaslessPaymaster
  content/00.build/10.zksync-101/50.paymaster.md
  content/00.build/10.zksync-101/_paymasters/_general_paymaster_flow.md
Due: markdownlint-cli2, cspell check

chore: add additional redirects
  firebase.json
Due: prettier --list-different

chore: add additional redirects (#114)
  firebase.json
Due: prettier --list-different

docs: rename generalPaymaster contract to gaslessPaymaster (#113)
  content/00.build/10.zksync-101/50.paymaster.md
  content/00.build/10.zksync-101/_paymasters/_general_paymaster_flow.md
Due: markdownlint-cli2, cspell check

adds envio to zksync supported data indexers
  content/30.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell check

fix: update zk chains case and images
  app.vue
  content/00.build/65.developer-reference/30.ethereum-differences/40.pre-compiles.md
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
  content/00.build/95.resources/60.faq.md
  content/10.zk-stack/00.index.md
  content/10.zk-stack/05.concepts/50.zk-chains.md
  content/10.zk-stack/10.components/10.index.md
  content/10.zk-stack/10.components/100.block-explorer.md
  content/10.zk-stack/10.components/20.smart-contracts/10.index.md
  content/10.zk-stack/10.components/30.shared-bridges.md
  content/10.zk-stack/10.components/80.fee-withdrawer.md
  content/10.zk-stack/10.components/90.portal-wallet-bridge.md
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/10.zk-stack/20.running-a-zk-chain/20.production.md
  content/10.zk-stack/20.running-a-zk-chain/30.raas.md
  content/10.zk-stack/20.running-a-zk-chain/99.enabling-prover.md
  content/10.zk-stack/20.running-a-zk-chain/99.using-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/_dir.yml
  content/index.yml
  public/images/zk-stack/hyperbridges.png
  public/images/zk-stack/hyperscalingAggregation.png
  public/images/zk-stack/hyperscalingBridgingFull.png
  public/images/zk-stack/hyperscalingFastEconomic.png
  public/images/zk-stack/hyperscalingL3Fast2Blocks.png
  public/images/zk-stack/hyperscalingLayeredAggregation.png
  public/images/zk-stack/hyperscalingSovereignty.png
Due: prettier --list-different, eslint, markdownlint-cli2, cspell check

fix: lint
  content/10.zk-stack/05.concepts/50.zk-chains.md
  content/10.zk-stack/10.components/30.shared-bridges.md
Due: markdownlint-cli2, cspell check

fix: signing
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell check

chore: update zk chains case and images (#116)
  app.vue
  content/00.build/65.developer-reference/30.ethereum-differences/40.pre-compiles.md
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
  content/00.build/95.resources/60.faq.md
  content/10.zk-stack/00.index.md
  content/10.zk-stack/05.concepts/50.zk-chains.md
  content/10.zk-stack/10.components/10.index.md
  content/10.zk-stack/10.components/100.block-explorer.md
  content/10.zk-stack/10.components/20.smart-contracts/10.index.md
  content/10.zk-stack/10.components/30.shared-bridges.md
  content/10.zk-stack/10.components/80.fee-withdrawer.md
  content/10.zk-stack/10.components/90.portal-wallet-bridge.md
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
  content/10.zk-stack/20.running-a-zk-chain/20.production.md
  content/10.zk-stack/20.running-a-zk-chain/30.raas.md
  content/10.zk-stack/20.running-a-zk-chain/99.enabling-prover.md
  content/10.zk-stack/20.running-a-zk-chain/99.using-zk-chain.md
  content/10.zk-stack/20.running-a-zk-chain/_dir.yml
  content/index.yml
  public/images/zk-stack/hyperbridges.png
  public/images/zk-stack/hyperscalingAggregation.png
  public/images/zk-stack/hyperscalingBridgingFull.png
  public/images/zk-stack/hyperscalingFastEconomic.png
  public/images/zk-stack/hyperscalingL3Fast2Blocks.png
  public/images/zk-stack/hyperscalingLayeredAggregation.png
  public/images/zk-stack/hyperscalingSovereignty.png
Due: prettier --list-different, eslint, markdownlint-cli2, cspell check

fix: update og-image description for pages
  app.vue
  pages/index.vue
Due: prettier --list-different, eslint

chore: edit ogUrl
  app.vue
Due: prettier --list-different, eslint

fix: update og-image description for pages (#117)
  app.vue
  pages/index.vue
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  a87df9df2111173fe7e66e8a85ed88b72e2be9d5
Due: none

chore: update commit-analyzer rules
  .releaserc
Due: none

chore: update commit-analyzer rules (#118)
  .releaserc
Due: none

docs(README): update contribution section
  README.md
Due: markdownlint-cli2, cspell check

docs: update contribution guidelines
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
Due: markdownlint-cli2, cspell check

chore: fix lint-staged rules
  .lintstagedrc.yml
Due: prettier --list-different

Update contribution docs (#120)
  README.md
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
Due: markdownlint-cli2, cspell check

Rename 00.index.md to deuces9ers
  content/20.zksync-node/deuces9ers
Due: none

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell check: any of: *.md
