Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update descriptions
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update broken links (#265)
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  72a51cff479233b6c128e95cb0e03cbffe4a19e6
Due: none

Update 110.transaction-filtering.md
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

update transaction filtering links to dev HEAD
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: transaction filterer setter link (#268)
  content/10.zk-stack/10.components/110.transaction-filtering.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c098ae6c3870e51e520980600a7b6d94d520ccf4
Due: none

fix typo
  content/10.zk-stack/10.components/50.zksync-evm/20.precompiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo in precompiles docs (#270)
  content/10.zk-stack/10.components/50.zksync-evm/20.precompiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4205578d5c5c47dff3f5e50d4a001169f96db4ed
Due: none

docs: add eigenda steps to run
  content/10.zk-stack/20.running-a-zk-chain/80.validium.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix eigenda parameters
  content/10.zk-stack/20.running-a-zk-chain/80.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix libraries typo
  content/00.build/65.developer-reference/30.ethereum-differences/30.libraries.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update sso sdk interface and improve interface docs
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: change callout
  content/00.build/30.zksync-sso/25.interfaces.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: libraries docs typo (#272)
  content/00.build/65.developer-reference/30.ethereum-differences/30.libraries.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  3ae1e6db8cd6d3d784b4d5119bb730dcafb67751
Due: none

Added QuickNode
  content/10.zk-stack/20.running-a-zk-chain/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: --constructor-args needs to be final flag in foundry
  content/00.build/40.tooling/30.foundry/20.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs(tooling): add subgraph tutorial for zkSync
  content/00.build/40.tooling/01.subgraphs.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: rebrand to anvil-zksync
  .github/CODEOWNERS
  content/00.build/40.tooling/20.hardhat/00.index.md
  content/00.build/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/00.build/60.test-and-debug/30.continuous-integration.md
  content/00.build/60.test-and-debug/40.hardhat.md
  content/00.build/95.resources/60.contribution-track.md
  content/00.build/95.resources/70.community-channels.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: create dedicated file for redirects
  nuxt.config.ts
  redirects.ts
Due: prettier --list-different, eslint

fix: remove redundant text
  content/00.build/30.zksync-sso/25.interfaces.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sso sdk interface changes and interface docs improvements (#273)
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  d24c418ff0398949e2bb838d5532ce88bf4d7bef
Due: none

docs: add contract repo link
  content/00.build/30.zksync-sso/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add contract repo link (#279)
  content/00.build/30.zksync-sso/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1b37fefab3b21925f750183bfaa54af9b9eb2ba7
Due: none

chore: fix links
  content/00.zksync-era/00.index.md
  content/00.zksync-era/10.guides/10.quick-start/1.index.md
  content/00.zksync-era/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-era/10.guides/10.quick-start/4.erc20-token.md
  content/00.zksync-era/10.guides/10.quick-start/5.paymasters-introduction.md
  content/00.zksync-era/10.guides/10.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.zksync-era/10.guides/10.quick-start/_deploy_first/_remix_deploy_contract.md
  content/00.zksync-era/10.guides/10.quick-start/_erc20_tutorial/_atlas_erc20_tutorial.md
  content/00.zksync-era/10.guides/10.quick-start/_erc20_tutorial/_remix_erc20_tutorial.md
  content/00.zksync-era/10.guides/20.zksync-101/50.paymaster.md
  content/00.zksync-era/10.guides/90.security-best-practices.md
  content/00.zksync-era/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/04.guides/01.features.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/10.v5/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/10.v5/50.utilities/01.paymaster-utils.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/20.v6/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/20.v6/50.utilities/01.paymaster-utils.md
  content/00.zksync-era/50.sdk/10.js/01.web3js/02.rpc.md
  content/00.zksync-era/50.sdk/10.js/01.web3js/06.paymasters.md
  content/00.zksync-era/50.sdk/10.js/01.web3js/07.contracts.md
  content/00.zksync-era/50.sdk/10.js/01.web3js/08.smart-accounts.md
  content/00.zksync-era/50.sdk/20.go/30.guides/01.features.md
  content/00.zksync-era/50.sdk/30.python/40.api/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/40.java/20.guides/01.features.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/20.zksync-protocol/00.rollup/10.transaction-lifecycle.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/20.contracts/30.system-contracts.md
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/30.system-contracts.md
  content/20.zksync-protocol/70.differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: rename in-memory node to anvil-zksync
  content/00.build/05.start-coding/10.zksync-101/00.index.md
  content/00.build/05.start-coding/10.zksync-101/10.hello-zksync.md
  content/00.build/05.start-coding/10.zksync-101/20.contract-factory.md
  content/00.build/05.start-coding/10.zksync-101/30.testing.md
  content/00.build/05.start-coding/10.zksync-101/40.upgrading.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups_contract_upgradability.md
  content/00.build/20.zksync-cli/50.configuring-chains.md
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/60.test-and-debug/00.index.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/00.build/60.test-and-debug/30.continuous-integration.md
  content/00.build/60.test-and-debug/40.hardhat.md
  content/20.zksync-node/00.index.md
  examples/hardhat-sol-template/deploy/utils.ts
  examples/hardhat-vyper-template/deploy/utils.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fix lint
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: move ecosystem to zksync-era
  content/00.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-era/60.ecosystem/10.bridges.md
  content/00.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-era/60.ecosystem/20.cross-chain.md
  content/00.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-era/60.ecosystem/40.ide.md
  content/00.zksync-era/60.ecosystem/50.monitoring.md
  content/00.zksync-era/60.ecosystem/60.network-faucets.md
  content/00.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-era/60.ecosystem/80.oracles.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-era/60.ecosystem/_dir.yml
  content/00.zksync-era/70.contributing/00.code.md
  content/00.zksync-era/70.contributing/10.documentation/10.index.md
  content/00.zksync-era/70.contributing/10.documentation/20.contribution-guidelines.md
  content/00.zksync-era/70.contributing/10.documentation/30.documentation-styleguide.md
  content/00.zksync-era/70.contributing/10.documentation/_dir.yml
  content/00.zksync-era/70.contributing/_dir.yml
  header-links.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fix tab selection
  app.vue
  content/00.zksync-era/40.tooling/20.hardhat/_dir.yml
  content/00.zksync-era/40.tooling/30.foundry/_dir.yml
  error.vue
  pages/ecosystem/[...slug].vue
Due: prettier --list-different, eslint

chore: fix more links
  content/00.zksync-era/10.guides/10.quick-start/3.deploy-your-first-contract.md
  content/00.zksync-era/10.guides/10.quick-start/4.erc20-token.md
  content/00.zksync-era/10.guides/10.quick-start/5.paymasters-introduction.md
  content/00.zksync-era/10.guides/10.quick-start/_paymaster_intro/_remix_paymaster_intro.md
  content/00.zksync-era/10.guides/20.zksync-101/10.hello-zksync.md
  content/00.zksync-era/10.guides/20.zksync-101/20.contract-factory.md
  content/00.zksync-era/10.guides/20.zksync-101/30.testing.md
  content/00.zksync-era/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-era/10.guides/20.zksync-101/50.paymaster.md
  content/00.zksync-era/20.environment/00.index.md
  content/00.zksync-era/40.tooling/20.hardhat/10.installation.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/04.guides/02.accounts-l1-l2.md
  content/00.zksync-era/50.sdk/20.go/30.guides/02.accounts-l1-l2.md
  content/00.zksync-era/50.sdk/30.python/30.guides/02.accounts-l1-l2.md
  content/00.zksync-era/50.sdk/40.java/20.guides/02.accounts-l1-l2.md
  content/00.zksync-era/50.sdk/50.swift/30.guides/02.accounts-l1-l2.md
  content/10.zk-stack/20.running/10.quickstart.md
  content/20.zksync-protocol/00.rollup/10.transaction-lifecycle.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/00.rollup/70.data-availability.md
  content/20.zksync-protocol/10.api/00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/10.l1-ecosystem-contracts.md
  content/20.zksync-protocol/20.contracts/20.bootloader.md
  content/20.zksync-protocol/70.differences/60.contract-deployment.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fix misspelled words
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/10.v5/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/10.v5/50.utilities/00.index.md
  content/00.zksync-era/50.sdk/10.js/00.ethers/05.api/20.v6/50.utilities/00.index.md
  content/00.zksync-era/50.sdk/20.go/40.api/50.utilities/00.index.md
  content/00.zksync-era/50.sdk/30.python/30.guides/00.index.md
  content/00.zksync-era/50.sdk/30.python/30.guides/02.accounts-l1-l2.md
  content/00.zksync-era/50.sdk/30.python/40.api/10.providers/01.provider.md
  content/00.zksync-era/50.sdk/30.python/40.api/30.contracts/00.index.md
  content/00.zksync-era/50.sdk/30.python/40.api/40.utilities/00.index.md
  content/00.zksync-era/50.sdk/30.python/40.api/40.utilities/01.paymaster-utils.md
  content/00.zksync-era/50.sdk/40.java/00.index.md
  content/00.zksync-era/50.sdk/50.swift/40.api/03.utilities/00.index.md
  cspell-config/cspell-dev.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fix quickstart link
  content/00.zksync-era/10.guides/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
