Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: try fix
  .github/workflows/deploy-preview.yml
  bunfig.toml
Due: prettier --list-different

Add growthepie section to data indexers documentation
  content/00.zksync-network/25.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: small update
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: try removing version pin
  .github/workflows/deploy-preview.yml
Due: prettier --list-different

fix: small update to zks_getL2ToL1LogProof (#474)
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b2efc57147b92ec0a29b565e138d13811d992a01
Due: none

fix: typo (#472)
  content/10.zk-stack/10.zk-chains.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  253935d60a4af52e3d55ea464f52e8858921e5d0
Due: none

fix markdown lint error (removing trailing space)
  content/00.zksync-network/25.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link
  content/index.yml
Due: prettier --list-different

fix: link (#476)
  content/index.yml
Due: prettier --list-different

Notes added by 'git notes add'
  6409cc42b1b035f6331dde565ff9730dda0bf005
Due: none

feat: prividum tm
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/_dir.yml
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/index.yml
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: zksync priv
  content/10.zk-stack/35.prividium/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update dRPC Node Provider entry + added public endpoints
  content/00.zksync-network/25.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update link to zksync-js docs not old link
  content/00.zksync-network/65.zksync-os/05.network-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: sdk live
  content/10.zk-stack/35.prividium/40.sdk.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: prividium tm (#477)
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/_dir.yml
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/index.yml
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  aae365adca02b803775e767d8d84a5ef75a46171
Due: none

chore: add ADI mainnet to chainslist
  data/chains.json
Due: prettier --list-different

chore: add ADI mainnet to chainslist (#480)
  data/chains.json
Due: prettier --list-different

fix: update link to zksync-js docs not old link (#479)
  content/00.zksync-network/65.zksync-os/05.network-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c1b35569027faa99794a48c719257d0793aca928
Due: none

docs: licenses and dev docs
  content/10.zk-stack/35.prividium/60.developer-considerations.md
  content/10.zk-stack/35.prividium/70.license.md
  content/10.zk-stack/90.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: feedback license
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/70.license.md
  content/10.zk-stack/90.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: broken link
  content/10.zk-stack/35.prividium/20.proxy.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: email
  content/10.zk-stack/35.prividium/70.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: no run guide
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/70.license.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: partial callout license
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/_partials/_license-callout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: delete unused partials
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: redirect run prividium
  firebase.json
Due: prettier --list-different

docs: licenses and dev docs (#481)
  content/10.zk-stack/35.prividium/00.overview.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/60.developer-considerations.md
  content/10.zk-stack/35.prividium/70.license.md
  content/10.zk-stack/35.prividium/_partials/_license-callout.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
  content/10.zk-stack/90.license.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  998732cf795d566fe999735883dbedaee0068c4c
Due: none

docs: Add disclaimer to migrating-to-zksync.md (#470)
  content/00.zksync-network/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  13acdc02a681cc10beaaa7b5b493c9a9bf3d2a28
Due: none

docs: adds admin dashboard
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/35.admin-dashboard.md
  content/10.zk-stack/35.prividium/60.developer-considerations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: removes user docs
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update zksync-os rpc methods
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_send-raw-transaction-sync.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_web3_client-version.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_web3_sha3.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-block-metadata-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_zks_get-bytecode-supplier-contract.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_eth_send-raw-transaction-sync.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_web3_client-version.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_web3_sha3.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-block-metadata-by-number.md
  content/20.zksync-protocol/10.api/_partials/_api/_ts/_zks_get-bytecode-supplier-contract.md
  content/20.zksync-protocol/10.api/_partials/_txn-receipt.md
  examples/hardhat-sol-template/test/eth-rpc.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix
  content/20.zksync-protocol/10.api/40.zks-rpc.md
  content/20.zksync-protocol/10.api/_partials/_api/_curl/_eth_send-raw-transaction-sync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Add ethfaucet.com to network faucets list
  content/00.zksync-network/25.zksync-era/60.ecosystem/60.network-faucets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
