Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

Update 110.user-onboarding.md to fix linting issues
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update cspell-blockchain.txt to add Reown
  cspell-config/cspell-blockchain.txt
Due: none

docs: refactor sso docs
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/20.features.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/21.auth-server.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/25.interfaces.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/27.account-modules.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/40.transaction-fees.md
  cspell-config/cspell-dev.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: redirects + cleanup
  content/00.zksync-era/30.unique-features/30.zksync-sso/21.auth-server.md
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: eip-1559 maxPriorityFeePerGas error
  content/20.zksync-protocol/00.rollup/10.transaction-lifecycle.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: mention that maxPriorityFeePerGas should be set to 0
  content/20.zksync-protocol/00.rollup/10.transaction-lifecycle.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: eip-1559 maxPriorityFeePerGas error (#291)
  content/20.zksync-protocol/00.rollup/10.transaction-lifecycle.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  04b2883852b8dc83e2163ac4834385044bfbdabc
Due: none

fix: remove outdated warning
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: style fixes
  content/00.zksync-era/50.sdk/10.js/00.viem/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: refactor SSO docs (#290)
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/20.features.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/21.auth-server.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/25.interfaces.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/27.account-modules.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/40.transaction-fees.md
  cspell-config/cspell-dev.txt
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  cce09e5a408203a2d24e4a9f7f967fc4f5ed20c4
Due: none

feat: Create a section for User Onboarding and adding Reown (#288)
  content/00.zksync-era/60.ecosystem/110.user-onboarding.md
  cspell-config/cspell-blockchain.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ed5fb2b6775674f81da8bf791d68964fb14cda23
Due: none

Update 30.data-indexers.md
  content/00.zksync-era/60.ecosystem/30.data-indexers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  74ea5bf635205f49c046840a1ab84eba5480922a
Due: none

fix: hardhat redirects
  firebase.json
Due: prettier --list-different

fix: add missing redirects
  firebase.json
Due: prettier --list-different

fix: hardhat redirects (#294)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  586f20e089f905f6598bd872cc61a3671a0db614
Due: none

fix: replace the EraVM extension page with zksolc docs
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/50.compiler/10.toolchain/20.llvm.md
  content/20.zksync-protocol/50.compiler/10.toolchain/20.solidity.md
  content/20.zksync-protocol/50.compiler/10.toolchain/30.vyper.md
  content/20.zksync-protocol/50.compiler/20.specification/30.system-contracts.md
  content/20.zksync-protocol/50.compiler/20.specification/50.evmla-translator.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/00.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/10.call.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/20.verbatim.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/_dir.yml
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/40.yul.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: resolve conflicts
  content/00.build/40.tooling/20.hardhat/00.index.md
  content/00.build/95.resources/70.community-channels.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: resolve conflicts
  content/00.zksync-era/10.guides/20.zksync-101/30.testing.md
  content/00.zksync-era/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/20.zksync-node/00.index.md
  examples/hardhat-sol-template/deploy/utils.ts
  examples/hardhat-vyper-template/deploy/utils.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: rebrand to anvil-zksync (#277)
  .github/CODEOWNERS
  content/00.zksync-era/10.guides/20.zksync-101/00.index.md
  content/00.zksync-era/10.guides/20.zksync-101/10.hello-zksync.md
  content/00.zksync-era/10.guides/20.zksync-101/20.contract-factory.md
  content/00.zksync-era/10.guides/20.zksync-101/30.testing.md
  content/00.zksync-era/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_uups_contract_upgradability.md
  content/00.zksync-era/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-era/40.tooling/10.local-setup/00.index.md
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
  content/00.zksync-era/40.tooling/10.local-setup/30.continuous-integration.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.zksync-era/40.tooling/90.zksync-cli/50.configuring-chains.md
  content/00.zksync-era/70.contributing/00.code.md
  examples/hardhat-sol-template/deploy/utils.ts
  examples/hardhat-vyper-template/deploy/utils.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: replace the EraVM extension page with zksolc docs (#296)
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/50.compiler/10.toolchain/20.llvm.md
  content/20.zksync-protocol/50.compiler/10.toolchain/20.solidity.md
  content/20.zksync-protocol/50.compiler/10.toolchain/30.vyper.md
  content/20.zksync-protocol/50.compiler/20.specification/30.system-contracts.md
  content/20.zksync-protocol/50.compiler/20.specification/50.evmla-translator.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/00.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/10.call.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/20.verbatim.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/21.extensions/_dir.yml
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/40.yul.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c72df6c08dcf101240db7723e635806fde3bca2b
Due: none

feat: move all zksolc docs to the eponymous repo
  content/20.zksync-protocol/50.compiler/20.specification/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/20.code-separation.md
  content/20.zksync-protocol/50.compiler/20.specification/30.system-contracts.md
  content/20.zksync-protocol/50.compiler/20.specification/40.exception-handling.md
  content/20.zksync-protocol/50.compiler/20.specification/50.evmla-translator.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/10.index.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/100.memory.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/110.return.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/120.sha3.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/130.stack.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/20.arithmetic.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/30.bitwise.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/40.block.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/50.call.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/60.create.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/70.environment.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/80.logging.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/90.logical.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/20.evm/_dir.yml
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/30.evmla.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/40.yul.md
  content/20.zksync-protocol/50.compiler/20.specification/60.instructions/_dir.yml
  content/20.zksync-protocol/50.compiler/20.specification/70.binary-layout.md
  content/20.zksync-protocol/50.compiler/20.specification/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update config
  content/10.zk-stack/20.running-a-zk-chain/80.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove unnecessary step
  content/10.zk-stack/20.running-a-zk-chain/80.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: markdown typos
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: markdown typos (#298)
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  9c48aa2baf774243e3e1a6fb5ba821d19aa161bd
Due: none

fix typo Update 80.oracles.md
  content/00.zksync-era/60.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix typo Update 90.node-providers.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix typo Update 25.zksync-cli-dev.md
  content/00.zksync-era/40.tooling/90.zksync-cli/90.reference/25.zksync-cli-dev.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update _transparent_proxy_contract_upgradability.md
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
