Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

Polish deployment-execution
  content/20.zksync-protocol/75.evm-emulator/01.deployment-execution.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Cleanup in era-evm-interactions
  content/20.zksync-protocol/75.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-emulator/02.era-evm-interactions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Polish evm-differences
  content/20.zksync-protocol/75.evm-emulator/03.evm-differences.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Cleanup in technical-details
  content/20.zksync-protocol/75.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Cleanup in FAQ
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Add more details in Execution Model
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Fix typos
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Small fix
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: Add EVM gas emulation page and cleanup (#346)
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
  content/20.zksync-protocol/100.glossary.md
  content/20.zksync-protocol/75.evm-emulator/00.overview.md
  content/20.zksync-protocol/75.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-emulator/02.era-evm-interactions.md
  content/20.zksync-protocol/75.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
  content/20.zksync-protocol/75.evm-emulator/05.evm-gas-emulation.md
  content/20.zksync-protocol/75.evm-emulator/05.limitations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Fix spelling issues
  content/20.zksync-protocol/100.glossary.md
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: linting issues and typos
  content/20.zksync-protocol/75.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
  content/20.zksync-protocol/75.evm-emulator/05.evm-gas-emulation.md
  content/20.zksync-protocol/75.evm-emulator/06.pre-deployed-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: actual link for Ankr RaaS (#343)
  content/10.zk-stack/20.running/70.raas.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  10b68554bebebebc1055a2cddee81bb1b2bba9b8
Due: none

docs: add account recovery with guardian section
  content/00.zksync-era/30.unique-features/30.zksync-sso/28.account-recovery.md
  public/images/zksync-sso/account-recovery/guardianrecovery.svg
  public/images/zksync-sso/account-recovery/guardiansetup.svg
  public/images/zksync-sso/account-recovery/maliciousguardian.svg
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update validium and base token pages (#339)
  content/10.zk-stack/20.running/30.custom-base-tokens.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/20.running/40.proving.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ed999cdc8592128f83ff2f5369be9ef40273f188
Due: none

fix: add transak mentions to easy onramp
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/00.index.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/50.testing-integration.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: code review suggestions
  content/10.zk-stack/20.running/55.ownership-model.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Add disclaimer about test blockchains
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/20.zksync-protocol/75.evm-emulator/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds q in emulator faq
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: internal link era overview
  content/00.zksync-era/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Clarify comment about L1L2 a bit
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: EVM emulator docs (#333)
  content/00.zksync-era/00.index.md
  content/00.zksync-era/10.guides/20.zksync-101/00.index.md
  content/00.zksync-era/30.unique-features/10.account-abstraction.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/01.evm-emulator.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
  content/00.zksync-era/30.unique-features/40.evm-emulator/_dir.yml
  content/20.zksync-protocol/100.glossary.md
  content/20.zksync-protocol/50.compiler/10.toolchain/10.index.md
  content/20.zksync-protocol/70.differences/10.evm-instructions.md
  content/20.zksync-protocol/70.differences/40.pre-compiles.md
  content/20.zksync-protocol/75.evm-emulator/00.overview.md
  content/20.zksync-protocol/75.evm-emulator/01.deployment-execution.md
  content/20.zksync-protocol/75.evm-emulator/02.era-evm-interactions.md
  content/20.zksync-protocol/75.evm-emulator/03.evm-differences.md
  content/20.zksync-protocol/75.evm-emulator/04.technical-details.md
  content/20.zksync-protocol/75.evm-emulator/05.evm-gas-emulation.md
  content/20.zksync-protocol/75.evm-emulator/06.pre-deployed-contracts.md
  content/20.zksync-protocol/75.evm-emulator/_dir.yml
  cspell-config/cspell-blockchain.txt
  cspell-config/cspell-misc.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ba934924a6d2e7f0abf0ae84c1bed2c82cc0514b
Due: none

chore: update verifier endpoints and evm verification faq
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/30.foundry/20.getting-started.md
  examples/hardhat-sol-template/hardhat.config.ts
  examples/hardhat-sol/hardhat.config.ts
  examples/hardhat-vyper-template/hardhat.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: verifier endpoints changed back
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/30.foundry/20.getting-started.md
  examples/hardhat-sol-template/hardhat.config.ts
  examples/hardhat-sol/hardhat.config.ts
  examples/hardhat-vyper-template/hardhat.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: update evm emulator faq for contract verification (#350)
  content/00.zksync-era/30.unique-features/40.evm-emulator/02.faq.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add ownership model doc (#334)
  content/10.zk-stack/20.running/55.ownership-model.md
  content/10.zk-stack/20.running/70.raas.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  68c1549080de8d8bd73bcefbae825b2f4f480feb
Due: none

docs: minor fixes and updated diagram
  content/10.zk-stack/50.zk-chain-addresses.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/10.l1-ecosystem-contracts.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
  public/images/developer-reference/l1-smart-contracts/zkchain-scheme.png
  public/images/zk-stack/contracts-external.png
  public/images/zk-stack/gateway-diagram.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: minor fixes and updated diagram (#351)
  content/10.zk-stack/50.zk-chain-addresses.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/10.l1-ecosystem-contracts.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
  public/images/developer-reference/l1-smart-contracts/zkchain-scheme.png
  public/images/zk-stack/contracts-external.png
  public/images/zk-stack/gateway-diagram.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  7e76154d5b6bacd19aa4b46927f3c220893aa1ab
Due: none

docs: add zk chains guide content
  app.vue
  content/10.zk-stack/20.running/10.introduction.md
  content/10.zk-stack/20.running/20.quickstart.md
  content/10.zk-stack/20.running/20.using-a-local-zk-chain.md
  content/10.zk-stack/20.running/35.validium.md
  content/10.zk-stack/20.running/40.proving.md
  content/10.zk-stack/20.running/60.production.md
  content/10.zk-stack/30.components/10.server.md
  content/10.zk-stack/30.components/30.block-explorer.md
  content/10.zk-stack/30.components/40.portal-wallet-bridge.md
  cspell-config/cspell-dev.txt
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: remove outdated note
  content/10.zk-stack/20.running/20.quickstart.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: old link
  content/10.zk-stack/20.running/20.quickstart.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

docs: cleanup
  content/20.zksync-protocol/20.contracts/10.l1-contracts/20.shared-bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix link, add formatting
  content/10.zk-stack/00.index.md
  content/10.zk-stack/20.running/55.ownership-model.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add transak mentions to easy onramp (#348)
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/00.index.md
  content/00.zksync-era/40.tooling/100.zksync-easy-onramp/50.testing-integration.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  35208fb8945f597b5e77e02440cf26754d47935d
Due: none

Update 70.data-availability.md
  content/20.zksync-protocol/00.rollup/70.data-availability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files
