Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

chore: remove logs
  components/layout/DocsBase.vue
Due: prettier --list-different, eslint

docs: update headers
  bun.lockb
  package.json
Due: prettier --list-different

chore: debugging issues
  bun.lockb
Due: none

fix: remove rewrites
  firebase.json
Due: prettier --list-different

chore: testing a fix
  firebase.json
Due: prettier --list-different

fix: headers (#454)
  app.vue
  bun.lockb
  error.vue
  header-links.ts
  package.json
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  a0469022875cb7b53fe63bc93322c302c67179b4
Due: none

feat: adds ccip
  content/00.zksync-network/60.ecosystem/20.cross-chain.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: better title
  content/00.zksync-network/60.ecosystem/20.cross-chain.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds ccip (#460)
  content/00.zksync-network/60.ecosystem/20.cross-chain.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  6462708e0ed67214a78bbd8939bccb457480a55a
Due: none

fix: try fix
  components/layout/DocsBase.vue
Due: prettier --list-different, eslint

fix: try fix
  components/layout/DocsBase.vue
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/_partials/prividium/_access.md
  content/_partials/prividium/_access2.md
  content/_partials/prividium/_deploy.md
  content/_partials/prividium/_ecosystem.md
  content/_partials/prividium/_ecosystem2.md
  content/_partials/prividium/_explorer.md
  content/_partials/prividium/_installs.md
  content/_partials/prividium/_interact.md
  content/_partials/prividium/_proxy.md
  content/_partials/prividium/_restart.md
  content/_partials/prividium/_server.md
  content/_partials/prividium/_verifier.md
  content/_partials/prividium/_wallet.md
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  components/layout/DocsBase.vue
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: cleanup
  REDIRECT_MIGRATION.md
  bun.lockb
  cspell.json
  firebase.json
  nuxt.config.ts
  package.json
  redirects.ts
  redirects.ts.backup
  vitest.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove old redirects file
  nuxt.config.ts
  redirects.ts
Due: prettier --list-different, eslint

chore: cleanup of route redirects
  404-routes.txt
  404s.csv
  firebase.json
  redirect-validation-results.json
  scripts/validate-redirects.ts
Due: prettier --list-different, eslint

chore: update redirects, old links
  README.md
  SUPPORT.md
  composables/useCategory.ts
  content/00.zksync-network/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-network/10.guides/20.zksync-101/_hello/_era-vm.md
  content/00.zksync-network/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  firebase.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fix links
  content/00.zksync-network/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-network/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links
  content/00.zksync-network/10.guides/20.zksync-101/_hello/_era-vm.md
  content/00.zksync-network/40.tooling/10.local-setup/20.dockerized-l1-l2-nodes.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fix trailing slash
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: try prividium redirect
  content/10.zk-stack/35.prividium/00.overview.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try prividium page redirect (#462)
  content/10.zk-stack/35.prividium/00.overview.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try reordering redirect
  firebase.json
Due: prettier --list-different

fix: try redirect fix
  firebase.json
Due: prettier --list-different

chore: remove old redirects file (#461)
  README.md
  SUPPORT.md
  composables/useCategory.ts
  content/00.zksync-network/10.guides/20.zksync-101/40.upgrading.md
  content/00.zksync-network/10.guides/20.zksync-101/_hello/_era-vm.md
  content/00.zksync-network/10.guides/30.testing/10.testing-with-hardhat.md
  content/00.zksync-network/40.tooling/10.local-setup/20.dockerized-l1-l2-nodes.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/10.zk-stack/35.prividium/00.overview.md
  firebase.json
  nuxt.config.ts
  redirects.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: separate era l2 contracts
  content/00.zksync-network/20.environment/20.l2-contracts.md
  content/00.zksync-network/40.tooling/30.foundry/40.migration-guide/20.deployment.md
  content/00.zksync-network/50.sdk/20.go/40.api/40.contracts/00.index.md
  content/20.zksync-protocol/00.rollup/30.l1_l2_communication.md
  content/20.zksync-protocol/02.zksyncos/05.tx-processing.md
  content/20.zksync-protocol/20.contracts/00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/00.index.md
  content/20.zksync-protocol/20.contracts/10.l1-contracts/10.l1-ecosystem-contracts.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/20.blocks.md
  content/20.zksync-protocol/30.zksync-era/30.vm/00.index.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/00.index.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/20.bootloader.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/30.system-contracts.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/40.handling-l1-l2-ops.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/50.handling-pubdata.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/60.pubdata-post-4844.md
  content/20.zksync-protocol/30.zksync-era/35.contracts/_dir.yml
  content/20.zksync-protocol/30.zksync-era/70.differences/60.contract-deployment.md
  content/20.zksync-protocol/30.zksync-era/75.evm-interpreter/01.deployment-execution.md
  content/20.zksync-protocol/30.zksync-era/80.account-abstraction/20.design.md
  content/20.zksync-protocol/30.zksync-era/80.account-abstraction/40.building-smart-accounts.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add redirects
  firebase.json
Due: prettier --list-different

docs: add warning for unstable ZKsync OS endpoints
  content/20.zksync-protocol/10.api/20.ethereum-rpc.md
  content/20.zksync-protocol/10.api/30.debug-rpc.md
  content/20.zksync-protocol/10.api/40.zks-rpc.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: overview fixes
  content/20.zksync-protocol/00.rollup/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: move l1-l2 comms to era section
  content/00.zksync-network/50.sdk/10.js/01.ethers/04.guides/02.accounts-l1-l2.md
  content/00.zksync-network/50.sdk/20.go/30.guides/02.accounts-l1-l2.md
  content/00.zksync-network/50.sdk/30.python/30.guides/02.accounts-l1-l2.md
  content/00.zksync-network/50.sdk/40.java/20.guides/02.accounts-l1-l2.md
  content/00.zksync-network/50.sdk/50.swift/30.guides/02.accounts-l1-l2.md
  content/20.zksync-protocol/02.zksyncos/00.index.md
  content/20.zksync-protocol/30.zksync-era/20.transactions/30.l1_l2_communication.md
  content/20.zksync-protocol/30.zksync-era/70.differences/60.contract-deployment.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: v29 protocol upgrade
  content/20.zksync-protocol/75.evm-interpreter/06.pre-deployed-contracts.md
  content/20.zksync-protocol/90.upgrades-and-migrations/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add new pre-deployed contracts, fix link
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/30.zksync-era/75.evm-interpreter/06.pre-deployed-contracts.md
  content/20.zksync-protocol/90.upgrades-and-migrations.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link
  content/20.zksync-protocol/30.zksync-era/75.evm-interpreter/06.pre-deployed-contracts.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: use descriptive page titles
  content/00.zksync-network/10.guides/10.quick-start/1.index.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/00.index.md
  content/00.zksync-network/65.zksync-os/00.index.md
  content/10.zk-stack/00.index.md
  content/10.zk-stack/15.components/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/00.index.md
  content/10.zk-stack/15.components/20.zksync-airbender/01.deepdive.md
  content/10.zk-stack/35.prividium/00.overview.md
  content/20.zksync-protocol/02.zksyncos/00.index.md
  content/20.zksync-protocol/05.gateway/00.index.md
  content/20.zksync-protocol/10.api/00.index.md
  content/20.zksync-protocol/30.era-vm/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: test new og image
  bun.lockb
  package.json
Due: prettier --list-different
