Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: update 101 template outputs
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups_contract_upgradability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update 101 template outputs (#201)
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_beacon_proxy_contract_upgradability.md
  content/00.build/05.start-coding/10.zksync-101/_upgrading/_uups_contract_upgradability.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e07eb99e09139d852fb4b2c4c4a063b8149f11f6
Due: none

fix: update installation page
  content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update links
  content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
  content/00.build/40.tooling/20.hardhat/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update tags and desc
  content/00.build/40.tooling/20.hardhat/00.introduction/02.installation.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/01.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/01.guides/30.compiling-libraries.md
  content/00.build/40.tooling/20.hardhat/02.plugins/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/02.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/02.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/02.plugins/35.hardhat-zksync.md
  content/00.build/40.tooling/20.hardhat/02.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/02.plugins/50.hardhat-zksync-vyper.md
  content/00.build/40.tooling/20.hardhat/02.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/02.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/40.tooling/20.hardhat/02.plugins/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/02.plugins/90.hardhat-zksync-verify-vyper.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: refactor zksync-hardhat documentation
  content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
  content/00.build/40.tooling/20.hardhat/00.introduction/01.installation.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/01.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/01.guides/30.compiling-libraries.md
  content/00.build/40.tooling/20.hardhat/02.plugins/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/02.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/02.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/02.plugins/35.hardhat-zksync.md
  content/00.build/40.tooling/20.hardhat/02.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/02.plugins/50.hardhat-zksync-vyper.md
  content/00.build/40.tooling/20.hardhat/02.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/02.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/40.tooling/20.hardhat/02.plugins/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/02.plugins/90.hardhat-zksync-verify-vyper.md
  content/00.build/40.tooling/20.hardhat/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: mention double import
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: indent for steps
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: indent, adds support
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: update layout for algolia search
  bun.lockb
  components/layout/DocsBase.vue
  composables/useCategory.ts
  package.json
Due: prettier --list-different, eslint

feat: update docs template version
  bun.lockb
  package.json
Due: prettier --list-different

docs: fix sdk links
  content/00.build/40.tooling/20.hardhat/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/10.zk-stack/05.concepts/10.blocks.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: update layout for algolia search (#203)
  bun.lockb
  components/layout/DocsBase.vue
  composables/useCategory.ts
  content/00.build/40.tooling/20.hardhat/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/20.migrating-to-zksync.md
  content/10.zk-stack/05.concepts/10.blocks.md
  package.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  4dfaf87a9c7437238c0a9e8aed9a4cad69127ee4
Due: none

Update content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/01.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/00.introduction/01.installation.md
  content/00.build/40.tooling/20.hardhat/00.introduction/01.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
  content/00.build/40.tooling/20.hardhat/00.introduction/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update the intro
  content/00.build/40.tooling/20.hardhat/00.overview.md
  content/00.build/40.tooling/20.hardhat/01.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/01.guides/40.compiling-libraries.md
  content/00.build/40.tooling/20.hardhat/01.installation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: minor update
  content/00.build/40.tooling/20.hardhat/02.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/02.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/02.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/02.guides/40.compiling-libraries.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: minor update
  content/00.build/40.tooling/20.hardhat/02.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

add migration guide and fix existing ones
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/migration-to-zksync.md
  content/00.build/60.test-and-debug/50.foundry.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/00.overview.md
  content/00.build/40.tooling/20.hardhat/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/40.tooling/20.hardhat/02.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/02.guides/30.migrating-to-zksync_old.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix order of steps
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: fix order of steps for ERC20 base tokens (#205)
  content/10.zk-stack/20.running-a-zk-chain/30.custom-base-tokens.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  25ce562ef44a0ce673176b7ecf0958fbe77fc8f6
Due: none

feat: refactor zksync-hardhat documentation (#202)
  content/00.build/40.tooling/20.hardhat/00.overview.md
  content/00.build/40.tooling/20.hardhat/01.installation.md
  content/00.build/40.tooling/20.hardhat/02.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/02.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/02.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/02.guides/40.compiling-libraries.md
  content/00.build/40.tooling/20.hardhat/02.plugins/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/02.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/02.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/02.plugins/35.hardhat-zksync.md
  content/00.build/40.tooling/20.hardhat/02.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/02.plugins/50.hardhat-zksync-vyper.md
  content/00.build/40.tooling/20.hardhat/02.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/02.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/40.tooling/20.hardhat/02.plugins/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/02.plugins/90.hardhat-zksync-verify-vyper.md
  content/00.build/40.tooling/20.hardhat/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  b39f64f72ccb5c788108e016193b7d41d13fcb10
Due: none

docs: update hardhat pages
  content/00.build/00.index.md
  content/00.build/40.tooling/20.hardhat/00.index.md
  content/00.build/40.tooling/20.hardhat/02.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/10.installation.md
  content/00.build/40.tooling/20.hardhat/20.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/20.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/20.guides/40.compiling-libraries.md
  content/00.build/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/30.plugins/35.hardhat-zksync.md
  content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/30.plugins/50.hardhat-zksync-vyper.md
  content/00.build/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/40.tooling/20.hardhat/30.plugins/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/30.plugins/90.hardhat-zksync-verify-vyper.md
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/60.test-and-debug/10.dockerized-l1-l2-nodes.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/00.build/65.developer-reference/30.ethereum-differences/30.libraries.md
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
  content/10.zk-stack/10.components/70.compiler/10.toolchain/10.index.md
  content/10.zk-stack/10.components/70.compiler/10.toolchain/20.solidity.md
  cspell-config/cspell-misc.txt
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sdk url
  content/00.build/40.tooling/20.hardhat/20.guides/10.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: revert to current hardhat migration doc
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

add discrepancies guide and missing sections
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/discrepancies.md
  content/00.build/40.tooling/30.foundry/migration-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix nits
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/40.tooling/30.foundry/20.getting-started.md
  content/00.build/40.tooling/30.foundry/30.discrepancies.md
  content/00.build/40.tooling/30.foundry/40.migration-to-zksync.md
  content/00.build/40.tooling/30.foundry/_dir.yml
  content/00.build/60.test-and-debug/50.foundry.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix spelling
  content/00.build/40.tooling/30.foundry/40.migration-to-zksync.md
  cspell-config/cspell-zksync.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update hardhat pages (#206)
  content/00.build/00.index.md
  content/00.build/40.tooling/20.hardhat/00.index.md
  content/00.build/40.tooling/20.hardhat/10.installation.md
  content/00.build/40.tooling/20.hardhat/20.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/20.guides/30.migrating-to-zksync_old.md
  content/00.build/40.tooling/20.hardhat/20.guides/40.compiling-libraries.md
  content/00.build/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.build/40.tooling/20.hardhat/30.plugins/120.hardhat-zksync-node.md
  content/00.build/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.build/40.tooling/20.hardhat/30.plugins/35.hardhat-zksync.md
  content/00.build/40.tooling/20.hardhat/30.plugins/40.hardhat-zksync-solc.md
  content/00.build/40.tooling/20.hardhat/30.plugins/50.hardhat-zksync-vyper.md
  content/00.build/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.build/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.build/40.tooling/20.hardhat/30.plugins/80.hardhat-zksync-verify.md
  content/00.build/40.tooling/20.hardhat/30.plugins/90.hardhat-zksync-verify-vyper.md
  content/00.build/40.tooling/30.foundry/10.overview.md
  content/00.build/60.test-and-debug/10.dockerized-l1-l2-nodes.md
  content/00.build/60.test-and-debug/20.in-memory-node.md
  content/00.build/65.developer-reference/30.ethereum-differences/30.libraries.md
  content/00.build/65.developer-reference/30.ethereum-differences/60.contract-deployment.md
  content/10.zk-stack/10.components/70.compiler/10.toolchain/10.index.md
  content/10.zk-stack/10.components/70.compiler/10.toolchain/20.solidity.md
  cspell-config/cspell-misc.txt
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  5195544ee03573562086ab050e7c8ce3bb93ea6d
Due: none

feat: add algolia search
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  bun.lockb
  package.json
  renovate.json
Due: prettier --list-different
