Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, cspell, markdownlint-cli2

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - cspell
  - markdownlint-cli2
'*.{json,yml}':
  - prettier --list-different

docs: fix syntax of callouts
  content/00.build/65.developer-reference/30.ethereum-differences/10.evm-instructions.md
  content/00.build/65.developer-reference/40.account-abstraction/50.paymasters.md
Due: cspell, markdownlint-cli2

docs: remove links in headers
  content/00.build/95.resources/50.contribution-track.md
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: cspell, markdownlint-cli2

fix: adds NPM warning
  content/00.build/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
Due: cspell, markdownlint-cli2

chore: fix lint-staged command
  .lintstagedrc.yml
Due: prettier --list-different

docs: remove line in disclaimers for zksync node
  content/20.zksync-node/00.index.md
Due: cspell, markdownlint-cli2

fix: adds NPM warning (#95)
  content/00.build/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
Due: cspell, markdownlint-cli2

chore: add contribution and update project docs
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
  content/00.build/90.contributing-to-documentation/30.documentation-styleguide.md
  cspell-config/cspell-misc.txt
Due: cspell, markdownlint-cli2

chore: update issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_report.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feedback.yml
  .github/pull_request_template.md
  .lintstagedrc.yml
  components/layout/Toc.vue
Due: prettier --list-different, eslint, cspell, markdownlint-cli2

chore: update code of conduct
  CODE_OF_CONDUCT.md
Due: cspell, markdownlint-cli2

docs: update ecosystem lists
  content/30.ecosystem/10.bridges.md
  content/30.ecosystem/30.data-indexers.md
Due: cspell, markdownlint-cli2

chore: fix id in gh issue form
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --list-different

docs: update contribution guidelines
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
Due: cspell, markdownlint-cli2

docs: update contribution track
  content/00.build/95.resources/50.contribution-track.md
Due: cspell, markdownlint-cli2

chore: fix lint-staged command (#96)
  .lintstagedrc.yml
Due: prettier --list-different

Replacing pnpx command with pnpm
  content/00.build/10.zksync-101/_hello-zksync/_hardhat_deploy_contract.md
  content/00.build/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/10.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.build/10.zksync-101/_testing/_hardhat_contract_testing.md
  content/00.build/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
Due: cspell, markdownlint-cli2

Replacing pnpx command with pnpm (#98)
  content/00.build/10.zksync-101/_hello-zksync/_hardhat_deploy_contract.md
  content/00.build/10.zksync-101/_paymasters/_approval_paymaster_flow.md
  content/00.build/10.zksync-101/_paymasters/_general_paymaster_flow.md
  content/00.build/10.zksync-101/_testing/_hardhat_contract_testing.md
  content/00.build/10.zksync-101/_upgrading/_beacon/_hardhat_beacon_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_transparent/_hardhat_transparent_contract_upgradability.md
  content/00.build/10.zksync-101/_upgrading/_uups/_hardhat_uups_contract_upgradability.md
Due: cspell, markdownlint-cli2

docs: fix formatting errors (#94)
  content/00.build/65.developer-reference/30.ethereum-differences/10.evm-instructions.md
  content/00.build/65.developer-reference/40.account-abstraction/50.paymasters.md
  content/00.build/95.resources/50.contribution-track.md
  content/10.zk-stack/20.running-a-zk-chain/10.locally.md
Due: cspell, markdownlint-cli2

chore(docs): update content for legal (#90)
  content/00.build/05.quick-start/4.erc20-token.md
  content/00.build/05.quick-start/5.paymasters-introduction.md
  content/00.build/10.zksync-101/50.paymaster.md
  content/00.build/95.resources/20.glossary.md
  content/20.zksync-node/00.index.md
  content/30.ecosystem/10.bridges.md
  content/30.ecosystem/30.data-indexers.md
  content/30.ecosystem/50.monitoring.md
  content/index.yml
  cspell-config/cspell-misc.txt
Due: prettier --list-different, cspell, markdownlint-cli2

chore: update project docs (#97)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_report.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feedback.yml
  .github/pull_request_template.md
  .lintstagedrc.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  components/layout/Toc.vue
  content/00.build/90.contributing-to-documentation/20.contribution-guidelines.md
  content/00.build/90.contributing-to-documentation/30.documentation-styleguide.md
  cspell-config/cspell-misc.txt
Due: prettier --list-different, eslint, cspell, markdownlint-cli2

chore: setup redirects for old urls
  .firebaserc
Due: none

chore: add additional url rewrites
  .firebaserc
Due: none

chore: fix rewrites reference in firebaserc
  .firebaserc
  firebase.json
Due: prettier --list-different

fix: remove empty redirect
  firebase.json
Due: prettier --list-different

fix: errors in redirects
  firebase.json
Due: prettier --list-different

docs: define name for account-abstraction directory
  content/00.build/65.developer-reference/40.account-abstraction/_dir.yml
Due: prettier --list-different

chore: remove link-checker from checks workflow
  .github/workflows/checks.yaml
Due: none

chore: define environment in workflows
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: prettier --list-different

chore: adjust workflow release
  .github/workflows/release.yml
  .releaserc
  bun.lockb
  package.json
Due: prettier --list-different

feat: removes message hashing
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_deploy_first/_remix_deploy_contract.md
Due: cspell, markdownlint-cli2

fix: updates screenshots
  public/images/101-quickstart/101-atlas-contract.png
  public/images/101-quickstart/101-atlas-deployed.png
  public/images/101-quickstart/101-contract-deployed.png
  public/images/101-quickstart/101-contract-events.png
  public/images/101-quickstart/101-remix-deploy.png
  public/images/101-quickstart/101-remix-interact.png
Due: none

Edit workflows (#100)
  .github/workflows/checks.yaml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  .releaserc
  bun.lockb
  package.json
Due: prettier --list-different

chore: setup redirects for old urls (#99)
  content/00.build/65.developer-reference/40.account-abstraction/_dir.yml
  firebase.json
Due: prettier --list-different

chore: add concurrency rules to workflows
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: prettier --list-different

Removes message hash from quickstart (#101)
  content/00.build/05.quick-start/3.deploy-your-first-contract.md
  content/00.build/05.quick-start/_deploy_first/_atlas_deploy_contract.md
  content/00.build/05.quick-start/_deploy_first/_remix_deploy_contract.md
  public/images/101-quickstart/101-atlas-contract.png
  public/images/101-quickstart/101-atlas-deployed.png
  public/images/101-quickstart/101-contract-deployed.png
  public/images/101-quickstart/101-contract-events.png
  public/images/101-quickstart/101-remix-deploy.png
  public/images/101-quickstart/101-remix-interact.png
Due: cspell, markdownlint-cli2

chore: add assignees to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feedback.yml
Due: prettier --list-different

chore: fix yaml errors in issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feedback.yml
Due: prettier --list-different

docs: add dappradar links to ecosystem pages
  content/30.ecosystem/00.index.md
  content/30.ecosystem/10.bridges.md
  content/30.ecosystem/100.wallets.md
  content/30.ecosystem/30.data-indexers.md
  content/30.ecosystem/70.nft-marketplaces.md
  content/30.ecosystem/80.oracles.md
  content/30.ecosystem/90.node-providers.md
Due: cspell, markdownlint-cli2

chore: add concurrency rules to workflows (#102)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feedback.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: prettier --list-different

docs: fix link for feedback
  components/layout/Toc.vue
Due: prettier --list-different, eslint

docs: small edits to build pages
  bun.lockb
  content/00.build/00.index.md
  content/00.build/01.connect-to-zksync.md
Due: cspell, markdownlint-cli2
