Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

docs: more session interface details
  content/00.build/30.zksync-sso/25.interfaces.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: clarify
  content/00.build/65.developer-reference/40.account-abstraction/50.signature-validation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: replace hardhat examples
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  examples/hardhat-sol-template/deploy/deploy-greeter.ts
  examples/hardhat-sol-template/package.json
  examples/hardhat-sol/deploy/deploy-main.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: revert changes on another PR
  content/00.build/65.developer-reference/40.account-abstraction/50.signature-validation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: cleanup example files
  examples/.gitignore
  examples/LICENSE
  examples/hardhat-sol-template/.gitignore
  examples/hardhat-sol-template/contracts/erc20/MyERC20Token.sol
  examples/hardhat-sol-template/contracts/nft/MyNFT.sol
  examples/hardhat-sol-template/contracts/paymasters/ApprovalPaymaster.sol
  examples/hardhat-sol-template/contracts/paymasters/GeneralPaymaster.sol
  examples/hardhat-sol-template/deploy/erc20/deploy.ts
  examples/hardhat-sol-template/deploy/nft/deploy.ts
  examples/hardhat-sol/.gitignore
  examples/hardhat-sol/LICENSE
  examples/hardhat-vyper-template/LICENSE
Due: prettier --list-different, eslint

docs: updated transaction fee
  content/00.build/30.zksync-sso/40.transaction-fees.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add better comments and naming
  nuxt.config.ts
  server/plugins/code-snippet-import.ts
Due: prettier --list-different, eslint

docs: update to latest interface
  content/00.build/30.zksync-sso/25.interfaces.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: update getting started to latest interface
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/50.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/30.zksync-sso/50.getting-started.md
  content/00.build/30.zksync-sso/50.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update interfaces and move getting started section up
  content/00.build/30.zksync-sso/00.index.md
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update main sso page, add links to interfaces and examples
  content/00.build/30.zksync-sso/00.index.md
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: use sepolia testnet instead of mainnet
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: lint
  content/00.build/30.zksync-sso/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update transfer policy interface
  content/00.build/30.zksync-sso/25.interfaces.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: ZKsync SSO Docs (#251)
  bun.lockb
  content/00.build/30.zksync-sso/00.index.md
  content/00.build/30.zksync-sso/10.architecture.md
  content/00.build/30.zksync-sso/100.faqs.md
  content/00.build/30.zksync-sso/20.features.md
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/30.transaction-flow.md
  content/00.build/30.zksync-sso/40.transaction-fees.md
  content/00.build/30.zksync-sso/5.getting-started.md
  content/00.build/30.zksync-sso/60.supported-environments.md
  content/00.build/30.zksync-sso/_dir.yml
  cspell-config/cspell-dev.txt
  cspell-config/cspell-misc.txt
  public/images/zksync-sso/zksync-sso-architecture.png
  public/images/zksync-sso/zksync-sso-create-passkey.png
  public/images/zksync-sso/zksync-sso-create-session.png
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  c7ad824591da6fd176e16d5c8bb3fb6d637adb5e
Due: none

feat: add code-import plugin, start importing code in hardhat tooling section (#257)
  content/00.build/40.tooling/20.hardhat/20.guides/10.getting-started.md
  content/00.build/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.build/40.tooling/20.hardhat/20.guides/40.compiling-libraries.md
  examples/.gitignore
  examples/LICENSE
  examples/hardhat-sol-template/.env.example
  examples/hardhat-sol-template/.npmrc
  examples/hardhat-sol-template/bun.lockb
  examples/hardhat-sol-template/contracts/Greeter.sol
  examples/hardhat-sol-template/deploy/deploy-greeter.ts
  examples/hardhat-sol-template/deploy/deploy.ts
  examples/hardhat-sol-template/deploy/interact.ts
  examples/hardhat-sol-template/deploy/utils.ts
  examples/hardhat-sol-template/hardhat.config.ts
  examples/hardhat-sol-template/package.json
  examples/hardhat-sol-template/test/greeter.test.ts
  examples/hardhat-sol-template/tsconfig.json
  examples/hardhat-sol/.env.example
  examples/hardhat-sol/.npmrc
  examples/hardhat-sol/bun.lockb
  examples/hardhat-sol/contracts/MiniMath/Main.sol
  examples/hardhat-sol/contracts/MiniMath/MiniMath.sol
  examples/hardhat-sol/deploy/deploy-main.ts
  examples/hardhat-sol/hardhat.config.ts
  examples/hardhat-sol/package.json
  examples/hardhat-sol/tsconfig.json
  examples/hardhat-vyper-template/.env.example
  examples/hardhat-vyper-template/bun.lockb
  examples/hardhat-vyper-template/contracts/Greeter.vy
  examples/hardhat-vyper-template/deploy/deploy.ts
  examples/hardhat-vyper-template/deploy/interact.ts
  examples/hardhat-vyper-template/deploy/utils.ts
  examples/hardhat-vyper-template/hardhat.config.ts
  examples/hardhat-vyper-template/package.json
  examples/hardhat-vyper-template/test/greeter.test.ts
  examples/hardhat-vyper-template/tsconfig.json
  nuxt.config.ts
  server/plugins/code-snippet-import.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  6f3ac70df7845eb2c78eb6ce7270c649ae9f3fb5
Due: none

docs: explain windows 10 alg limitation
  content/00.build/30.zksync-sso/60.supported-environments.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  18340f1d3737ad41a65795b651f3bb1c66d87d52
Due: none

fix: update sso sdk docs
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update sso sdk docs (#259)
  content/00.build/30.zksync-sso/25.interfaces.md
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  24d41cffc23dc05c1173a04e9c1435a71734c7ab
Due: none

fix: sso session config update
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add small comment
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: parameters and remove amount constraint
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sso session config update (#260)
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  1a25aa56335dc31143be269ed522ae3502e89cb9
Due: none

fix: sso config address format
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: sso config address format (#261)
  content/00.build/30.zksync-sso/5.getting-started.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  75fc958c4aaf7a666456c16d689ed731bc572a17
Due: none

docs: adding thirdweb section
  content/00.build/40.tooling/thirdweb/_dir.yml
  content/00.build/40.tooling/thirdweb/guides/_dir.yml
  content/00.build/40.tooling/thirdweb/guides/build-with-engine.md
  content/00.build/40.tooling/thirdweb/guides/connect-users.md
  content/00.build/40.tooling/thirdweb/guides/deploying-fiat-onramp.md
  content/00.build/40.tooling/thirdweb/guides/deploying-smart-contracts.md
  content/00.build/40.tooling/thirdweb/tooling/_dir.yml
  content/00.build/40.tooling/thirdweb/tooling/account-abstraction.md
  content/00.build/40.tooling/thirdweb/tooling/connecting-users.md
  content/00.build/40.tooling/thirdweb/tooling/indexer.md
  content/00.build/40.tooling/thirdweb/tooling/transaction-api.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update broken links
  content/10.zk-stack/10.components/70.compiler/20.specification/70.binary-layout.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.build/65.developer-reference/40.account-abstraction/50.signature-validation.md
  content/00.build/65.developer-reference/40.account-abstraction/50.signature-validation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: add ecrecover example (#256)
  content/00.build/65.developer-reference/40.account-abstraction/50.signature-validation.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0db5a668ac880219eb23af11ef2e018b70f11c05
Due: none
