Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

Notes added by 'git notes add'
  a7eec8e6aae09c993f4444adfbfe0dde79fafdf7
Due: none

docs: rename era folder, add index overview page
  content/20.zksync-protocol/30.zksync-era/00.index.md
  content/20.zksync-protocol/30.zksync-era/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: test nuxt template fix
  app.vue
  bun.lockb
  error.vue
  package.json
Due: prettier --list-different, eslint

chore: remove unused code
  header-links.ts
Due: prettier --list-different, eslint

chore: use latest next branch to test
  package.json
Due: prettier --list-different

fix: lock file
  bun.lockb
Due: none

fix: updated diagram
  public/images/zk-stack/prividium-architecture.png
Due: none

fix: updated
  content/10.zk-stack/35.prividium/05.architecture.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: updated diagram (#455)
  content/10.zk-stack/35.prividium/05.architecture.md
  public/images/zk-stack/prividium-architecture.png
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  aac7f9b6723d3b8648ac298eba9ad1b60031f496
Due: none

fix: try fix
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: try removing centered container
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: try removing image
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  content/10.zk-stack/35.prividium/00.overview.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: add redirects
  firebase.json
Due: prettier --list-different

fix: try fix
  content/10.zk-stack/35.prividium/00.index.md
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: debug
  content/10.zk-stack/35.prividium/00.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: debug
  content/10.zk-stack/35.prividiums/00.index.md
  content/10.zk-stack/35.prividiums/02.features.md
  content/10.zk-stack/35.prividiums/05.architecture.md
  content/10.zk-stack/35.prividiums/06.deployment.md
  content/10.zk-stack/35.prividiums/10.run-prividium-chain.md
  content/10.zk-stack/35.prividiums/20.proxy.md
  content/10.zk-stack/35.prividiums/30.permissions-overview.md
  content/10.zk-stack/35.prividiums/36.config/10.authentication.md
  content/10.zk-stack/35.prividiums/36.config/20.roles.md
  content/10.zk-stack/35.prividiums/36.config/30.permissions.md
  content/10.zk-stack/35.prividiums/36.config/40.users.md
  content/10.zk-stack/35.prividiums/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividiums/36.config/_dir.yml
  content/10.zk-stack/35.prividiums/40.sdk.md
  content/10.zk-stack/35.prividiums/50.explorer.md
  content/10.zk-stack/35.prividiums/_dir.yml
  content/10.zk-stack/35.prividiums/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_verifier.md
  content/10.zk-stack/35.prividiums/_partials/quickstart/_wallet.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove extra configs
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: try fix
  content/10.zk-stack/35.prividium/02.features.md
  content/10.zk-stack/35.prividium/05.architecture.md
  content/10.zk-stack/35.prividium/06.deployment.md
  content/10.zk-stack/35.prividium/10.run-prividium-chain.md
  content/10.zk-stack/35.prividium/20.proxy.md
  content/10.zk-stack/35.prividium/30.permissions-overview.md
  content/10.zk-stack/35.prividium/36.config/10.authentication.md
  content/10.zk-stack/35.prividium/36.config/20.roles.md
  content/10.zk-stack/35.prividium/36.config/30.permissions.md
  content/10.zk-stack/35.prividium/36.config/40.users.md
  content/10.zk-stack/35.prividium/36.config/60.selective-disclosure.md
  content/10.zk-stack/35.prividium/36.config/_dir.yml
  content/10.zk-stack/35.prividium/40.sdk.md
  content/10.zk-stack/35.prividium/50.explorer.md
  content/10.zk-stack/35.prividium/_dir.yml
  content/10.zk-stack/35.prividium/_partials/quickstart/_access.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_access2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_deploy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_ecosystem2.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_explorer.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_installs.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_interact.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_proxy.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_restart.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_server.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_verifier.md
  content/10.zk-stack/35.prividium/_partials/quickstart/_wallet.md
  content/10.zk-stack/35.prividium/index.md
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  content/10.zk-stack/35.prividium/0.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: cleanup
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: try fix
  content/10.zk-stack/35.prividium/01.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove configs
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: try config fix
  nuxt.config.ts
Due: prettier --list-different, eslint

docs: restore index page
  content/10.zk-stack/35.prividium/01.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

docs: nit
  content/10.zk-stack/35.prividium/01.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: test
  content/10.zk-stack/35.prividium/01.index.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: try fix
  firebase.json
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: try fix
  firebase.json
Due: prettier --list-different

chore: debug
  components/layout/DocsBase.vue
  components/layout/Toc.vue
Due: prettier --list-different, eslint

chore: debug
  components/layout/DocsBase.vue
  nuxt.config.ts
Due: prettier --list-different, eslint

chore: test
  components/layout/Toc.vue
  content/10.zk-stack/35.prividium/01.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: debug
  components/layout/DocsBase.vue
Due: prettier --list-different, eslint

chore: test (#457)
  components/layout/DocsBase.vue
  components/layout/Toc.vue
  content/10.zk-stack/35.prividium/01.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files
