Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: fmt
  content/20.zksync-protocol/25.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: Update audit list (#505)
  content/20.zksync-protocol/25.security/10.audits.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: correct API reference redirect loop
  firebase.json
Due: prettier --list-different

fix: stop API reference redirect loop (#506)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  814fdcf98a76788fd2e0a1421ae53e99a6c00abe
Due: none

feat: bundle guides
  .gitmodules
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/05.guides/05.local-setup.md
  content/00.zksync-network/45.zksync-connect/05.guides/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_ethers-bundles.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_foundry-bundles.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_hardhat-shared.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_viem-bundles.md
  content/00.zksync-network/45.zksync-connect/_partials/_foundry.md
  content/_partials/_zksyncos/_install-zksync-js.md
  content/_partials/_zksyncos/_run-script-interop.md
  examples/local-zksync-os/bun.lock
  examples/local-zksync-os/hardhat.config.ts
  examples/local-zksync-os/package.json
  examples/local-zksync-os/scripts/interop-counter-ethers.ts
  examples/local-zksync-os/scripts/interop-counter-viem.ts
  examples/local-zksync-os/scripts/interop-counter.ts
  examples/local-zksync-os/scripts/interop-solidity-demo.ts
  examples/zksync-os-foundry/script/InteropCounterDeployAndSendBundle.s.sol
  examples/zksync-os-foundry/script/InteropCounterFinalizeBundle.s.sol
  examples/zksync-os-foundry/script/get-proof-encoded.sh
  examples/zksync-os-foundry/src/InteropCounter.sol
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove lite reference
  content/00.zksync-network/68.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove lite reference (#507)
  content/00.zksync-network/68.zksync-era/60.ecosystem/10.bridges.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add asset transfer viem scripts
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_ethers-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_foundry-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_hardhat-shared-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_viem-asset-transfers.md
  content/_partials/_zksyncos/_run-script-interop-asset.md
  examples/local-zksync-os/.gitignore
  examples/local-zksync-os/bun.lock
  examples/local-zksync-os/contracts/InteropToken.sol
  examples/local-zksync-os/ignition/modules/InteropToken.ts
  examples/local-zksync-os/package.json
  examples/local-zksync-os/scripts/interop-asset-migration-viem.ts
  examples/local-zksync-os/scripts/interop-asset-transfer-ethers.ts
  examples/local-zksync-os/scripts/interop-asset-transfer-from-l1-viem.ts
  examples/local-zksync-os/scripts/interop-asset-transfer-viem.ts
  examples/local-zksync-os/scripts/interop-counter-viem.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: ethers asset transfer scripts
  examples/local-zksync-os/scripts/interop-asset-migration-ethers.ts
  examples/local-zksync-os/scripts/interop-asset-transfer-from-l1-ethers.ts
Due: prettier --list-different, eslint

chore: cleanup
  content/00.zksync-network/10.quick-start/_partials/hardhat/_hardhat-install-openzeppelin.md
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: hardhat asset transfer guides
  content/00.zksync-network/45.zksync-connect/05.guides/15.asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_ethers-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_hardhat-shared-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_viem-asset-transfers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: asset transfer w foundry
  content/00.zksync-network/45.zksync-connect/05.guides/05.local-setup.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_ethers-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_foundry-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_viem-asset-transfers.md
  examples/local-zksync-os/scripts/interop-asset-migration-ethers.ts
  examples/local-zksync-os/scripts/interop-asset-migration-viem.ts
  examples/zksync-os-foundry/script/InteropAssetMigration.s.sol
  examples/zksync-os-foundry/script/InteropAssetTransferDeployAndSendBundle.s.sol
  examples/zksync-os-foundry/script/InteropAssetTransferDeployToken.s.sol
  examples/zksync-os-foundry/script/InteropAssetTransferFinalizeBundle.s.sol
  examples/zksync-os-foundry/script/InteropAssetTransferFromL1.s.sol
  examples/zksync-os-foundry/script/InteropAssetTransferSendBundle.s.sol
  examples/zksync-os-foundry/script/get-migration-finalize-params.sh
  examples/zksync-os-foundry/script/get-proof-encoded.sh
  examples/zksync-os-foundry/src/InteropToken.sol
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

feat: draft updates messages guide
  content/00.zksync-network/45.zksync-connect/05.guides/20.interop-messages.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_ethers-messages.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_foundry-messages.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_viem-messages.md
  content/00.zksync-network/45.zksync-connect/30.messaging.md
  examples/hardhat-sol/contracts/InteropSendMessage.sol
  examples/hardhat-sol/package.json
  examples/hardhat-sol/scripts/interop/check-interop-root.ts
  examples/hardhat-sol/scripts/interop/check-status.ts
  examples/hardhat-sol/scripts/interop/get-verification-args-local.ts
  examples/hardhat-sol/scripts/interop/get-verification-args.ts
  examples/hardhat-sol/scripts/interop/send-message.ts
  examples/hardhat-sol/scripts/interop/test-local.ts
  examples/hardhat-sol/scripts/interop/test-onchain-verification.ts
  examples/hardhat-sol/scripts/interop/test-testnet.ts
  examples/hardhat-sol/scripts/interop/verify-message.ts
  examples/local-interop-foundry/contracts/InteropSendMessage.sol
  examples/local-interop-foundry/contracts/InteropVerification.sol
  examples/local-interop-foundry/script/get-message-verification-args.sh
  examples/local-interop-foundry/script/wait-for-message-root.sh
  examples/local-zksync-os/contracts/InteropSendMessage.sol
  examples/local-zksync-os/contracts/InteropVerification.sol
  examples/local-zksync-os/scripts/interop-check-interop-root-viem.ts
  examples/local-zksync-os/scripts/interop-check-interop-root.ts
  examples/local-zksync-os/scripts/interop-check-status-viem.ts
  examples/local-zksync-os/scripts/interop-check-status.ts
  examples/local-zksync-os/scripts/interop-get-verification-args-local-viem.ts
  examples/local-zksync-os/scripts/interop-get-verification-args-local.ts
  examples/local-zksync-os/scripts/interop-send-message-viem.ts
  examples/local-zksync-os/scripts/interop-send-message.ts
  examples/local-zksync-os/scripts/interop-test-onchain-verification-viem.ts
  examples/local-zksync-os/scripts/interop-test-onchain-verification.ts
  examples/local-zksync-os/scripts/interop-verify-message-viem.ts
  examples/local-zksync-os/scripts/interop-verify-message.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: cleanup
  content/00.zksync-network/45.zksync-connect/00.index.md
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

chore: cleanup asset transfer guide
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_asset-transfers-shared.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_ethers-asset-transfers.md
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_viem-asset-transfers.md
  content/_partials/_zksyncos/_run-script-interop-asset.md
  content/_partials/_zksyncos/_run-script-interop-migration.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: output
  content/_partials/_zksyncos/_run-script-interop-asset.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links
  content/00.zksync-network/45.zksync-connect/30.messaging.md
  content/00.zksync-network/68.zksync-era/00.index.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/20.running/25.gateway-settlement-layer.md
  content/20.zksync-protocol/05.gateway/10.features.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: foundry messaging guide
  content/00.zksync-network/45.zksync-connect/05.guides/_partials/_foundry-messages.md
  examples/local-interop-foundry/script/get-message-verification-args.sh
  examples/local-interop-foundry/script/wait-for-message-root.sh
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: feedback
  content/00.zksync-network/45.zksync-connect/20.crosschain-asset-transfers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: remove all chains from gateway
  data/chains.json
Due: prettier --list-different

feat: add interop fees page
  content/00.zksync-network/45.zksync-connect/10.transaction-bundles.md
  content/00.zksync-network/45.zksync-connect/40.interop-fees.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add link checker workflow
  .github/workflows/links.yaml
  .lycheeignore
Due: none

fix: config
  .github/workflows/links.yaml
Due: none

fix: config
  .github/workflows/links.yaml
  .lycheeignore
Due: none

fix: fixes
  .github/workflows/links.yaml
  .lycheeignore
  content/00.zksync-network/00.index.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/30.data-indexers.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/30.customizations/20.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: fix
  .github/workflows/links.yaml
Due: none

fix: folder
  .github/workflows/links.yaml
Due: none

fix: links
  .github/workflows/links.yaml
  .lycheeignore
  content/00.zksync-network/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.zksync-network/40.tooling/40.block-explorers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-network/70.contributing/10.index.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/00.rollup/70.data-availability.md
  content/20.zksync-protocol/02.zksyncos/02.bootloader.md
  content/20.zksync-protocol/02.zksyncos/03.execution-environment.md
  content/20.zksync-protocol/02.zksyncos/04.system.md
  content/20.zksync-protocol/02.zksyncos/07.runner-flow.md
  content/20.zksync-protocol/10.api/10.conventions.md
  content/20.zksync-protocol/25.security/10.audits.md
  content/20.zksync-protocol/30.era-vm/20.transactions/10.transaction-lifecycle.md
  content/20.zksync-protocol/30.era-vm/70.differences/60.contract-deployment.md
  content/_partials/_foundry-create-keystore.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: config, linkd
  .github/workflows/links.yaml
  .lycheeignore
  content/00.zksync-network/40.tooling/40.block-explorers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: links
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/10.bridges.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: link
  content/10.zk-stack/30.customizations/20.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: punctuation
  content/10.zk-stack/30.customizations/20.validium.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: add link checker workflow (#509)
  .github/workflows/links.yaml
  .lycheeignore
  content/00.zksync-network/00.index.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/100.faqs.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/23.sessions.md
  content/00.zksync-network/30.unique-features/30.zksync-sso/5.getting-started.md
  content/00.zksync-network/40.tooling/20.hardhat/30.plugins/100.hardhat-zksync-ethers.md
  content/00.zksync-network/40.tooling/40.block-explorers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/00.index.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/10.bridges.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/100.wallets.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/30.data-indexers.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/70.nft-marketplaces.md
  content/00.zksync-network/68.zksync-era/60.ecosystem/90.node-providers.md
  content/00.zksync-network/70.contributing/10.index.md
  content/10.zk-stack/10.zk-chains.md
  content/10.zk-stack/30.customizations/20.validium.md
  content/20.zksync-protocol/00.rollup/40.bridging-assets.md
  content/20.zksync-protocol/00.rollup/70.data-availability.md
  content/20.zksync-protocol/02.zksyncos/02.bootloader.md
  content/20.zksync-protocol/02.zksyncos/03.execution-environment.md
  content/20.zksync-protocol/02.zksyncos/04.system.md
  content/20.zksync-protocol/02.zksyncos/07.runner-flow.md
  content/20.zksync-protocol/10.api/10.conventions.md
  content/20.zksync-protocol/25.security/10.audits.md
  content/20.zksync-protocol/30.era-vm/20.transactions/10.transaction-lifecycle.md
  content/20.zksync-protocol/30.era-vm/70.differences/60.contract-deployment.md
  content/_partials/_foundry-create-keystore.md
  firebase.json
Due: prettier --list-different, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  ed245e06cf9d94b47816e067f88fba1e7b5a5e37
Due: none

docs: update DIA oracles section (#500)
  content/00.zksync-network/68.zksync-era/60.ecosystem/80.oracles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  6c023a82f76d0cac01512fcf69e69a61a2337570
Due: none

chore: add ZKsync OS and Airbender audit reports
  content/20.zksync-protocol/25.security/10.audits.md
  cspell-config/cspell-misc.txt
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
