Repository matter-labs/zksync-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

fix: redirects main site
  firebase.json
Due: prettier --list-different

fix: redirects main site (#314)
  firebase.json
Due: prettier --list-different

Notes added by 'git notes add'
  fc8a63bafb873e849797e1f3c361db0f92b7fc0e
Due: none

chore: fix several spelling errors
  content/00.zksync-era/10.guides/20.zksync-101/_upgrading/_transparent_proxy_contract_upgradability.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/10.architecture.md
  content/00.zksync-era/30.unique-features/30.zksync-sso/60.supported-environments.md
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/130.other-plugins.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/35.hardhat-zksync.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/60.hardhat-zksync-deploy.md
  content/00.zksync-era/40.tooling/20.hardhat/30.plugins/70.hardhat-zksync-upgradable.md
  content/00.zksync-era/40.tooling/90.zksync-cli/90.reference/25.zksync-cli-dev.md
  content/00.zksync-era/50.sdk/50.swift/40.api/03.utilities/00.index.md
  content/00.zksync-era/60.ecosystem/80.oracles.md
  content/00.zksync-era/60.ecosystem/90.node-providers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: 316, lists precompiles
  content/20.zksync-protocol/70.differences/40.pre-compiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: lists precompiles (#317)
  content/20.zksync-protocol/70.differences/40.pre-compiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  001bfcbb217009b6225ce30191c9f668d91e24a5
Due: none

fix: anvil with foundryup
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Update content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Apply suggestions from code review
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: removes cli
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: anvil with foundryup (#318)
  content/00.zksync-era/40.tooling/10.local-setup/10.anvil-zksync-node.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  0fc99cacd45e478796fcdde657ed76fb8b8b0b76
Due: none

fix: missed precompiles
  content/20.zksync-protocol/70.differences/40.pre-compiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: missed precompiles (#319)
  content/20.zksync-protocol/70.differences/40.pre-compiles.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  e510777f84e19b897415e5ec393f7c8ec6a0e0d9
Due: none

chore: add risks of passkeys for sso
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: typo
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: lint
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: additional info for first bullet point
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: additional context for first bullet
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: remove duplicate
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: hardhat quickstart new templates (#312)
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/10.getting-started.md
  examples/hardhat-sol-template/deploy/deploy-greeter.ts
  examples/hardhat-sol-template/deploy/deploy.ts
  examples/hardhat-sol-template/deploy/interact.ts
  examples/hardhat-sol-template/deploy/utils.ts
  examples/hardhat-sol-template/hardhat.config.ts
  examples/hardhat-sol-template/package.json
  examples/hardhat-sol-template/scripts/deploy.ts
  examples/hardhat-sol-template/scripts/interact.ts
  examples/hardhat-sol-template/test/erc20/myerc20token.test.ts
  examples/hardhat-sol-template/test/greeter.test.ts
  examples/hardhat-sol-template/test/nft/mynft.test.ts
  examples/hardhat-vyper-template/deploy/deploy.ts
  examples/hardhat-vyper-template/deploy/interact.ts
  examples/hardhat-vyper-template/deploy/utils.ts
  examples/hardhat-vyper-template/hardhat.config.ts
  examples/hardhat-vyper-template/package.json
  examples/hardhat-vyper-template/scripts/deploy.ts
  examples/hardhat-vyper-template/scripts/interact.ts
  examples/hardhat-vyper-template/test/greeter.test.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  233192e520ebfb2d4f5632243d5737d6d670f560
Due: none

fix: references to old file
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: filename
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: references to old file (#321)
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Notes added by 'git notes add'
  262bca2e648af8cda2aed6541c5a77cbf4cfa8f5
Due: none

chore: ensure build error fail preview job
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: update build preview
  .github/workflows/deploy-preview.yml
Due: prettier --list-different

fix: undo bad file
  content/00.zksync-era/40.tooling/20.hardhat/20.guides/20.migrating-to-zksync.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

fix: updates from security
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: address PR feedback
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: add risks of passkeys for sso (#320)
  content/00.zksync-era/30.unique-features/30.zksync-sso/24.passkeys.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

chore: ensure build error fail preview job (#322)
  .github/workflows/deploy-preview.yml
Due: prettier --list-different

chore: fix sentence
  content/00.zksync-era/30.unique-features/30.zksync-sso/23.sessions.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds verification API endpoints
  content/00.zksync-era/20.environment/00.index.md
  content/00.zksync-era/40.tooling/40.block-explorers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Apply suggestions from code review
  content/00.zksync-era/40.tooling/40.block-explorers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

feat: adds verification API endpoints (#324)
  content/00.zksync-era/20.environment/00.index.md
  content/00.zksync-era/40.tooling/40.block-explorers.md
Due: markdownlint-cli2, cspell lint --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --no-must-find-files --files: any of: *.md
